<!--
	作者：徐邦圣
	时间：2017-11-25
	描述：企业微信后台管理页面，考勤管理模块，点新增考勤时间段按钮后跳转到该界面，即新增考勤时间段记录界面
-->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>新增考勤时间段</title>
		<!--<link rel="stylesheet" href="../../css/weui.min.css" />
		<link href="../../css/mui.min.css" rel="stylesheet" />-->
		<style>
			.weui-cells {
				margin-top: 0px;
			}
			
			.weui-cells__title {
				color: black;
			}
		</style>
	</head>

	<body>
		<!--<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		</header>-->
		<!--<template>-->
		<div id="conetent" class="weui-cells weui-cells_form mui-hidden">
			<h3 style="text-align: center;">新增考勤时间段</h3>

			<!--输入列表-->
			<div id="input_list">
				<div>
					<div class="weui-cells__title">考勤类型说明：
						<select id="attendTypeNote" name="sel" onFocus="Myselect()">
							<option value=""></option>
						</select>
					</div>
					<!--<div>
						<div>
							<div>
								<input id="beginHour" v-model.lazy="cname.message" class="weui-input" type="text" :placeholder="'请'">
								<select id="attendTypeNote" name="sel" onFocus="Myselect()">
									<option value=""></option>
								</select>
							</div>
						</div>
					</div>-->
					<br />
					<div class="weui-cells__title">打卡开始时间：
						<select id="beginHour">
							<option value=""></option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
						</select>
						时
						<select id="beginMinute">
							<option value=""></option>
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
							<option value="32">32</option>
							<option value="33">33</option>
							<option value="34">34</option>
							<option value="35">35</option>
							<option value="36">36</option>
							<option value="37">37</option>
							<option value="38">38</option>
							<option value="39">39</option>
							<option value="40">40</option>
							<option value="41">41</option>
							<option value="42">42</option>
							<option value="43">43</option>
							<option value="44">44</option>
							<option value="45">45</option>
							<option value="46">46</option>
							<option value="47">47</option>
							<option value="48">48</option>
							<option value="49">49</option>
							<option value="50">50</option>
							<option value="51">51</option>
							<option value="52">52</option>
							<option value="53">53</option>
							<option value="54">54</option>
							<option value="55">55</option>
							<option value="56">56</option>
							<option value="57">57</option>
							<option value="58">58</option>
							<option value="59">59</option>
						</select>
						分
					</div>
					<br />
					<div class="weui-cells__title">上班或下班时间：
						<select id="workTimePoint_Hour">
							<option value=""></option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
						</select>
						时
						<select id="workTimePoint_Minute">
							<option value=""></option>
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
							<option value="32">32</option>
							<option value="33">33</option>
							<option value="34">34</option>
							<option value="35">35</option>
							<option value="36">36</option>
							<option value="37">37</option>
							<option value="38">38</option>
							<option value="39">39</option>
							<option value="40">40</option>
							<option value="41">41</option>
							<option value="42">42</option>
							<option value="43">43</option>
							<option value="44">44</option>
							<option value="45">45</option>
							<option value="46">46</option>
							<option value="47">47</option>
							<option value="48">48</option>
							<option value="49">49</option>
							<option value="50">50</option>
							<option value="51">51</option>
							<option value="52">52</option>
							<option value="53">53</option>
							<option value="54">54</option>
							<option value="55">55</option>
							<option value="56">56</option>
							<option value="57">57</option>
							<option value="58">58</option>
							<option value="59">59</option>
						</select>
						分
					</div>
					<br />

					<div class="weui-cells__title">打卡结束时间：
						<select id="cardEndTimePoint_Hour">
							<option value=""></option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
						</select>
						时
						<select id="cardEndTimePoint_Minute">
							<option value=""></option>
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
							<option value="32">32</option>
							<option value="33">33</option>
							<option value="34">34</option>
							<option value="35">35</option>
							<option value="36">36</option>
							<option value="37">37</option>
							<option value="38">38</option>
							<option value="39">39</option>
							<option value="40">40</option>
							<option value="41">41</option>
							<option value="42">42</option>
							<option value="43">43</option>
							<option value="44">44</option>
							<option value="45">45</option>
							<option value="46">46</option>
							<option value="47">47</option>
							<option value="48">48</option>
							<option value="49">49</option>
							<option value="50">50</option>
							<option value="51">51</option>
							<option value="52">52</option>
							<option value="53">53</option>
							<option value="54">54</option>
							<option value="55">55</option>
							<option value="56">56</option>
							<option value="57">57</option>
							<option value="58">58</option>
							<option value="59">59</option>
						</select>
						分
					</div>
					<!--<div class="weui-cells">
						<div class="weui-cell">
							<div class="weui-cell__bd">
								<input id="beginHour" v-model.lazy="cname.message" class="weui-input" type="text" :placeholder="'请'">
								<select id="beginHour">
									<option value=""></option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
								</select>
							</div>
						</div>
					</div>-->
				</div>
				<br />
				<div>
					<!--<div class="weui-cells__title">{{linkurl.title+" (有链接时，不允许投稿；链接默认打开。)"}}</div>-->
					<!--<div class="weui-cell__ft" style="margin-top: -35px;margin-right: 15px;">
						<input class="weui-switch" type="checkbox" v-model="islink.check">
					</div>-->
					<!--<div v-if="islink.check" class="weui-cells">-->
					<!--<div class="weui-cells__title">打卡开始时间：-->

					<!--</div>-->
					<!--<div class="weui-cell">
						<div class="weui-cell__bd">
							<input id="beginMinute" class="weui-input" type="text" :placeholder="'请输入考勤开始时间'">
							<select id="beginMinute">
								<option value=""></option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
								<option value="32">32</option>
								<option value="33">33</option>
								<option value="34">34</option>
								<option value="35">35</option>
								<option value="36">36</option>
								<option value="37">37</option>
								<option value="38">38</option>
								<option value="39">39</option>
								<option value="40">40</option>
								<option value="41">41</option>
								<option value="42">42</option>
								<option value="43">43</option>
								<option value="44">44</option>
								<option value="45">45</option>
								<option value="46">46</option>
								<option value="47">47</option>
								<option value="48">48</option>
								<option value="49">49</option>
								<option value="50">50</option>
								<option value="51">51</option>
								<option value="52">52</option>
								<option value="53">53</option>
								<option value="54">54</option>
								<option value="55">55</option>
								<option value="56">56</option>
								<option value="57">57</option>
								<option value="58">58</option>
								<option value="59">59</option>
							</select>
						</div>
					</div>-->
					<!--</div>-->
				</div>
				<!--<br />-->
				<!--<div>
					<div class="weui-cells__title">正常打卡持续分钟数：<input size="5" id="continuousTime" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"></div>
					<div class="weui-cells">
						<div class="weui-cell">
							<div class="weui-cell__bd">
								<input id="continuousTime" class="weui-input" type="number" :placeholder="'请输入考勤持续时间'">
								<input id="continuousTime" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
							</div>
						</div>
					</div>
				</div>-->
				<!--<br />-->
				<!--<div>
					<div class="weui-cells__title">异常打卡（迟到、早退）持续分钟数：<input size="5" id="lateMinutes" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"></div>
					<div class="weui-cells">
						<div class="weui-cell">
							<div class="weui-cell__bd">
								<input id="lateMinutes" class="weui-input" type="text" :placeholder="'请输入考勤迟到时间'">
								<input size="5" id="lateMinutes" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">

							</div>
						</div>
					</div>
				</div>-->

				<div>
					<div class="weui-cells__title">考勤短信内容：</div>
					<div style="margin-left: 109px; margin-top: -20px;"><textarea rows="8" cols="50" style=" resize:none;" id="attendMessage" class="weui-input" type="text"></textarea></div>
					<div style="color: #737373;
				font-size: 13px;">请输入考勤短信内容，#N代表考勤人姓名，#T代表考勤时间，#A代表考勤地点，举例：#T#N在#A上午上班签到</div>
					<!--<div class="weui-cells">
						<div class="weui-cell">
							<div class="weui-cell__bd">

								<input id="attendMessage" class="weui-input" type="text" :placeholder="''">
								<h6>请输入考勤短信内容，#N代表考勤人姓名，#T代表考勤时间，#A代表考勤地点，举例：#T#N在#A上午上班签到</h6>
							</div>
						</div>
					</div>-->
				</div>
			</div>
			<!--开关列表-->
			<div id="switch_list">
				<!--<div>
					<div class="weui-cell weui-cell_switch">
						<div class="weui-cell__bd">{{islink.title}}</div>
						<div class="weui-cell__ft">
							<input class="weui-switch" type="checkbox" v-model="islink.check">
						</div>
					</div>
				</div>-->

				<!--<div>
					<div class="weui-cell weui-cell_switch">
						<div class="weui-cell__bd">{{iswrite.title}}</div>
						<div class="weui-cell__ft">
							<input :disabled="(islink.check)||(iswrite_all==0)" class="weui-switch" type="checkbox" v-model="iswrite.check">
						</div>
					</div>
				</div>

				<div>
					<div class="weui-cell weui-cell_switch">
						<div class="weui-cell__bd">{{istop.title}}</div>
						<div class="weui-cell__ft">
							<input class="weui-switch" type="checkbox" v-model="istop.check">
						</div>
					</div>
				</div>-->
			</div>
			<br />
			<div class="weui-btn-area" style="margin-left:200px; ">
				<button id="submit" v-on:click="submitClick" class="weui-btn weui-btn_primary">添加</button>
			</div>
		</div>
		<!--</template>-->
		<script src="../../js/mui.min.js"></script>
		<!--<script type="text/javascript" src="../../js/weui.min.js"></script>-->
		<script type="text/javascript" src="../../js/vue.min.js"></script>
		<!--<script type="text/javascript" src="../../js/jweixin.js"></script>-->
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../js/importJS.js?" + Math.random() + "'></s" + "cript>");
		</script>
		<script>
			console.log(11111111111111);
			var corpId = "";
			var attendTypeId;
			var selectArray = new Array();
			var optionValueArray = new Array();
			var optionAttendTypePropertyArray = new Array();
			//			window.onload = function() {
			console.log(222222222222222222);
			attendTypeId = getUrlParam('attendTypeId');
			console.log("attendTypeId===" + JSON.stringify(attendTypeId));
			//				getNote();

			function getUrlParam(name) {

				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
				var r = window.location.search.substr(1).match(reg); //匹配目标参数
				if(r != null) {

					return decodeURI(unescape(r[2]));
				} else {
					return null; //返回参数值
				}

			}
			/**
			 * 页面一加载，向顾工c#接口代码请求该操作者的信息，目的是拿到该操作者的单位标识
			 */
			var tempData = {
				cmd: 'userinfo',
				type: 'findpage',
				colv: ''
			}

			$.ajax({
				url: "https://jsypay.jiaobaowang.net/wxth/appschweb/schwebapi.aspx",
				type: "POST",
				data: JSON.stringify(tempData),
				timeout: 1000,
				dataType: "json",
				async: false,
				success: function(data) {
					console.log("用户基本信息==============" + JSON.stringify(data))
					if(data.RspCode == 0) {
						var rep = JSON.parse(data.RspData);

						corpId = rep.corpid;

					} else if(data.RspCode == 7) {
						//							$.toast("登录超时，请重新进入企业微信后台管理端", "cancel", function() {
						//								console.log('close');
						//							});
						alert("登录超时，请重新进入企业微信后台管理端");
					}
				},
				error: function() {
					console.log("error");
				}
			})
			//给corpId赋值假数据
//			corpId = "wx6c4528c675d4a9c9";
			/**
			 * 获取考勤类型记录数据列表
			 */

			var requestDataForAttendType = {
				"corpId": corpId, //暂时写死，此值是从顾工c#接口中获取登陆者的单位标识
				"pageIndex": 1,
				"pageSize": 0,
				"uuid": "",
				"appid": "",
				"token": "",
				"sign": ""
			}
			$.ajax({
				type: "post",
				url: "https://jbyj.jiaobaowang.net/AttendanceService/getAttendType", //应该是绑定.9机器的域名，考勤管理模块应该也是部署在此阿里云服务机器上。
				async: false,
				data: JSON.stringify(requestDataForAttendType),
				success: function(data) {
					console.log("data====" + JSON.stringify(data));
					if(data.RspCode == 0) {
						for(i = 0, len = data.RspData.Data.length; i < len; i++) {
							console.log("data.RspData.Data[i]====" + data.RspData.Data[i]);
							selectArray.push(data.RspData.Data[i].AttendTypeNote);
							optionValueArray.push(data.RspData.Data[i].AttendTypeId);
							optionAttendTypePropertyArray.push(data.RspData.Data[i].attendTypeProp);
						}

						//							column_table.dt = data.RspData.Data;

					}
				},
				error: function() {
					alert("获取考勤类型记录失败");
				}
			})
			console.log("selectArray--==========" + selectArray);
			console.log("selectArray---json======" + JSON.stringify(selectArray));
			console.log("optionAttendTypePropertyArray---json======" + JSON.stringify(optionAttendTypePropertyArray));
			//	getWebsitConfig();
			/**
			 * 从考勤类型列表数据每一行记录点超链接跳转到此页面，将考勤类型记录对象得到，detail即是
			 */
			var detail = utils.getDataFromUrl(window.location.href);
			console.log("detail " + JSON.stringify(detail));

			//所需要的考勤类型记录的编号
			//								attendTypeId=detail.AttendTypeId;
			//			attendTypeId = 5
			//				vm.type = detail.type;
			//				if(vm.type == 'edit') {
			//					var tempData = {
			//						cmd: 'chn',
			//						type: 'findpage',
			//						pagesize: '1',
			//						pageindex: '1',
			//						chnid: detail.chnid
			//						//				cname: '',
			//						//				stat: '',
			//						//				iswrite: '',
			//						//				islink: ''
			//					}
			//					unitWebsitePro(tempData, function(data) {
			//						//				alert(JSON.stringify(data));
			//						if(data.RspCode == 0) {
			//							detail = data.RspData.dt[0];
			//							vm.editName = '删除'
			//							vm.colid = detail.chnid;
			//							vm.cname.message = detail.cname;
			//							vm.orderid.message = detail.orderid;
			//							vm.linkurl.message = detail.linkurl;
			//							vm.islink.check = detail.islink == 1 ? true : false;
			//							vm.iswrite.check = detail.iswrite == 1 ? true : false;
			//							vm.istop.check = detail.istop == 1 ? true : false;
			//							vm.note.message = detail.note
			//							for(var item in vm.$data) {
			//								(function addwatch(key) {
			//									vm.$watch(key + '.message', function(newVal, oldVal) {
			//										edit(oldVal, newVal, key)
			//									})
			//									vm.$watch(key + '.check', function(newVal, oldVal) {
			//										edit(oldVal, newVal, key)
			//									})
			//								})(item)
			//
			//							}
			//						} else {
			//							alert(data.RspTxt);
			//						}
			//					});
			//
			//				} else {
			//					vm.editName = '添加'
			//					vm.$watch('islink.check', function(newVal, oldVal) {
			//						edit(oldVal, newVal, 'islink')
			//					})
			//				}
			document.getElementById("conetent").className = "weui-cells weui-cells_form"

			//			}

			var vm = new Vue({
				el: '#conetent',
				data: {
					editName: '',
					iswrite_all: 1,
					cname: {
						title: "栏目名称",
						message: ""
					},
					linkurl: {
						title: "链接url",
						message: ""
					},
					orderid: {
						title: "排序ID",
						message: ""
					},
					islink: {
						title: "是否为链接",
						check: true
					},
					iswrite: {
						title: "是否允许投稿",
						check: false
					},
					istop: {
						title: "是否显示首页",
						check: false
					},
					note: {
						title: "备注",
						message: ""
					}
				},
				methods: {
					resetData: function() { //重置数据
						Object.assign(this.$data, getDefaultData());
					},
					submitClick: function() {
						//alert(99);
						//提交前先判断。如果都不为空，则允许提交
						/**
						 * 得到各input输入框的值
						 */
						var selectObject_Note = document.getElementById("attendTypeNote");
						var optionObjectNoteIndex = selectObject_Note.selectedIndex;
						//得到考勤类型说明每个选项的自定义的考勤类型属性值
						var optionObjectNoteProperty = selectObject_Note.options[optionObjectNoteIndex].getAttribute("attendTypeProperty");
						console.log("optionObjectNoteProperty====" + optionObjectNoteProperty);
						var optionObjectNoteText = selectObject_Note.options[optionObjectNoteIndex].text;
						console.log("optionObjectNoteText======" + optionObjectNoteText);
						var optionObjectNoteValue = selectObject_Note.options[optionObjectNoteIndex].value;
						console.log("optionObjectNoteValue=====" + optionObjectNoteValue);
						var selectElementObject_M = document.getElementById("beginMinute");
						//						console.log("selectElementObject===" + selectElementObject_M);
						var optionElementObjectIndex_M = selectElementObject_M.selectedIndex;
						//						console.log("optionElementObjectIndex===" + optionElementObjectIndex_M);
						var optionElementText_M = selectElementObject_M.options[optionElementObjectIndex_M].text;
						console.log("optionElementText_M====" + optionElementText_M);

						//						var beginHour = document.getElementById("beginHour").value;
						//alert("attendAdressValue==="+attendAdressValue);
						var beginMinute = optionElementText_M;
						var selectElementObject_H = document.getElementById("beginHour");
						//						console.log("selectElementObject===" + selectElementObject);
						var optionElementObjectIndex_H = selectElementObject_H.selectedIndex + 1;
						console.log("optionElementObjectIndex_H===" + optionElementObjectIndex_H);
						var optionElementText_H = selectElementObject_M.options[optionElementObjectIndex_H].text;
						console.log("optionElementText_H====" + optionElementText_H);
						var beginHour = optionElementText_H;
						//						var lateMinutes = document.getElementById("lateMinutes").value;
						//						var continuousTime = document.getElementById("continuousTime").value;

						//获取上、下班时间小时值.代码开始
						var selectObject_WH = document.getElementById("workTimePoint_Hour");
						//						console.log("selectElementObject===" + selectElementObject);
						var optionObjectIndex_WH = selectObject_WH.selectedIndex;
						//						console.log("optionElementObjectIndex_H===" + optionElementObjectIndex_H);
						var optionElementText_WH = selectObject_WH.options[optionObjectIndex_WH].text;
						//						console.log("optionElementText_H====" + optionElementText_H);
						var workTimePoint_Hour = optionElementText_WH;
						//获取上、下班时间小时值.代码结束

						//获取上、下班时间分钟值.代码开始
						var selectObject_WM = document.getElementById("workTimePoint_Minute");
						//						console.log("selectElementObject===" + selectElementObject);
						var optionObjectIndex_WM = selectObject_WM.selectedIndex;
						//						console.log("optionElementObjectIndex_H===" + optionElementObjectIndex_H);
						var optionElementText_WM = selectObject_WM.options[optionObjectIndex_WM].text;
						//						console.log("optionElementText_H====" + optionElementText_H);
						var workTimePoint_Minute = optionElementText_WM;
						//获取上、下班时间分钟值.代码结束

						//获取打卡结束时间小时值.代码开始
						var selectObject_CEH = document.getElementById("cardEndTimePoint_Hour");
						//						console.log("selectElementObject===" + selectElementObject);
						var optionObjectIndex_CEH = selectObject_CEH.selectedIndex;
						//						console.log("optionElementObjectIndex_H===" + optionElementObjectIndex_H);
						var optionElementText_CEH = selectObject_CEH.options[optionObjectIndex_CEH].text;
						//						console.log("optionElementText_H====" + optionElementText_H);
						var cardEndTimePoint_Hour = optionElementText_CEH;
						//获取打卡结束时间小时值.代码结束

						//获取打卡结束时间分钟值.代码开始
						var selectObject_CEM = document.getElementById("cardEndTimePoint_Minute");
						//						console.log("selectElementObject===" + selectElementObject);
						var optionObjectIndex_CEM = selectObject_CEM.selectedIndex;
						//						console.log("optionElementObjectIndex_H===" + optionElementObjectIndex_H);
						var optionElementText_CEM = selectObject_CEM.options[optionObjectIndex_CEM].text;
						//						console.log("optionElementText_H====" + optionElementText_H);
						var cardEndTimePoint_Minute = optionElementText_CEM;
						//获取打卡结束时间分钟值.代码结束

						var attendMessage = document.getElementById("attendMessage").value;
						console.log("beginHour-====" + beginHour + "\nbeginMinute====" + beginMinute + "\nworkTimePoint_Hour=" + workTimePoint_Hour + "\nworkTimePoint_Minute===" + workTimePoint_Minute + "\ncardEndTimePoint_Hour==" + cardEndTimePoint_Hour + "\ncardEndTimePoint_Minute==" + cardEndTimePoint_Minute);

						/**
						 * 计算接口传参所需值
						 */

						var continuousTime; //正常打卡持续时间
						var lateMinutes; //异常打卡持续时间
						if(optionObjectNoteProperty == 1) { //属性是上班
//							console.log("(workTimePoint_Hour * 60 + workTimePoint_Minute)===="+workTimePoint_Hour * 60 + workTimePoint_Minute)
//							console.log("(beginHour * 60 + beginMinute)==="+beginHour * 60 + beginMinute)
							continuousTime = (workTimePoint_Hour * 60 +parseInt( workTimePoint_Minute)) - (beginHour * 60 + parseInt(beginMinute));
							lateMinutes = (cardEndTimePoint_Hour * 60 + parseInt(cardEndTimePoint_Minute)) - (workTimePoint_Hour * 60 + parseInt(workTimePoint_Minute));
						} else {
							continuousTime = (cardEndTimePoint_Hour * 60 + parseInt(cardEndTimePoint_Minute)) - (workTimePoint_Hour * 60 + parseInt(workTimePoint_Minute));
							lateMinutes = (workTimePoint_Hour * 60 + parseInt(workTimePoint_Minute)) - (beginHour * 60 + parseInt(beginMinute));
						}

						console.log("continuousTime====" + continuousTime);
						console.log("lateMinutes====" + lateMinutes);
						if(optionObjectNoteText == "") {
							alert("考勤类型说明不能为空！");
							return;
						} else if(beginHour == "" || beginHour == 0) {
							alert("打卡开始时间（小时）不能为空！");
							return;
						} else if(beginMinute == "") {
							alert("打卡开始时间（分钟）不能为空！");
							return;
						} else if(workTimePoint_Hour == "" || workTimePoint_Hour == 0) {
							alert("上班或下班时间（小时）不能为空！");
							return;
						} else if(workTimePoint_Minute == "") {
							alert("上班或下班时间（分钟）不能为空！");
							return;
						} else if(cardEndTimePoint_Hour == "" || cardEndTimePoint_Hour == 0) {
							alert("打卡结束时间（小时）不能为空！");
							return;
						} else if(cardEndTimePoint_Minute == "") {
							alert("打卡结束时间（分钟）不能为空！");
							return;
						} else if(attendMessage == "") {
							alert("考勤短信内容不能为空！");
							return;
						} else {
							//input 输入框的值都填写了，则提交，进行添加。
							var tempData = {
								"corpId": corpId,
								"attendType": optionObjectNoteValue,
								"beginHour": beginHour,
								"beginMinute": beginMinute,
								"continuousMinute": continuousTime,
								"lateMinute": lateMinutes,
								"attendMessage": attendMessage,
								"uuid": "",
								"appid": "",
								"token": "",
								"sign": ""
							}
							console.log("tempData=====" + JSON.stringify(tempData));
							$.ajax({
								url: "https://jbyj.jiaobaowang.net/AttendanceService/addAttendTime",
								type: "POST",
								data: JSON.stringify(tempData),
								timeout: 1000,
								dataType: "json",
								async: false,
								success: function(data) {
									console.log("新增考勤时间段接口返回的情况======" + JSON.stringify(data));
									/**
									 * 如果接口返回正常，则跳转到显示考勤地点页面
									 */
									if(data.RspCode == 0) {
										//给用户提示，添加成功
										alert("添加成功");
										//										window.location = "../pcWeb-HUI/attendenceManage.html";

									} else if(data.RspCode == 1018) {
										alert("签到时间不能交叉");
									} else if(data.RspCode == 1019) {
										alert("同一个考勤类型记录也只能有一个时间段");
									}
								},
								error: function() {
									//									$.toast("状态错误，请重新进入APP", "cancel", function() {
									//										console.log('close');
									//									});
									alert("状态错误，请重新进入企业微信后台管理");
								}
							})
						}

						//						if(vm.type == 'add') { //添加栏目
						//							alert(000)
						//							var para = {
						//								cmd: 'chn',
						//								type: 'add',
						//								cname: vm.cname.message,
						//								islink: boolToInt(vm.islink.check),
						//								linkurl: vm.linkurl.message,
						//								iswrite: boolToInt(vm.iswrite.check),
						//								note: vm.note.message,
						//								orderid: vm.orderid.message,
						//								pid: 0,
						//								istop: boolToInt(vm.istop.check)
						//							}
						//							if(para.cname==""){
						//								alert("请输入栏目名称");
						//								return;
						//							}
						//							if(para.islink==1&&para.linkurl==''){
						//								alert("请输入链接地址");
						//								return;
						//							}
						//							if(para.note==""){
						//								alert("请输入备注");
						//								return;
						//							}
						//
						//							var reg = /^[1-9]\d*$/
						//								var numFlag = reg.test(vm.orderid.message);
						//								if(numFlag == false) {
						//									alert('请输入正确排序ID')
						//									return;
						//								}
						//							
						//							
						//							//							alert(JSON.stringify(para))
						//							unitWebsitePro(para, function(data) {
						//								if(data.RspCode == 0) {
						//									alert('添加成功');
						//									vm.resetData();
						//									vm.editName = '添加'
						////									mui.back()
						//								}
						//								//								alert(JSON.stringify(data));
						//							});
						//						} else if(vm.type == 'edit') { //删除栏目
						//							var para = {
						//								cmd: 'chn',
						//								type: 'del',
						//								colid: vm.colid
						//							}
						//							//							alert(JSON.stringify(para))
						//							unitWebsitePro(para, function(data) {
						//								if(data.RspCode == 0) {
						//									vm.resetData();
						////									mui.back()
						//								}
						//								//								alert(JSON.stringify(data));
						//							});
						//						}

					}
				}

			})

			function getDefaultData() {
				return {
					editName: '',
					cname: {
						title: "栏目名称",
						message: ""
					},
					linkurl: {
						title: "链接url",
						message: ""
					},
					orderid: {
						title: "排序ID",
						message: ""
					},
					islink: {
						title: "是否为链接",
						check: true
					},
					iswrite: {
						title: "是否允许投稿",
						check: false
					},
					note: {
						title: "备注",
						message: ""
					}
				}
			}

			function edit(oldVal, newVal, key) {
				console.log('key=' + key + '--oldVal=' + oldVal + '--newVal=' + newVal)
				if(vm.type == "orderid") {
					var numFlag = newVal.test('^[0-9]*$');
					console.log(numFlag)
					if(numFlag == false) {
						console.log('请输入正确的数字')
					}
				}
				if(vm.type == "add" && key == 'islink') {
					if(newVal == true) {
						$("#linkurl").focus();
						vm.iswrite.check = false;
					}
					return;

				}
				if(key == 'islink' && newVal == true) {

					$("#linkurl").focus();
					vm.iswrite.check = false;
				}
				if(newVal == oldVal) {
					return;
				}
				var para = {
					cmd: 'chn',
					type: 'edit',
					colid: vm.colid,
					callcol: key,
					colv: boolToInt(newVal)
				}
				console.log(JSON.stringify(para))
				unitWebsitePro(para, function(data) {
					//					alert(JSON.stringify(data));
				});
			}

			function boolToInt(value) {
				if(value == true) {
					return 1;
				} else if(value == false) {
					return 0;
				} else {
					return value;
				}

			}
			/**
			 * 获取网站配置信息
			 */
			function getWebsitConfig() {
				var tempData = {
					cmd: 'webcfg',
					type: 'find'
				}
				unitWebsitePro(tempData, function(data) {
					console.log('配置为:' + JSON.stringify(data));
					if(data.RspCode == 0) {
						if(data.RspData.length > 0) {
							vm.iswrite_all = data.RspData[0].iswrite;
							//							vm.iswrite.check = false;
						}
					}
				});
			}

			var counts;
			counts = 0;
			console.log("3333333333下拉框数组中的元素===========" + selectArray);
			counts = selectArray.length;
			console.log("下拉框数组中的元素个数====" + counts);

			function Myselect() {
				console.log("下拉框获得焦点------------");
				var i;
				for(i = 0; i < counts; i++) {
					console.log("selectArray[i]====" + selectArray[i]);

					document.getElementById("attendTypeNote").options[i] = new Option(selectArray[i], optionValueArray[i]);
					document.getElementById("attendTypeNote").options[i].setAttribute("attendTypeProperty", optionAttendTypePropertyArray[i]);

					console.log("options[i]=====" + document.getElementById("attendTypeNote").options[i]);
					//					document.getElementById("attendTypeNote").options[i] = new Option("attendTypeProperty", optionAttendTypePropertyArray[i]);
				}
			}
		</script>
	</body>

</html>