<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>新闻添加</title>
		<link rel="stylesheet" href="../../css/weui.min.css" />
		<link href="../../css/mui.min.css" rel="stylesheet" />

		<style>
			.dropdown:before,
			.dropdown:after {
				content: '';
				position: absolute;
				z-index: 20;
				top: 18px;
				right: 10px;
				border: 4px dashed;
				border-color: #888888 transparent;
			}
			
			.dropdown:before {
				border-bottom-style: solid;
				border-top: none;
			}
			
			.dropdown:after {
				margin-top: 7px;
				border-top-style: solid;
				border-bottom: none;
			}
			
			.dropdown-select:focus {
				z-index: 6;
				width: 100%;
				color: #394349;
				outline: 10px solid #49aff2;
				outline: 2px solid -webkit-focus-ring-color;
				outline-offset: -2px;
			}
			
			.dropdown-select>option {
				margin: 10px;
				padding: 10px 50px;
				text-shadow: none;
				background: #FFFFFF;
				border-radius: 200px;
				cursor: pointer;
			}
			
			.lt-ie9 .dropdown {
				z-index: 1;
			}
			
			.lt-ie9 .dropdown-select {
				z-index: -1;
			}
			
			.lt-ie9 .dropdown-select:focus {
				z-index: 3;
			}
			
			@-moz-document url-prefix() {
				.dropdown-select {
					padding-left: 6px;
				}
			}
			
			.dropdown-dark {
				background: #444;
				border-color: #111111 #0a0a0a black;
				background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
				background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
				background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
				background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
				-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
				box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
			}
			
			.dropdown-dark:before {
				border-bottom-color: #aaa;
			}
			
			.dropdown-dark:after {
				border-top-color: #aaa;
			}
			
			.dropdown-dark .dropdown-select {
				color: #aaa;
				text-shadow: 0 1px black;
				background: #444;
				/* Fallback for IE 8 */
			}
			
			.dropdown-dark .dropdown-select:focus {
				color: #ccc;
			}
			
			.dropdown-dark .dropdown-select>option {
				background: #444;
				text-shadow: 0 1px rgba(0, 0, 0, 0.4);
			}
			
			.weui-cells {
				margin-top: 0px;
			}
			
			.weui-cells__title {
				color: black;
			}
			
			.a-upload {
				padding: 4px 10px;
				width: 90px;
				height: 40px;
				box-sizing: border-box;
				line-height: 31px;
				position: relative;
				cursor: pointer;
				color: #FFFFFF;
				background: #1AAD19;
				border: 1px solid #ddd;
				border-radius: 4px;
				overflow: hidden;
				display: inline-block;
				*display: inline;
				*zoom: 1;
				top: 5px;
			}
			
			.a-upload input {
				position: absolute;
				font-size: 200px;
				opacity: 0;
				filter: alpha(opacity=0);
				cursor: pointer;
				width: 0px;
				height: 30px;
				left: 0;
				top: 0;
			}
			
			.a-upload:hover {
				color: #FFFFFF;
				background: #1AAD19;
				border-color: #ccc;
				text-decoration: none
			}
			
			.kuan input {
				width: 220px;
				height: 40px;
				background: background: 。。。;
				border: none;
				float: left
			}
			
			.an input {
				width: 100px;
				height: 40px;
				background: #1AAD19;
				border: none;
				float: left
			}
		</style>
	</head>

	<body>
		<div class="weui-cells weui-cells_form">
			<div class="weui-cells__title">所属栏目</div>
			<div class="weui-cells">
				<div>
					<section class="container">
						<div class="dropdown">
							<select name="one" id="chnid" class="dropdown-select" style="font-size: 17px;color: #929292;">
								<option value="">请选择所属栏目....</option>
								<option v-for="item in items" :value="item.chnid">{{item.cname}}</option>
							</select>
						</div>
					</section>
				</div>
			</div>
		</div>

		<div id="conetent" class="weui-cells weui-cells_form">
			<div id="input_list">
				<!--输入列表-->
				<div>
					<div class="weui-cells__title">{{cname.title}}</div>
					<div class="weui-cells">
						<div class="weui-cell">
							<div class="weui-cell__bd">
								<input id="cname" v-model.lazy="cname.message" class="weui-input" type="text" :placeholder="'请输入'+cname.title" onchange="upperCase(this.id)">
							</div>
						</div>
					</div>
				</div>

				<div>
					<div class="weui-cells__title">{{fname.title}}</div>
					<div class="weui-cells">
						<div class="weui-cell">
							<div class="weui-cell__bd">
								<input id="fname" v-model.lazy="fname.message" class="weui-input" type="text" :placeholder="'请输入'+fname.title" onchange="upperCase(this.id)">
							</div>
						</div>
					</div>
				</div>

				<div>
					<div class="weui-cells__title">{{newscontent.title}}</div>
					<div class="weui-cells">
						<div class="weui-cell">
							<div class="weui-cell__bd">

								<div id="insert"></div>

							</div>

						</div>
						<div align="center">
							<img src="../../image/add.png" width="50px" height="40px" id="x" onclick="addDiv()" />
						</div>
						<!--<img src="../../image/20170808120135.png" width="100%" height="40px" />-->
					</div>
				</div>
				<div class="container" id="onisfileup">
					<div class="weui-cells__title">附件上传</div>
					<div class="weui-cells">
						<div class="weui-cell">
							<!--<div class="upload-group" id="PriImg" style="float: right;">
									<a href="#" style="float:right" class="a-upload"><input type="file" class="upload" name="file" id="upload">上传附件 </a>
									</span>
									<img id="onisImg" src="{{imgurl}}" width="200px" height="150px" />
								</div>-->
							<div class="kuan"><input id="filename" type="text" /></div>
							<div class="an">
								<a href="#" style="float:right" class="a-upload"><input id="upload" type="file" value="搜索" />附件上传</a>
							</div>
							<div class="result margin-auto " id="result-show"></div>
						</div>
					</div>
				</div>
				<div>
					<div class="weui-cells__title">{{newszy.title}}</div>
					<div class="weui-cells">
						<div class="weui-cell">
							<div class="weui-cell__bd">
								<input id="summas" v-model.lazy="newszy.message" class="weui-input" type="text" :placeholder="'请输入'+newszy.title">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--开关列表-->
			<div id="switch_list">
				<div>
					<div class="weui-cell weui-cell_switch">
						<div class="weui-cell__bd">{{islink.title}}</div>
						<div class="weui-cell__ft">
							<input id="islink" class="weui-switch" type="checkbox" v-model="islink.check">
						</div>
					</div>
				</div>
				<div v-if="islink.check">
					<div class="weui-cells">
						<div class="weui-cell">
							<div class="weui-cell__bd">
								<input id="quourl" v-model.lazy="linkurl.message" class="weui-input" type="text" :placeholder="'请输入'+linkurl.title">
							</div>
						</div>
					</div>
				</div>
				<div id="onisReply">
					<div class="weui-cell weui-cell_switch">
						<div class="weui-cell__bd">{{isReply.title}}</div>
						<div class="weui-cell__ft">
							<input id="isReply" class="weui-switch" type="checkbox" v-model="isReply.check">
						</div>
					</div>
				</div>
			</div>
			<div class="weui-btn-area">
				<button id="submit" v-on:click="submitClick" class="weui-btn weui-btn_primary">{{editName}}</button>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/weui.min.js"></script>
		<script type="text/javascript" src="../../js/vue.min.js"></script>
		<script type="text/javascript" src="../../js/jweixin.js"></script>
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../js/importJS.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/lib/plupload/moxie.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/lib/plupload/plupload.full.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/lib/qiniu/qiniu.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/lib/plupload/plupload.full.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/utils/cloudutil.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/utils/cryption.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/utils/pluploadutil.js?" + Math.random() + "'></s" + "cript>");
		</script>
		<script>
			//			function div_elem(i) {
			//				return '<textarea id=\"conten\" v-model.lazy=\"newscontent.message\" class=\"weui-input\" placeholder=\"请输入新闻内容\" onchange=\"upperCase(this.id)\" style=\"border-color: white;height: 7rem;\"></textarea><div class=\"kuan\"><input id=\"imgname\" type=\"text\" /></div><div class=\"an\"><a href=\"#\" style=\"float:right\" class=\"a-upload\"><input id=\"d' + i + '\" type=\"file\"  />上传图片</a></div>';
			//			}  
			function addDiv() {
				//创建一个div
				var div = document.createElement('div');
				var ic = count1 + 1;
				if(ic <= 5) {
					for(var i = 0; i < ic; i++) {
						div.innerHTML = '<input name=\"dlt\" id=\"title' + i + '\" placeholder="请输入节标题"  type="text"  ><input name=\"dlc\" id=\"conten' + i + '\"   v-model.lazy=\"newscontent.message\" class=\"weui-input\" placeholder=\"请输入新闻内容\" onchange=\"upperCase(this.id)\" style=\"border-color: white;height: 7rem;\ /"><div class=\"kuan\"><input name=\"dle\" id=\"Priimgname' + i + '\" type=\"text\" /></div><div class=\"an\"><a href=\"#\" style=\"float:right\" class=\"a-upload\"><input id=\"Prifile' + i + '\" type=\"file\"  />上传图片</a></div>';
					}
				} else {
					alert('不能再增加了');
					return;
				}
				console.log('html:' + div.innerHTML);
				var bo = document.getElementById("insert");
				bo.insertBefore(div, bo.newnode);
				var Priid = "Prifile" + count1;
				var Priimgname = "Priimgname" + count1;
				initUploader(Priid, Priimgname);
				count1++;
			}
			var vm_loading; //等待框
			var fileUploader; //上传logo七牛对象
			var bannerUploader; //上传banner七牛对象
			var uptokenData; //上传的token
			var imgurl = ""; //圖片地址   
			var FileDataArray = new Array(); //附件参数
			var imgName;
			var count1 = 0;
			var objArray = new Array();
			//所属栏目下拉框
			var vue_input = new Vue({
				el: '#chnid',
				data: {
					items: []
				}
			});
			window.onload = function() {
				initUploader();
				addDiv();

				/**
				 * 获取网站配置信息
				 */
				var webConfig;
				var tempData = {
					cmd: 'webcfg',
					type: 'find'
				}
				unitWebsitePro(tempData, function(data) {
					console.log('配置为:' + JSON.stringify(data));
					if(data.RspCode == 0) {
						if(data.RspData.length > 0) {
							webConfig = data.RspData[0];
							if(webConfig.isreply == 0) //0表示禁止回复，并隐藏回复功能
								document.getElementById('onisReply').style.display = "none";
							if(webConfig.isfileup == 0) //0表示禁止上传，并隐藏回复功能
								document.getElementById('onisfileup').style.display = "none";
						} else {
							weui.alert('没有获取到配置信息')
						}
					} else {
						weui.alert(data.RspTxt);
					}
				}); 
				var tempData = {
					cmd: 'chn', //网站栏目
					type: 'findpage', //分页查找栏目列表 
					pagesize: 999, //每页条数 
					iswrite: '1',
					stat: '1',
					pageindex: 1 //页码  
				}
				unitWebsitePro(tempData, function(data) {
					if(data.RspCode == 0) {
						if(data.RspData.dt.length > 0) {
							vue_input.items = data.RspData.dt;
						} else {
							alert('暂时还没有栏目');
						}
					} else {
						alert(data.RspTxt);
					}
				});
				var detail = utils.getDataFromUrl(window.location.href);
				vm.type = 'edit1';
				if(vm.type == 'edit') {
					vm.editName = '删除';
					vm.chnid = detail.chnid;
					vm.cname.message = detail.cname;
					vm.orderid.message = detail.orderid;
					vm.linkurl.message = detail.linkurl;
					vm.islink.check = detail.islink;
					vm.iswrite.check = detail.iswrite;
					for(var item in vm.$data) {
						(function addwatch(key) {
							vm.$watch(key + '.message', function(newVal, oldVal) {
								edit(oldVal, newVal, key)
							})
						})(item)
					}
				} else {
					vm.editName = '添加'
				}
			}
			var vm = new Vue({
				el: '#conetent',
				data: {
					editName: '',
					cname: {
						title: "新闻标题",
						message: ""
					},
					fname: {
						title: "新闻副标题",
						message: ""
					},
					newscontent: {
						title: "新闻内容",
						message: ""
					},
					newszy: {
						title: "新闻摘要",
						message: ""
					},
					linkurl: {
						title: "引用地址",
						message: ""
					},
					islink: {
						title: "是否为引用",
						check: true
					},
					isReply: {
						title: "是否允许回复",
						check: true
					},
				},
				computed: {
					// a computed getter
					write: function() {
						return !this.islink.check
					}
				},
				methods: {
					submitClick: function() {}
				}
			})
			//按钮监听
			document.getElementById('submit').addEventListener('tap', function() {
				bannerUploader.start();
				/**
				 * 文章附件管理添加
				 */
				var PriConten = "";
				var allInputst = $("*[name='dlt']");
				var allInputsc = $("*[name='dlc']");
				var allInputse = $("*[name='dle']"); 
				for(var i = 0; i < allInputst.length; i++) {
					PriConten += '<section><h3>' + allInputst[i].value + '</h3><p>' + allInputsc[i].value + '</p><p><img src=' + allInputse[i].value + ' alt=""></p></section>';
				} 
				var PriIsquo = '';
				var PriQuourl = '';
				var comData = '';
				var PriIsReply = '';
				var PriTopic = document.getElementById("cname").value; //新闻标题
				var Prisubtopic = document.getElementById("fname").value; //新闻副标题
				//var PriConten = document.getElementById("conten0").value; //新闻内容
				var PriSummas = document.getElementById("summas").value; //新闻摘要
				//var Chnid = document.getElementById("chnid"); //栏目id
				//var PriChnid = Chnid.selectedIndex; // 选中索引
				var PriChnid = $("#chnid option:selected").val();
				console.log('所属栏目=========================:' + PriChnid);
				PriIsquo = document.getElementById("islink").checked == true ? 1 : 0;
				PriIsReply = document.getElementById("isReply").checked == true ? 1 : 0;
				PriQuourl = document.getElementById("islink").value;
				console.log('附件=========================:' + JSON.stringify(FileDataArray));
				var PriFileData = JSON.stringify(FileDataArray); 
				comData = {
					cmd: 'news', //文章管理
					type: 'add',
					chnid: PriChnid,
					subtopic: Prisubtopic,
					topic: PriTopic,
					content: PriConten,
					summas: PriSummas,
					encs: PriFileData,
					isquo: PriIsquo,
					quourl: PriQuourl,
					isreply: PriIsReply,
					stat: 1
				};
				console.log('comData=========================:' + JSON.stringify(comData)); 
				unitWebsitePro(comData, function(data) {
					if(data.RspCode == 0) {
						weui.toast("添加成功");
						//清空数据 
						document.getElementById("cname").value = ""; //新闻标题
						//document.getElementById("conten").value = ""; //新闻内容
						document.getElementById("summas").value = ""; //新闻摘要
						document.getElementById("chnid").selectedIndex = 0; //栏目id
						document.getElementById("islink").value = ""; //引用地址
						document.getElementById("fname").value = "";
						$('.weui-input').val("");
						location.reload();
					} else {
						weui.toast(data.RspTxt);
					}
				});

				var vue_img = new Vue({
					el: '#PriImg',
					data: {
						imgurl: imgurl
					}
				});
			});
			//编辑发送协议
			function upperCase(x) {
				if(vm.type == 'edit') {
					switch(x) {
						case 'cname': //新闻标题
							var y = document.getElementById(x).value;
							console.log(y);
							var data = {
								type: 0,
								index: 0,
								callcol: "skinid",
								colv: x
							}
							changeWebsiteConfig(data)
							break;
						case 'conten': //新闻内容
							var y = document.getElementById(x).value;
							console.log(y);
							var data = {
								type: 0,
								index: 0,
								callcol: "skinid",
								colv: x
							}
							changeWebsiteConfig(data)
							break;
						default:
							break;
					}
					document.getElementById(x).value = y.toUpperCase()
				}
			}
			/**
			 * 初始化上传
			 */
			function initUploader(priid, Priimgname) {
				var bannerOption = {
					disable_statistics_report: true, // 禁止自动发送上传统计信息到七牛，默认允许发送
					runtimes: 'html5,flash,html4', // 上传模式,依次退化
					browse_button: ['upload', priid], // 上传选择的点选按钮，**必需**
					uptoken_func: function(file) { // 在需要获取 uptoken 时，该方法会被调用 
						console.log("uptoken_func:" + JSON.stringify(file));
						uptokenData = null;
						uptokenData = getQNUpToken(file);
						console.log("获取uptoken回调:" + JSON.stringify(uptokenData));
						if(uptokenData && uptokenData.code) { //成功   
							return uptokenData.data.Data[0].Token;
						} else {
							bannerUploader.stop();
							var dialog = weui.dialog({
								title: "上传失败",
								content: uptokenData.message,
								className: "custom-classname",
								buttons: [{
									label: "确定",
									type: "primary",
									onClick: function() {
										dialog.hide();
									}
								}]
							});
						}
					},
					unique_names: false, // 默认 false，key 为文件名。若开启该选项，JS-SDK 会为每个文件自动生成key（文件名）
					save_key: false, // 默认 false。若在服务端生成 uptoken 的上传策略中指定了 `save_key`，则开启，SDK在前端将不对key进行任何处理
					get_new_uptoken: true, // 设置上传文件的时候是否每次都重新获取新的 uptoken
					domain: storageutil.QNPBDOMAIN, // bucket 域名，下载资源时用到，如：'http://xxx.bkt.clouddn.com/' **必需**
					max_file_size: '10mb', // 最大文件体积限制
					flash_swf_url: '../../js/lib/plupload/Moxie.swf', //引入 flash,相对路径
					max_retries: 0, // 上传失败最大重试次数
					dragdrop: false, // 开启可拖曳上传
					chunk_size: '4mb', // 分块上传时，每块的体积
					auto_start: true, // 选择文件后自动上传，若关闭需要自己绑定事件触发上传,
					filters: {
						mime_types: [ //只允许上传图片和zip文件
							{
								title: "Image files",
								extensions: "jpg,png"
							}
						]
					},
					init: {
						'FilesAdded': function(up, files) {
							plupload.each(files, function(file) {
								// 文件添加进队列后,处理相关的事情
								imgName = JSON.stringify(file.name)
								var img = imgName.substring(-1, (imgName - 1)); 
								//document.getElementById('Priimgname0').value = imgName;
								console.log("FilesAdded:" + JSON.stringify(file));
							});
						},
						'UploadProgress': function(up, file) {
							// 每个文件上传时,处理相关的事情  
							//vm_loading.content = "上传中 " + file.percent + "%";
						},
						'FileUploaded': function(up, file, info) {
							// 每个文件上传成功后,处理相关的事情 
							console.log("文件:info:" + JSON.stringify(info));
							if(info.status == 200) {
								var cc = eval("(" + info.response + ")");
								imgurl = 'http://qn-kfpb.jiaobaowang.net/' + cc.key;
								var imgLink = Qiniu.imageView2({
									mode: 3, // 缩略模式，共6种[0-5]
									w: 100, // 具体含义由缩略模式决定 
									h: 100, // 具体含义由缩略模式决定
									q: 100, // 新图的图像质量，取值范围：1-100
									format: 'png' // 新图的输出格式，取值范围：jpg，gif，png，webp等
								}, cc.key);
								//Pridl=Priimgname.substring(9,10)
								if(Priimgname != undefined) {
									document.getElementById(Priimgname).value = imgurl; 
									var person = new Object();
									person.id = priid;//控件id
									person.saveurl = imgurl;//图片地址
									person.imgurl = imgLink;
									person.oldname = file.name;
									person.newname = cc.key;
									person.filesize = file.size; 
									//循环附件数组，判断id是否有重复
									for(var i = 0; i < FileDataArray.length; i++) { 
										if(FileDataArray[i].id == priid) {
											//如果有重复则移除原来的
                                           FileDataArray.splice(i,1);
										}
									}
									//添加新的附件
									FileDataArray.push(person);
									objArray.push([imgurl]);
								} else {
									document.getElementById('filename').value = imgurl;
								}
								//vm_loading.isShow = false;  
							} else {
								var dialog = weui.dialog({
									title: "上传失败",
									content: JSON.stringify(info),
									className: "custom-classname",
									buttons: [{
										label: "确定", 
										type: "primary",
										onClick: function() {
											dialog.hide();
										}
									}]
								});
							}
						},
						'Error': function(up, err, errTip) { 
							var dialog = weui.dialog({
								title: "操作失败",
								content: pluploadutil.errMes(err.code, errTip),
								className: "custom-classname",
								buttons: [{
									label: "确定",
									type: "primary",
									onClick: function() {
										dialog.hide();
									}
								}]
							});
						},
						'UploadComplete': function() {
							//队列文件处理完毕后,处理相关的事情
							//console.log("UploadComplete");
						},
						'Key': function(up, file) {
							// 若想在前端对每个文件的key进行个性化处理，可以配置该函数
							// 该配置必须要在 unique_names: false , save_key: false 时才生效
							if(uptokenData && uptokenData.code) { //成功
								return uptokenData.data.Data[0].Key;
							}
						}
					}
				}
				bannerUploader = Qiniu.uploader(bannerOption);
			}

			/**
			 * 获取七牛上传token
			 */
			function getQNUpToken(file) {
				var myDate = new Date();
				var fileName = myDate.getTime() + "" + parseInt(Math.random() * 1000);
				var types = file.name.split(".");
				fileName = fileName + "." + types[types.length - 1];
				var getTokenData = {
					appId: storageutil.QNQYWXKID,
					mainSpace: storageutil.QNPUBSPACE,
					saveSpace: storageutil.QNSSPACEWEBCON,
					fileArray: [{
						qnFileName: fileName,
					}]
				}
				var upToken;
				cloudutil.getFileUpTokens(getTokenData, function(data) {
					upToken = data;
				});
				console.log("gettokendata" + JSON.stringify(getTokenData))
				return upToken;
			}

			function uploadFile() {

			}
		</script>
	</body>