<!--
	作者：莫尚霖
	时间：2017-07-04
	描述：网站配置
-->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>网站配置</title>
		<script type="text/javascript">
			document.write('<link rel="stylesheet" href="../../css/weui.min.css?' + Math.random() + '" />');
			document.write('<link rel="stylesheet" href="../../css/configuration/website_config.css?' + Math.random() + '" />');
		</script>
	</head>

	<body>
		<div id="loading">
			<div class="weui-mask_transparent"></div>
			<div class="weui-toast">
				<i class="weui-loading weui-icon_toast"></i>
				<p class="weui-toast__content">数据加载中</p>
			</div>
		</div>
		<div class="weui-cells weui-cells_form">
			<div id="input_list">
				<input-item v-for="(value,index) in inputArray" :value="value" :key="index" :index="index" v-if="isShow"></input-item>
			</div>
			<div id="skin">
				<skin-item :value="skinId" :key="skinId" v-if="isShow"></skin-item>
			</div>
			<div id="image_list">
				<image-item v-for="(value,index) in imageArray" :value="value" :key="index" :index="index" v-if="isShow"></image-item>
			</div>
			<div id="switch_list">
				<switch-item v-for="(value,index) in switchArray" :value="value" :key="index" :index="index" v-if="isShow"></switch-item>
			</div>
		</div>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../js/importJS.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/mui.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/jquery.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/weui.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/vue.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/jweixin.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/configuration/website_config.js?" + Math.random() + "'></s" + "cript>");
		</script>
	</body>

</html>