<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>文章添加</title>
		<link rel="stylesheet" type="text/css" href="../../js/H-ui.admin/static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../js/H-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" href="../../js/H-ui.admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" href="../../js/H-ui.admin/static/h-ui.admin/css/style.css" />
		<style>
			.edit_container {
				margin: 0 auto;
				width: 1080px;
			}
			
			.input-text:not(.piece) {
				width: 100%;
				border: 0;
				border-bottom: 1px solid #DDDDDD;
			}
			
			.input-text.piece {
				border: 0;
			}
			
			.float-right {
				float: right;
			}
			
			.artical-url.input-text {
				width: 90%;
				border: none;
			}
			
			.artical-pieces-title {
				font-size: 18px;
				padding: 10px 0 0 8px;
			}
			
			.check-box,
			.radio-box {
				padding-left: 0px;
			}
			
			.select-file {
				padding: 15px;
			}
			
			.select-file-img {
				width: 200px;
			}
		</style>
	</head>

	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 文章 <span class="c-gray en">&gt;</span> 文章添加编辑
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>
		<div id="artical-pub">
			<div class="edit_container">
				<div>
					<select class="select" id="chnid" name="one" value="-1" style="height: 45px;font-size: 17px;color: #929292;" v-on:change="getStatus($event)">
						<option value="-1">请选择所属栏目....</option>
						<option v-for="(item,index) in columns" :value="index">{{item.cname}}</option>
					</select>
				</div>
				<input v-model.trim.lazy="artical.topic" id="cname" class="artical-title input-text size-L" type="text" maxlength="64" placeholder="在此输入标题" />
				<input v-model.trim.lazy="artical.subtopic" id="fname" class="artical-subtitle input-text size-L" type="text" maxlength="64" placeholder="在此输入副标题" />
				<textarea v-model.trim.lazy="artical.summas" id="summas" class="textarea" placeholder="在此输入文章摘要"></textarea>
				<!--<select-load-pic v-bind:index="-1" v-on:uploadedfile="getHeadImg" :files="artical.encs" @delete-file="deleteHeadImg"></select-load-pic>-->
				<p class="artical-pieces-title">文章内容</p>
				<template v-for="(piece,index) in pieces">
					<div class="artical-piece">
						<input class="piece-title input-text size-L" v-model.trim.lazy="piece.title" type="text" maxlength="64" placeholder="在此输入节标题" />
						<textarea class="piece-container textarea radius" v-model.trim.lazy="piece.content" placeholder="在此输入节内容"></textarea>
					</div>
					<div>
						<p v-if="piece.files.lenth>0"></p>
						<select-load-pic :index="index" v-on:uploadedfile="getPieceImg" :files="piece.files" @delete-file="deletePieceImg(index)"></select-load-pic>
						<input id="add-piece" v-if="pieces.length<5" v-on:click="addPiece(piece,index)" class="btn btn-primary radius float-right" type="button" value="添加段落">
						<input id="del-piece" v-if="pieces.length>1" v-on:click="delPiece(piece,index)" class="btn btn-warning radius float-right" type="button" value="删除段落">
					</div>
				</template>
				<br />
				<span><i class="icon Hui-iconfont Hui-iconfont-more2"></i></span><input type="url" id="islink" v-model.trim.lazy="artical.quourl" class="artical-url input-text size-L" placeholder="请输入原文链接" />
				<div>
					<div class="check-box">
						<label for="checkbox-1">是否可评论</label>
						<input type="checkbox" id="isReply" v-model.lazy="artical.isreply">
					</div>
					<input class="btn btn-primary radius float-right" v-if="artical.type=='add'" v-on:click="publishArtical" type="button" value="发送">
				</div>
			</div>
			<div id="dia-delPiece" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content radius">
						<div class="modal-header">
							<h3 class="modal-title">删除段落</h3>
							<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
						</div>
						<div class="modal-body">
							<p>确认删除此段落？</p>
						</div>
						<div class="modal-footer"><br />
							<button class="btn btn-primary" v-on:click="sureDelPiece(curPiece.index)">确定</button>
							<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<template id="temp_select_load_pic">
			<div>
				<span :id="index|idFilter" class="btn-upload form-group">
					<input :value="originalName" class="input-text upload-url radius piece" type="text" readonly :placeholder="index|placeHolder" />
					<a href="" id="upload" class="btn btn-primary radius"><i class="Hui-iconfont Hui-iconfont-upload"></i> 浏览文件</a>
					<input type="file" accept="image/jpeg,image/png" value="dsafd" v-on:change="selectFile($event)" class="input-file" />
				</span>
				<div class="select-file" style="" v-if="files.length!=0">
					<img :src="files[0].saveurl" class="select-file-img" />
					<br />
					<button class="btn btn-danger radius" @click="delBtn">删除图片</button>
				</div>
			</div>
		</template>
	</body>
	<script src="../../js/PublicProtocol.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/utils/storageutil.js"></script>
	<script src="../../js/utils/cryption.js"></script>
	<script src="../../js/utils/utils.js"></script>
	<script src="../../js/lib/plupload/moxie.min.js"></script>
	<script src="../../js/lib/plupload/plupload.dev.js"></script>
	<script src="../../js/lib/qiniu/qiniu.min.js"></script>
	<script src="../../js/utils/cloudutil.js"></script>
	<script src="../../js/pcWeb-HUI/select-load-singPic.js"></script>
	<script type="text/javascript" src="../../js/H-ui.admin/lib/jquery/1.9.1/jquery.min.js"></script>
	<script src="../../js/H-ui.admin/static/h-ui/js/H-ui.min.js"></script>
	<script src="../../js/H-ui.admin/lib/layer/2.4/layer.js"></script>
	<script>
		var articalPublish = new Vue({
			el: "#artical-pub",
			data: {
				artical: {
					type: 'add',
					chnid: -1, //所属栏目id
					topic: "", //标题
					subtopic: "", //副标题
					summas: "", //摘要
					content: "", //内容
					isquo: 0, //是否引用
					quourl: "", //引用url
					isreply: 0, //是否允许回复，
					encs: [
						//					{oldname:"",//原名称
						//					newname:"",//新名称
						//					saveurl:"",//存储url
						//					filesize:"",//文件大小
						//					imgurl:""//缩略图
						//					}
					], //附件列表
					stat: "" //根据配置表设置相应值
				},
				pieces: [{
					title: "",
					content: "",
					files: []
				}],
				curPiece: {
					piece: null,
					index: -1
				},
				columns: []
			},
			created: function() {
				//vue 创建时 请求栏目列表
				this.getColumns();
				//获取网站配置
				getWebsitConfig();
			},
			watch: {
				pieces: function(newVal, oldVal) { //片段增减的判断
					console.log("newVal" + JSON.stringify(newVal));
					console.log("oldVal:" + JSON.stringify(oldVal));
				}
			},
			methods: {
				getStatus: function(e) {
					
					var index = e.target.value;
					if(index >= 0) {
						var curColumnInfo = this.columns[index];
						//						alert("选取的column信息：" + JSON.stringify(curColumnInfo));
						articalPublish.artical.chnid = curColumnInfo.chnid;
						articalPublish.artical.stat = curColumnInfo.stat;
						edit(-1, curColumnInfo.chnid, 'chnid');
					} else {
						//未选择
						articalPublish.artical.chnid = -1;
					}
				},
				publishArtical: function() { //发布文章 
					//					alert('栏目id:'+articalPublish.artical.chnid);
					if(articalPublish.artical.chnid < 0) {
						alert('请选择栏目');
						return false;
					}
					if(articalPublish.artical.topic.trim().length == 0) {
						alert('请输入标题');
						return false;
					}
					if(articalPublish.artical.topic.trim().length > 25) {
						alert('标题不能超过25个字');
						return false;
					}
					if(articalPublish.artical.subtopic.trim().length == 0) {
						alert('请输入副标题');
						return false;
					}
					if(articalPublish.artical.subtopic.trim().length > 25) {
						alert('副标题不能超过25个字');
						return false;
					}
					if(articalPublish.artical.summas.trim().length > 250) {
						alert('摘要不能超过250个字');
						return false;
					}
					//判断是否为链接
					var tempQuo = 0;
					if(articalPublish.artical.quourl.trim().length > 0) {
						//判断是否为链接

						tempQuo = 1;
					} else {

					}
					//拼接内容，
					var tempContent0 = ''; //检查总段落内容，是否全部为空
					var tempContent1 = ''; //发送协议中的内容字段
					var tempArray99 = []; //附件
					for(var i = 0; i < articalPublish.pieces.length; i++) {
						var tempModel = articalPublish.pieces[i];
						//						alert('tempModel:'+JSON.stringify(tempModel));
						//						if (tempModel.title.trim().length>50) {
						//							alert('第'+i+'节标题不能超过50个字');
						//							break;return false;
						//						} else if (tempModel.content.trim().length>5000) {
						//							alert('第'+i+'节内容不能超过5000个字');
						//							break;return false;
						//						}
						//判断当前节，是否都为空
						if(tempModel.title.trim().length == 0 && tempModel.content.trim().length == 0 && tempModel.files.length == 0) {
							//当前节里，都为空，不加入内容中
						} else {
							//获取节当中加入的图片
							var tempImg = '';
							for(var m = 0; m < tempModel.files.length; m++) {
								tempImg += '<img src=' + tempModel.files[m].saveurl + ' />';
							}
							tempContent1 += '<section><h3>' + tempModel.title.trim().replace(/<.*?>/ig, "") + '</h3><p>' + tempModel.content.trim().replace(/<.*?>/ig, "") + '</p><p>' + tempImg + '</p></section>';
						}
						var tempImgStr = '';
						for(var n = 0; n < tempModel.files.length; n++) {
							tempImgStr += tempModel.files[n].saveurl;
						}
						tempContent0 += tempModel.title.trim() + tempModel.content + tempImgStr;
						//合并数组
						tempArray99 = tempArray99.concat(articalPublish.pieces[i].files);
					}
					//					alert('tempArray99:'+JSON.stringify(tempArray99));

					if(tempContent0.trim() == 0) {
						alert('请输入文章内容');
						return false;
					}
					var isreply = 0;
					if(articalPublish.artical.isreply) {
						isreply = 1;
					}

					var comData = {
						cmd: 'news', //文章管理
						type: 'add', //添加文章
						chnid: articalPublish.artical.chnid, //所属栏目ID
						subtopic: articalPublish.artical.subtopic, //副标题
						topic: articalPublish.artical.topic, //标题
						content: tempContent1, //内容
						summas: articalPublish.artical.summas, //摘要
						encs: tempArray99, //附件列表
						isquo: tempQuo, //是否为引用,0否1是
						quourl: articalPublish.artical.quourl.trim(), //引用url
						isreply: isreply, //是否允许回复,0否1是
						stat: articalPublish.artical.stat //根据配置表设置相应值
					};
					unitWebsitePro(comData, function(data) {
						if(data.RspCode == 0) {
							layer.msg('成功', {
								icon: 5,
								time: 1000
							});
							if(articalPublish.artical.type = 'add') {
								//清空数据 
								location.reload();
							}

						} else {
							layer.msg('data.RspTxt', {
								icon: 5,
								time: 1000
							});
						}
					});
				},
				getColumns: function() { //获取栏目列表
					var com = this;
					var tempData = {
						cmd: 'chn', //网站栏目
						type: 'findpage', //分页查找栏目列表 
						pagesize: 999, //每页条数 
						iswrite: '1',
						stat: '1',
						pageindex: 1 //页码  
					}
					unitWebsitePro(tempData, function(data) {
						if(data.RspCode == 0) {
							if(data.RspData.dt.length > 0) {
								com.columns = data.RspData.dt; //在回调中赋值
							} else {
								alert('暂时还没有栏目');
							}
						} else {
							alert(data.RspTxt);
						}
					});
				},
				addPiece: function(piece, index) { //增加文章片段
					//					if(!piece.title && !piece.content && piece.files.length == 0) {
					//						$.Huimodalalert('段落未添加标题或内容，无法继续添加', 3000)
					//						return;
					//					}
					this.pieces.splice(index + 1, 0, {
						title: "",
						content: "",
						files: []
					})
				},
				delPiece: function(piece, index) {
					if(piece.title || piece.content || piece.files.length > 0) {
						this.curPiece = {
							piece: piece,
							index: index
						}
						$("#dia-delPiece").modal("show")
						return;
					}
					console.log("要删除的控件：" + index);
					this.sureDelPiece(index);
				},
				sureDelPiece: function(index) {
					this.pieces.splice(index, 1);
					$("#dia-delPiece").modal("hide");
				},
				/**
				 * 增加标题图片
				 * @param {Object} headImg
				 * @param {Object} index
				 */
				//				getHeadImg: function(headImg, index) {
				//					console.log("*****获取的headImg:" + JSON.stringify(headImg) + ",index:" + index);
				//					this.artical.encs[0] = headImg;
				//				},
				/**
				 * 增加内容图片
				 * @param {Object} contentImg
				 * @param {Object} index 内容序号
				 */
				getPieceImg: function(contentImg, index) {
					console.log("*****获取的contentImage:" + JSON.stringify(contentImg) + ",index:" + index);
					this.pieces[index].files[0] = contentImg;
				},
				/**
				 * 删除标题图片
				 */
				//				deleteHeadImg: function() {
				//					console.log("deleteHeadImg");
				//					articalPublish.artical.encs = [];
				//				},
				/**
				 * 删除内容图片
				 * @param {Object} index 内容序号
				 */
				deletePieceImg: function(index) {
					console.log("deletePieceImg:" + index);
					articalPublish.pieces[index].files = [];
				}
			}
		});
		/**
		 * 获取网站配置信息
		 */
		function getWebsitConfig() {
			var tempData = {
				cmd: 'webcfg',
				type: 'find'
			}
			unitWebsitePro(tempData, function(data) {
				if(data.RspCode == 0) {
					if(data.RspData.length > 0) {
						if(data.RspData[0].stat == 0) {
							articalPublish.artical.type = 'edit';
							alert('此网站现在为关闭状态');
						} else {
							articalPublish.artical.type = 'add';
						}
					} else {
						alert('没有获取到配置信息')
					}
				} else {
					alert(data.RspTxt);
				}
			});
		}

		var detail0 = utils.getDataFromUrl(window.location.href);
		detail0.type = 'edit'
		//		alert('detail0=' + JSON.stringify(detail0));
		if(detail0.type == 'edit') {
			var tempData = {
				cmd: 'news', //网站栏目
				type: 'findpage', //分页查找栏目列表
				newsid: detail0.newsid, //文章id
				pagesize: 999, //每页条数  
				pageindex: 1 //页码 
			}

						unitWebsitePro(tempData, function(data) {
							if(data.RspCode == 0) {
								for(var item in articalPublish.artical) {
									(function addwatch(key) {
										vm.$watch('articalPublish.' + key, function(newVal, oldVal) {
											edit(oldVal, newVal, key)
										})
									})(item)
								}
								var detail = data.RspData.dt[0];
								articalPublish.artical.type = 'edit';
								articalPublish.artical.chnid = detail.chnid;
								articalPublish.artical.cname = detail.cname;
								articalPublish.artical.topic = detail.topic;
								articalPublish.artical.subtopic = detail.subtopic;
								articalPublish.artical.summas = detail.summas;
								articalPublish.artical.content = detail.content;
								//分解content
								var tempArr0 = [];
								var tempArr = detail.content.split('</section>');
								tempArr.pop(); //移除最后一个数组值
								for(var i = 0; i < tempArr.length; i++) {
									tempArr[i] = tempArr[i].replace('<section>', '');
									tempArr[i] = tempArr[i].replace('<h3>', '<p>');
									tempArr[i] = tempArr[i].replace('</h3>', '</p>');
									var tempArr1 = tempArr[i].split('</p>');
									tempArr1.pop(); //移除最后一个数组值
									var tempArr3 = tempArr1[2].match(/src=[\S]*\s/g);
									var tempArr4 = [];
									for(var m = 0; m < tempArr3.length; m++) {
										tempArr3[m] = tempArr3[m].replace('src=', '');
										var tempModel9 = {
											saveurl: tempArr3[m]
										}
										tempArr4.push(tempModel9);
									}
									//							alert('tempArr4:'+tempArr4);
									var tempModel = {
										title: tempArr1[0].replace(/<.*?>/ig, ""),
										content: tempArr1[1].replace(/<.*?>/ig, ""),
										files: tempArr4
									}
									tempArr0.push(tempModel);
								}
								//						alert('tempArr0:'+JSON.stringify(tempArr0));
								articalPublish.pieces = [].concat(tempArr0);
								articalPublish.artical.isquo = detail.isquo;
								articalPublish.artical.quourl = detail.quourl;
								articalPublish.artical.isreply = detail.isreply;
								articalPublish.artical.encs = detail.dt;
								articalPublish.artical.stat = detail.stat;
							} else {
								alert(data.RspTxt);
							}
						});
		}

		function edit(oldVal, newVal, key) {
			console.log('key=' + key + '--oldVal=' + oldVal + '--newVal=' + newVal)
			var para = {
				cmd: 'news',
				type: 'edit',
				colid: articalPublish.artical.chnid,
				callcol: key,
				colv: boolToInt(newVal)
			}
			unitWebsitePro(para, function(data) {
				console.log('成功')
			});
		}

		function boolToInt(value) {
			if(value == true) {
				return 1;
			} else if(value == false) {
				return 0;
			} else {
				return value;
			}

		}
	</script>

</html>