<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" type="text/css" href="../../js/H-ui.admin/static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../js/H-ui.admin/static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="../../js/H-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../js/H-ui.admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link href="../../js/H-ui.admin/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../js/H-ui.admin/static/h-ui.admin/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../js/multiple/easyui.css" />
		<link href="../../js/H-ui.admin/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css">
		<!--<script type="text/javascript" src="../../js/multiple/jquery.min.js"></script>-->
		<script type="text/javascript" src="../../js/H-ui.admin/lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/multiple/jquery.easyui.min.js"></script>
		<title>考勤详单查询</title>

	</head>

	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 考勤 <span class="c-gray en">&gt;</span> 考勤详单查询
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>
		<div class="page-container" id="attendData">
			<div class="text-c"> 查询日期：
				<input placeholder="查询日期" type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
				<select id="ddlLine" class="easyui-combotree" style="width: 205px; height: 24px;">
				</select>
				<!--<select :id="'select'+showDepartModel.value" @change="selectOrder(showDepartModel)">
					<template v-for="item in departArray">
						<option :value="item.value">{{item.title}}</option>
					</template>
				</select>-->
				<button type="submit" class="btn btn-success radius" id="" name="" @click="searchAttendList()"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
				<a id="exportExcel" type="button" class="btn btn-success radius" onclick="clickExport()">导出</a>
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg">
					<thead>
						<tr class="text-c">
							<td width="100" v-for='(timeModel,index) in attendTimeArrayAll' v-show="flag>0" style="display: none;" style="font-weight: bold;">
								{{timeModel.AttendTypeNote}}
							</td>
						</tr>
					</thead>
					<tbody>
						<tr class="text-c" v-for='(attend,index) in showPeopleArray' v-show="flag>0" style="display: none;">
							<td><u style="cursor:pointer" class="text-primary">{{attend.departName}}</u></td>
							<td><u style="cursor:pointer" class="text-primary">{{attend.name}}</u></td>
							<td v-for='(timeModel,index) in attend.timeList'>
								<u v-if='timeModel.AttendPic' style="cursor:pointer" class="text-primary">{{timeModel.AttendResult}}
									<a :href="timeModel.AttendPic" data-lightbox="gallery" data-title="签到/签退照片"><img class="imgclass" width="50px" :src=timeModel.AttendPic></a>
									</u>
								<u v-else style="cursor:pointer" class="text-primary">{{timeModel.AttendResult}}
									</u>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--_footer 作为公共模版分离出去-->
		<!--<script type="text/javascript" src="../../js/H-ui.admin/lib/jquery/1.9.1/jquery.min.js"></script>-->
		<script type="text/javascript" src="../../js/H-ui.admin/lib/layer/2.4/layer.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/static/h-ui/js/H-ui.min.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/static/h-ui.admin/js/H-ui.admin.js"></script>
		<!--/_footer 作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->
		<script type="text/javascript" src="../../js/H-ui.admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/lib/laypage/1.2/laypage.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/lib/lightbox2/2.8.1/js/lightbox.min.js"></script>
		<!--vue-->
		<script src="../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../js/importJS.js?" + Math.random() + "'></s" + "cript>");
		</script>
		<!--<script src='../../js/lib/vconsole/vconsole.min.js'></script>-->
		<script type="text/javascript">
			$(function() {
				$('.table-sort').dataTable({
					"aaSorting": [
						[1, "desc"]
					], //默认第几个排序
					"bStateSave": true, //状态保存
					"aoColumnDefs": [
						//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
						{
							"orderable": false,
							"aTargets": [0, 8, 9]
						} // 制定列不参与排序
					]
				});
				//获取当前人员信息
				getUserInfo();
			});

			var attendData = new Vue({
				el: "#attendData",
				data: {
					flag: 0,
					userInfo: {}, //当前人员信息
					attendTimeArrayAll: [], //考勤时间段列表,合并姓名、部门
					attendTimeArray: [], //考勤时间段列表,从协议获取到的
					departArray: [], //管理的所有部门数组
					showDepartModel: {}, //显示的部门
					showPeopleArray: [] //显示部门对应的人员数组
				},
				methods: {
					searchAttendList: function() {
						//15.获取考勤记录
						getAttend();
					}
				}
			});
			var clickExport = function() {
				if(attendData.showPeopleArray.length == 0 && attendData.flag > 0) {
					layer.alert('没有考勤统计数据');
					return false;
				}
				// 使用outerHTML属性获取整个table元素的HTML代码（包括<table>标签），然后包装成一个完整的HTML文档，设置charset为urf-8以防止中文乱码
				var html = "<html><head><meta charset='utf-8' /></head><body>" + document.getElementsByTagName("table")[0].outerHTML + "</body></html>";
				html = html.replace('<table', '<table border="1"');
				html = html.replace(/(<\/?a.*?>)/g, '');
				html = html.replace(/(<\/?img.*?>)/g, '');
				//				/<a>((?!<\/a>)[\w\W])*<\/a>/g
				// 实例化一个Blob对象，其构造函数的第一个参数是包含文件内容的数组，第二个参数是包含文件类型属性的对象
				var blob = new Blob([html], {
					type: "application/vnd.ms-excel"
				});
				var a = document.getElementById("exportExcel");
				// 利用URL.createObjectURL()方法为a元素生成blob URL
				a.href = URL.createObjectURL(blob);
				var tempTitle = $("#datemax").val() + '考勤详单.xls';
				// 设置文件名，目前只有Chrome和FireFox支持此属性
				a.download = tempTitle;
			}

			//13.获取当前人员信息
			var getUserInfo = function() {
				var tempData = {
					cmd: 'userinfoadmin',
					type: 'findpage', //获取某个详细信息
					colv: '' //留空为取当前人员信息,不为空则为具体人员信息
				}
				console.log('tempData:' + JSON.stringify(tempData));
				unitWebsitePro(tempData, function(data) {
					if(data.RspCode == 0) {
						attendData.userInfo = JSON.parse(data.RspData);
						//13.获取考勤时间段
						getAttendTime();
					} else {
						layer.alert('请重新登录获取个人信息');
					}
				});
			};

			//13.获取考勤时间段
			var getAttendTime = function() {
				var tempData = {
					corpId: attendData.userInfo.corpid, //单位ID
					pageIndex: 1, //当前页数
					pageSize: 0 //每页记录数，0 为全部
				}
				console.log('tempData:' + JSON.stringify(tempData));
				getAttendTimePro(tempData, function(data) {
					if(data.RspCode == 0) {
						var tempModel = {
							AttendTypeNote: '姓名'
						}
						var tempModel1 = {
							AttendTypeNote: '部门'
						}
						attendData.attendTimeArray = [].concat(data.RspData.Data);
						attendData.attendTimeArrayAll = [].concat(data.RspData.Data);
						attendData.attendTimeArrayAll.splice(0, 0, tempModel);
						attendData.attendTimeArrayAll.splice(0, 0, tempModel1);
						//获取管理的部门
						getPersonDepart();
					} else {
						layer.alert(data.RspTxt);
					}
				});
			};

			//选择切换部门
			//			var selectOrder = function(model) {
			//				var obj = document.getElementById('select' + model.value);
			//				var index = obj.selectedIndex; //序号，取当前选中选项的序号
			//				//将选择的部门，给vue中赋值
			//				attendData.showDepartModel = attendData.departArray[index];
			//				//获取选择部门的所有人员
			//				getDepartPerson();
			//			}

			//获取管理的部门
			var getPersonDepart = function() {
				var tempData = {
					cmd: 'persondepartsadmin',
					type: 'findpage' //获取管理员全部管理部门
				}
				console.log('tempData:' + JSON.stringify(tempData));
				unitWebsitePro(tempData, function(data) {
					if(data.RspCode == 0) {
						attendData.departArray = [].concat(JSON.parse(data.RspData));
						var tempArray = [];
						//去掉得到的部门中的‘全部’
						for(var i = 0; i < attendData.departArray.length; i++) {
							var tempModel = attendData.departArray[i];
							tempModel.flag = 0; //未选择
							tempModel.peopleArray = []; //每个部门的人员数组
							if(tempModel.value == -1) {
								attendData.departArray.splice(i, 1);
							} else {
								var temp000 = {
									id: tempModel.value,
									text: tempModel.title
								}
								tempArray.push(temp000);
							}
						}
						$('#ddlLine').combotree({
							valueField: "id",
							textField: "text",
							multiple: true,
							data: tempArray,
							onCheck: function(node, checked) {
								console.log('onCheck.node:' + JSON.stringify(node) + ',' + checked);
								for(var i = 0; i < attendData.departArray.length; i++) {
									var tempModel = attendData.departArray[i];
									if(tempModel.value == node.id) {
										if(node.checked) {
											tempModel.flag = 1;//设置为选中状态
											//判断是否有人员，没有获取
											if (tempModel.peopleArray.length==0) {
												layer.load(2);
												getDepartPerson(tempModel);
											}
										} else {
											tempModel.flag = 0;
										}
									}
								}
							},
							onClick: function(node, checked) {
								console.log('onClick.node:' + JSON.stringify(node) + ',' + checked);
								for(var i = 0; i < attendData.departArray.length; i++) {
									var tempModel = attendData.departArray[i];
									if(tempModel.value == node.id) {
										if(node.checked) {
											tempModel.flag = 1;
										} else {
											tempModel.flag = 0;
										}
									}
								}
							}
						});
					} else {
						layer.alert(data.RspTxt);
					}
				});
			}

			//17.获取某部门ID下所有人员(PC管理端)
			var getDepartPerson = function(model) {
				var tempData = {
					cmd: 'departpersonsadmin',
					type: 'findpage', //获取管理员全部管理部门
					colid: model.value, //部门ID
					colv: '0', //是否递归获取子级部门中所有人员,0否1是
					callcol: 'base' //获取详细信息:info,获取普通信息:base
				}
				console.log('tempData:' + JSON.stringify(tempData));
				unitWebsitePro(tempData, function(data) {
					layer.closeAll('loading');
					if(data.RspCode == 0) {
						for(var i = 0; i < data.RspData.length; i++) {
							var tempModel = data.RspData[i];
							tempModel.departName = model.title;
							tempModel.value = model.value;
						}
						for(var a = 0; a < attendData.departArray.length; a++) {
							var tempModel = attendData.departArray[a];
							if(tempModel.value == model.value) {
								tempModel.peopleArray = [].concat(data.RspData);
							}
						}
					} else {
						layer.alert(data.RspTxt);
					}
				});
			}

			//将对象元素转换成字符串以作比较  
			function obj2key(obj, keys) {
				var n = keys.length,
					key = [];
				while(n--) {
					key.push(obj[keys[n]]);
				}
				return key.join('|');
			}
			//去重操作  
			function uniqeByKeys(array, keys) {
				var arr = [];
				var hash = {};
				for(var i = 0, j = array.length; i < j; i++) {
					var k = obj2key(array[i], keys);
					if(!(k in hash)) {
						hash[k] = true;
						arr.push(array[i]);
					}
				}
				return arr;
			}

			//给数组去重
			Array.prototype.distinct = function() {
				var arr = this,
					i,
					obj = {},
					result = [],
					len = arr.length;
				for(i = 0; i < arr.length; i++) {
					if(!obj[arr[i]]) { //如果能查找到，证明数组元素重复了
						obj[arr[i]] = 1;
						result.push(arr[i]);
					}
				}
				return result;
			}

			//把获取到的部门，按层级组合
			var getNodeTree = function(nodes) {
				if(typeof(nodes) === 'undefined' || nodes.length === 0) {
					return []
				}
				nodes.sort(function(a, b) {
					return a.value - b.value
				})
				var map = {},
					node, roots = [];
				for(var i = 0; i < nodes.length; i++) {
					node = nodes[i]
					node.departList = []
					node.personList = []
					map[node.value] = i // use map to look-up the parents
					if(typeof(map[node.parentvalue]) !== 'undefined') {
						nodes[map[node.parentvalue]].departList.push(node)
					} else {
						if(node.value >= 0) {
							roots.push(node);
						}
					}
				}
				//				console.log('getChildrenTree获取的数据：' + JSON.stringify(roots))
				return roots
			}

			//15.获取考勤记录
			var getAttend = function() {
				var beginTime = $("#datemax").val();
				beginTime = beginTime.replace(/-/g, '');
				if(beginTime == '') {
					layer.alert('请选择查询日期');
					return false;
				}
				//检查有没有选择部门
				var tempFlag = 0; //是否选择部门
				var tempPeopleArray = []; //人员id数组
				var tempDepartArray = []; //部门id数组
				attendData.showPeopleArray = []; //清空
				for(var a = 0; a < attendData.departArray.length; a++) {
					var tempModel = attendData.departArray[a];
					tempDepartArray.push(tempModel.value);
					if(tempModel.flag == 1) {
						tempFlag++;
						for(var m = 0; m < tempModel.peopleArray.length; m++) {
							var tempModel1 = tempModel.peopleArray[m];
							tempPeopleArray.push(tempModel1.userid);
							tempModel1.timeList = [];
							//给每一个人添加时间段数组
							for(var n = 0; n < attendData.attendTimeArray.length; n++) {
								var temp00 = attendData.attendTimeArray[n];
								var temp01 = {
									AttendType: temp00.AttendType,
									AttendResult: '缺勤',
									AttendMessage: temp00.AttendMessage,
									ContinuousMinute: temp00.ContinuousMinute,
									LateMinute: temp00.LateMinute,
									attendTypeProp: temp00.attendTypeProp,
									AttendTimeId: temp00.AttendTimeId,
									BeginHour: temp00.BeginHour,
									AttendTypeNote: temp00.AttendTypeNote,
									BeginMinute: temp00.BeginMinute
								}
								tempModel1.timeList.push(temp01);
							}
							attendData.showPeopleArray.push(tempModel1);
						}
					}
				}
				if(tempFlag == 0) {
					layer.alert('请选择查询部门');
					return false;
				}
				layer.load(2);
				var tempData = {};
				if(beginTime.length > 0) {
					tempData = {
						corpId: attendData.userInfo.corpid, //单位ID
						deptId:tempDepartArray,//部门ID，例如：[“1”, “2”, “3”]
						userId: tempPeopleArray, //用户ID,例如：[“1”, “2”, “3”]
						beginTime: beginTime, //统计开始时间,年月日共八位如：20011010
						endTime: beginTime, //统计结束时间,年月日共八位如：20011010
						attendResultId: '0', //0：全部,1: 正常,2：迟到,3：早退
						attendTypeId: '0', //0 为全部
						attendAreaId: '0', //0 为全部
						pageIndex: '1',
						pageSize: '0' //0 为全部
					}
				} else {
					var myDate = new Date().format('yyyy-MM-dd');
					var endTime = myDate.toString().replace(/-/g, '');
					tempData = {
						corpId: attendData.userInfo.corpid, //单位ID
						deptId:tempDepartArray,//部门ID，例如：[“1”, “2”, “3”]
						userId: tempPeopleArray, //用户ID,例如：[“1”, “2”, “3”]
						beginTime: endTime, //统计开始时间,年月日共八位如：20011010
						endTime: endTime, //统计结束时间,年月日共八位如：20011010
						attendResultId: '0', //0：全部,1: 正常,2：迟到,3：早退
						attendTypeId: '0', //0 为全部
						attendAreaId: '0', //0 为全部
						pageIndex: '1',
						pageSize: '0' //0 为全部
					}
				}
				console.log('tempData:' + JSON.stringify(tempData));
				getAttendPro(tempData, function(data) {
					if(data.RspCode == 0) {
						console.log('data:' + JSON.stringify(data));
						for(var i = 0; i < data.RspData.Data.length; i++) {
							var tempModel = data.RspData.Data[i];
							for(var a = 0; a < attendData.showPeopleArray.length; a++) {
								var tempModel1 = attendData.showPeopleArray[a];
								if(tempModel.DeptId == tempModel1.value) {
									if(tempModel.UserId == tempModel1.userid) {
										console.log('tempModel.UserId:' + tempModel.UserId + ',' + tempModel1.userid);
										for(var b = 0; b < tempModel1.timeList.length; b++) {
											var timeModel = tempModel1.timeList[b];
											if(tempModel.AttendType == timeModel.AttendType) {
												//合并对象
												timeModel = $.extend(timeModel, tempModel);
											}
										}
									}
								}
							}
						}
						console.log('合并后的数据为:' + JSON.stringify(attendData.showPeopleArray));
						attendData.flag = 1;
					} else {
						layer.alert(data.RspTxt);
					}
					layer.closeAll('loading');
				});
			};
		</script>
	</body>

</html>