<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-stat-bar-style" content="black">
		<title>管理考勤</title>
		<script type="text/javascript">
			var WebVersion = "?" + Math.random();
			document.write('<link rel="stylesheet" href="../../js/H-ui.admin/static/h-ui/css/H-ui.min.css' + WebVersion + '" />');
			document.write('<link rel="stylesheet" href="../../js/H-ui.admin/static/h-ui.admin/css/H-ui.admin.css' + WebVersion + '" />');
			document.write('<link rel="stylesheet" href="../../js/H-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css' + WebVersion + '" />');
			document.write('<link rel="stylesheet" href="../../js/H-ui.admin/static/h-ui.admin/skin/default/skin.css' + WebVersion + '" id="skin" />');
			document.write('<link rel="stylesheet" href="../../js/H-ui.admin/static/h-ui.admin/css/style.css' + WebVersion + '" />');
		</script>
		<style>
			.operate-edit {
				text-decoration: none;
			}
			
			#column_info .row {
				margin-left: 0;
				margin-right: 0;
			}
			
			#column_info .submit-button {
				margin-bottom: 15px;
			}
			
			#column_info .input-text[type="number"] {
				width: 100%;
			}
		</style>
	</head>

	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 考勤 <span class="c-gray en">&gt;</span> 管理考勤
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>
		<div id="column_table" class="page-container">
			<div class="cl pd-5 bg-1 bk-gray">
				<span class="l">
					<a class="btn btn-primary radius" @click="add"><i class="Hui-iconfont"></i> 添加考勤时间段</a>
				</span>
			</div>
			<column-table :value="dt" @click-edit="edit" @click-del="del" @click-shield="shield"></column-table>
			<div id="pages" style="margin-top: 20px;"></div>
		</div>
		<div id="column_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content radius">
					<div class="modal-header">
						<h3 class="modal-title">{{title}}</h3>
					</div>
					<div class="modal-body">
						<p>{{content}}</p>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">确定</button>
					</div>
				</div>
			</div>
		</div>

		<!--表格-->
		<template id="temp_column_table">
			<table class="table table-border table-bordered table-bg">
				<thead class="text-c">
					<tr>
						<th>考勤类型说明</th>
						<th>打卡开始时间</th>
						<!--<th>开始时间（分钟）</th>-->
						<th>上班或下班时间</th>

						<th>打卡结束时间</th>
						<th>考勤短信</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-c" v-for="(item,index) in value">
						<td>{{item.AttendTypeNote1}}</td>
						<td v-if="item.BeginMinute<10">{{item.BeginHour}}:0{{item.BeginMinute}}</td>
						<td v-else="">{{item.BeginHour}}:{{item.BeginMinute}}</td>
						<!--<td>{{item.BeginMinute}}</td>-->
						<!--<td>{{item.ContinuousMinute}}</td>-->
						<td v-if="item.workTimePoint_Minute<10">{{item.workTimePoint_Hour}}:0{{item.workTimePoint_Minute}}</td>
						<td v-else="">{{item.workTimePoint_Hour}}:{{item.workTimePoint_Minute}}</td>
						<td v-if="item.cardEndTimePoint_Minute<10">{{item.cardEndTimePoint_Hour}}:0{{item.cardEndTimePoint_Minute}}</td>
						<td v-else="">{{item.cardEndTimePoint_Hour}}:{{item.cardEndTimePoint_Minute}}</td>
						<!--<td>{{item.LateMinute}}</td>-->
						<td>{{item.AttendMessage}}</td>
						<td class="sorting_1">
							<a class="operate-edit" @click="clickEdit(item)" title="编辑">编辑</a>
							<a style="text-decoration:none" class="ml-5" @click="clickDel(item)" title="删除">删除</a>

						</td>
					</tr>
				</tbody>
			</table>
		</template>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../js/PublicProtocol.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/utils/utils.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/utils/storageutil.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/H-ui.admin/lib/jquery/1.9.1/jquery.min.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/H-ui.admin/lib/layer/2.4/layer.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/H-ui.admin/static/h-ui/js/H-ui.min.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/H-ui.admin/static/h-ui.admin/js/H-ui.admin.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/H-ui.admin/lib/laypage/1.2/laypage.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/vue.min.js" + WebVersion + "'></s" + "cript>");
		</script>
		<script>
			//栏目表组件
			Vue.component('column-table', {
				props: ['value'],
				template: '#temp_column_table',
				methods: {
					/**
					 * 点击编辑
					 * @param {Object} index
					 */
					clickEdit: function(item) {
						this.$emit("click-edit", item);
					},
					clickDel: function(item) {
						this.$emit("click-del", item);
					},
					clickShield: function(item) {
						this.$emit("click-shield", item);
					}
				}
			});
			//栏目表
			var column_table = new Vue({
				el: "#column_table",
				data: {
					dt: [

					]

				},
				methods: {
					/**
					 * 点击添加栏目
					 */
					add: function() {
						var tempData = {
							type: 'add'
						}
						var url = "../unitWeb/addAttendTime.html";
						var ids = url.split("/");
						var dataStr = JSON.stringify(tempData);
						var index = layer.open({
							type: 2,
							title: "新增考勤时间段",
							content: url + "?v=" + Math.random() + "&data=" + encodeURIComponent(dataStr),
							end: function() {
								console.log("刷新")
								location.reload();
							}
						});
						layer.full(index);

						//						column_info.showAdd();
					},
					/**
					 * 点击编辑
					 * @param {Object} index 栏目序号
					 */
					edit: function(item) {
						item.type = 'edit';
						var url = "../unitWeb/editAttendTime.html";
						var ids = url.split("/");
						var dataStr = JSON.stringify(item);
						var index = layer.open({
							type: 2,
							title: "编辑考勤时间段",
							content: url + "?v=" + Math.random() + "&data=" + encodeURIComponent(dataStr),
							end: function() {
								console.log("刷新")
								location.reload();
							}
						});
						layer.full(index);

						//						column_info.showEdit(this.dt[index]);
					},
					shield: function(item) {
						var tempFlag = 0;
						var tempStr = ''
						if(item.stat == 0) {
							tempFlag = 1;
							var tempStr = '启用'
						} else {
							tempFlag = 0;
							var tempStr = '停用'
						}
						layer.confirm('确认要' + tempStr + '吗？', function(index) {
							console.log('item1:' + JSON.stringify(item))
							layer.close(index);

							var para = {
								cmd: 'chn',
								type: 'edit',
								colid: item.chnid,
								callcol: 'stat',
								colv: tempFlag

							}

							//							alert(JSON.stringify(para))
							unitWebsitePro(para, function(data) {
								if(data.RspCode == 0) {
									if(item.stat == 0) {
										item.stat = 1;
									} else {
										item.stat = 0;
									}
									console.log('item2:' + JSON.stringify(item))
									console.log('dt:' + JSON.stringify(column_table.dt))
									layer.msg('已' + tempStr + '!', {
										icon: 1,
										time: 1000
									});
								} else {
									alert(data.RspTxt);
								}
							});
						});

					},
					del: function(item) { //删除栏目
						console.log("item====" + JSON.stringify(item));
						console.log("删除--item===" + item.AttendTimeId);
						layer.confirm('删除后无法恢复,确认要删除吗？', function(index) {

							console.log("删除--index==" + index);

							layer.close(index);

							/**
							 * 通过考勤时间段记录的编号删除该条记录
							 */
							//alert("AttendAreaId=="+item.AttendAreaId);
							var tempData = {
								"attendTimeId": item.AttendTimeId,

								"uuid": "",
								"appid": "",
								"token": "",
								"sign": ""
							}

							$.ajax({
								url: "https://jbyj.jiaobaowang.net/AttendanceService/delAttendTime",
								type: "POST",
								data: JSON.stringify(tempData),
								timeout: 1000,
								dataType: "json",
								async: false,
								success: function(data) {
									console.log("删除考勤地点接口返回的情况======" + JSON.stringify(data));
									/**
									 * 如果接口返回正常，则跳转到显示考勤地点页面
									 */
									if(data.RspCode == 0) {
										//给用户提示，删除成功
										alert("删除成功");
										window.location = "../pcWeb-HUI/attendenceManage.html";

									} else if(data.RspCode == 1014) {
										alert("该考勤时间段内有关联的考勤记录！");
									}
								},
								error: function() {
									$.toast("状态错误，请重新进入APP", "cancel", function() {
										console.log('close');
									});
								}
							})

							//							var para = {
							//								cmd: 'chn',
							//								type: 'del',
							//								colid: item.chnid
							//							}
							//							//							alert(JSON.stringify(para))
							//							unitWebsitePro(para, function(data) {
							//								if(data.RspCode == 0) {
							//									layer.msg('已删除!', {
							//										icon: 1,
							//										time: 1000
							//									});
							//									location.reload();
							//								} else {
							//									alert(data.RspTxt);
							//								}
							//							});
						});

					},
				}
			});

			//栏目信息
			var column_info = new Vue({
				el: "#column_info",
				data: {
					cname: "",
					linkurl: "",
					orderid: "",
					note: "",
					istop: "",
					type: ""
				},
				methods: {
					/**
					 * 显示添加栏目
					 */
					showAdd: function() {
						this.cname = "";
						this.linkurl = "";
						this.orderid = "";
						this.note = "";
						this.istop = "";
						this.type = "添加";
						this.show("添加栏目");
					},
					/**
					 * 显示编辑栏目
					 */
					showEdit: function(value) {
						this.cname = value.cname;
						this.linkurl = value.linkurl;
						this.orderid = value.orderid;
						this.note = value.note;
						this.istop = value.istop;
						this.type = "删除";
						this.show("编辑栏目");
					},
					/**
					 * 显示页面
					 */
					show: function(title) {
						layer.open({
							type: 1,
							title: title,
							area: '500px',
							content: $('#column_info') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
						});
					}
				}
			});

			//提示的弹出框
			var column_modal = new Vue({
				el: "#column_modal",
				data: {
					title: "",
					content: ""
				},
				methods: {
					/**
					 * 显示弹出框
					 * @param {Object} title 标题
					 * @param {Object} content 内容
					 */
					show: function(title, content) {
						this.title = title;
						this.content = content;
						$("#column_modal").modal("show");
					}
				}
			});
			window.onload = function() {
				getColumnData(1);
			}

			/**
			 * 获取栏目列表
			 * @param {Object} pageindex 列表序号
			 */
			var corpId = "";

			function getColumnData(pageindex) {
				//				var tempData = {
				//					cmd: 'chn',
				//					type: 'findpage',
				//					pagesize: '10',
				//					pageindex: pageindex
				//				}

				/**
				 * 先从c#接口获取登录者的单位标识
				 */
				var tempData = {
					cmd: 'userinfo',
					type: 'findpage',
					colv: ''
				}

				$.ajax({
					url: "https://jsypay.jiaobaowang.net/wxth/appschweb/schwebapi.aspx",
					type: "POST",
					data: JSON.stringify(tempData),
					timeout: 1000,
					dataType: "json",
					async: false,
					success: function(data) {
						console.log("用户基本信息==============" + JSON.stringify(data))
						if(data.RspCode == 0) {
							var rep = JSON.parse(data.RspData);

							corpId = rep.corpid;

						} else if(data.RspCode == 7) {
							//							$.toast("登录超时，请重新进入APP", "cancel", function() {
							//								console.log('close');
							//							});
							alert("登录超时，请重新进入企业微信后台管理");
						}
					},
					error: function() {
						console.log("error");
					}
				})
//				corpId = "wx6c4528c675d4a9c9";
				var requestDataForAttendTime = {
					"corpId": corpId, //暂时写死，此值是从顾工c#接口中获取登陆者的单位标识
					"pageIndex": pageindex,
					"pageSize": 10,
					"uuid": "",
					"appid": "",
					"token": "",
					"sign": ""
				}
				$.ajax({
					type: "post",
					url: "https://jbyj.jiaobaowang.net/AttendanceService/getAttendTime", //应该是绑定.9机器的域名，考勤管理模块应该也是部署在此阿里云服务机器上。
					async: false,
					data: JSON.stringify(requestDataForAttendTime),
					success: function(data) {
						console.log("data====" + JSON.stringify(data));
						if(data.RspCode == 0) {
							console.log("data.RspData.Data====" + data.RspData.Data)

							for(i = 0, len = data.RspData.Data.length; i < len; i++) {
								var attendTypeProp = data.RspData.Data[i].attendTypeProp;
								var BeginHour = data.RspData.Data[i].BeginHour;
								var BeginMinute = data.RspData.Data[i].BeginMinute;
								var ContinuousMinute = data.RspData.Data[i].ContinuousMinute;
								var LateMinute = data.RspData.Data[i].LateMinute;
								//上班或下班时间
								var workTimePoint_Hour;
								var workTimePoint_Minute;
								var cardEndTimePoint_Hour;
								var cardEndTimePoint_Minute;
								if(attendTypeProp == 1) { //上班属性，
									//									//					算出上班时间和打卡结束时间
									var sum_Work = BeginHour * 60 + parseInt(BeginMinute) + parseInt(ContinuousMinute);
									console.log("sum_Work11111====" + sum_Work)
									//除以60商就是小时数，余数就是分钟数
									workTimePoint_Hour = parseInt(sum_Work / 60)
									workTimePoint_Minute = sum_Work % 60
									console.log("workTimePoint_Hour====" + workTimePoint_Hour)
									console.log("workTimePoint_Minute====" + workTimePoint_Minute)
									var sum_End = sum_Work + parseInt(LateMinute)
									console.log("sum_End====" + sum_End)
									cardEndTimePoint_Hour = parseInt(sum_End / 60)
									console.log("cardEndTimePoint_Hour====" + cardEndTimePoint_Hour)
									cardEndTimePoint_Minute = sum_End % 60
									console.log("cardEndTimePoint_Minute====" + cardEndTimePoint_Minute)
								} else {
									//下班属性，
									//									//					算出上班时间和打卡结束时间
									var sum_Work = BeginHour * 60 + parseInt(BeginMinute) + parseInt(LateMinute);
									console.log("sum_Work====" + sum_Work)
									//除以60商就是小时数，余数就是分钟数
									workTimePoint_Hour = parseInt(sum_Work / 60)
									workTimePoint_Minute = sum_Work % 60
									console.log("workTimePoint_Hour====" + workTimePoint_Hour)
									console.log("workTimePoint_Minute====" + workTimePoint_Minute)
									var sum_End = sum_Work + parseInt(ContinuousMinute)
									console.log("sum_End====" + sum_End)
									cardEndTimePoint_Hour = parseInt(sum_End / 60)
									console.log("cardEndTimePoint_Hour====" + cardEndTimePoint_Hour)
									cardEndTimePoint_Minute = sum_End % 60
									console.log("cardEndTimePoint_Minute====" + cardEndTimePoint_Minute)
								}

								//dt是数组
								column_table.dt.push({
									AttendTypeNote1: data.RspData.Data[i].AttendTypeNote,
									BeginHour: BeginHour,
									BeginMinute: BeginMinute,
									workTimePoint_Hour:workTimePoint_Hour,
									workTimePoint_Minute: workTimePoint_Minute,
									cardEndTimePoint_Hour: cardEndTimePoint_Hour,
									cardEndTimePoint_Minute:cardEndTimePoint_Minute,
									AttendMessage:data.RspData.Data[i].AttendMessage
								})
								//								if(dt.attendTypeProp == 1) { //上班属性，
								//									//					算出上班时间和打卡结束时间
								//									
								//								} else {}
							}

							/**
							 * 根据总页数初始化页码数
							 */
							initLaypage(data.RspData.TotalPage, pageindex);
						}
					}
				})
				//				unitWebsitePro(tempData, function(data) {
				//					if(data.RspCode == 0) {
				//						column_table.dt = data.RspData.dt;
				//						initLaypage(data.RspData.pg.PageCount, pageindex);
				//					} else {
				//						column_table.dt = [];
				//						column_modal.show("获取数据失败", data.RspTxt);
				//					}
				//				});
			}

			/**
			 * 初始化页码
			 * @param {Object} pages 通过后台拿到的总页数
			 * @param {Object} curr 初始化当前页
			 */
			function initLaypage(pages, curr) {
				laypage({
					cont: 'pages', //容器
					pages: pages, //通过后台拿到的总页数
					curr: curr, //初始化当前页
					jump: function(e, first) { //触发分页后的回调
						//console.log("jump: " + first + " " + JSON.stringify(e));
						if(!first) {
							getColumnData(e.curr);
						}
					}
				});
			}
		</script>
	</body>

</html>