<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" type="text/css" href="../../js/H-ui.admin/static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../js/H-ui.admin/static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="../../js/H-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../js/H-ui.admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" type="text/css" href="../../js/H-ui.admin/static/h-ui.admin/css/style.css" />
		<title>添加点评学生模块</title>
		<style>
			#addEvaluateLayer .row {
				margin-left: 0;
				margin-right: 0;
			}
			
			#addEvaluateLayer .submit-button {
				margin-bottom: 15px;
			}
			
			#addEvaluateLayer .input-text[type="number"] {
				width: 100%;
			}
			
			#addEvaluateLayer .check-box {
				padding-left: 0;
				cursor: auto;
			}
		</style>
	</head>

	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 学生点评 <span class="c-gray en">&gt;</span> 学生点评模板配置
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>
		<div class="page-container" id="evaluateData">
			<div class="cl pd-5 bg-1 bk-gray"> <span class="l"> <a href="javascript:;" @click="addEvaluate()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加点评模板</a></span></div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg">
					<thead>
						<tr class="text-c">
							<th width="100">点评模板内容</th>
							<th width="100">点评模板分类</th>
							<th width="100">模板图片</th>
							<th width="50">排序</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-c" v-for='(evaluate,index) in evaluateArray' v-show="flag>0" style="display: none;">
							<td><u style="cursor:pointer" class="text-primary">{{evaluate.TemplContent}}</u></td>
							<td class="td-status"><span><a v-if="evaluate.TemplType==1">表扬</a><a v-else>待改进</a></span></td>
							<td><u v-if='evaluate.TemplPic' style="cursor:pointer" class="text-primary">{{evaluate.AttendResult}}
									<a data-title="模板图片"><img class="imgclass" width="50px" :src=evaluate.TemplPic></a>
								</u></td>
							<td><u style="cursor:pointer" class="text-primary">{{evaluate.OrderId}}</u></td>
							<td class="td-manage">
								<!--<a title="修改考勤类型" href="javascript:;" @click="modifyEvaluate(evaluate,index)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>-->
								<a title="删除考勤类型" href="javascript:;" @click="removeEvaluate(evaluate,index)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="addEvaluateLayer" style="display: none;">
			<form class="form form-horizontal">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">模板内容：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" maxlength="20" v-model="TemplContent" placeholder="请输入模板内容">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">模板分类：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
							<select id="TemplTypeSelect" class="select" size="1" title="请选择模板分类" @change="TemplTypeChange">
								<option value="1">表扬</option>
								<option value="2">待改进</option>
							</select>
						</span>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">模板排序ID：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<select :id="'select'+evaluateModel.OrderId" @change="selectOrder(evaluateModel)">
							<template v-for="item in selectArray">
								<option v-if="item==evaluateModel.OrderId" selected :value="item">{{item}}</option>
								<option v-else :value="item">{{item}}</option>
							</template>
						</select>
						(*排序id越小越靠前)
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">图片上传：</label>
					<div class="formControls skin-minimal col-xs-8 col-sm-9">
						<div class="check-box">
							<span class="btn-upload" id="select-pic">
							  <a class="btn btn-primary radius" >选取文件</a>
							  <input id="uploaderInput" type="file" class="input-file" accept="image/png, image/jpeg, image/jpg" @change="selectFile">
							</span>
							<div v-if="localPath!=''" class="picture-show" style="padding-top: 10px;">
								<img :src="localPath" />
							</div>
						</div>
					</div>
				</div>
				<div class="row cl submit-button">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="button" value="确定" @click="btnAdd()">
					</div>
				</div>
			</form>
		</div>
		<!--_footer 作为公共模版分离出去-->
		<script type="text/javascript" src="../../js/H-ui.admin/lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/lib/layer/2.4/layer.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/static/h-ui/js/H-ui.min.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/static/h-ui.admin/js/H-ui.admin.js"></script>
		<!--/_footer 作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->
		<script type="text/javascript" src="../../js/H-ui.admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/lib/laypage/1.2/laypage.js"></script>
		<script src="../../js/utils/storageutil.js"></script>
		<script src="../../js/utils/cryption.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/lib/plupload/moxie.min.js"></script>
		<script src="../../js/lib/plupload/plupload.dev.js"></script>
		<script src="../../js/lib/qiniu/qiniu.min.js"></script>
		<script src="../../js/utils/cloudutil.js"></script>

		<!--vue-->
		<script src="../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../js/importJS.js?" + Math.random() + "'></s" + "cript>");
		</script>
		<script src='../../js/lib/vconsole/vconsole.min.js'></script>
		<script type="text/javascript">
			$(function() {
				$('.table-sort').dataTable({
					"aaSorting": [
						[1, "desc"]
					], //默认第几个排序
					"bStateSave": true, //状态保存
					"aoColumnDefs": [
						//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
						{
							"orderable": false,
							"aTargets": [0, 8, 9]
						} // 制定列不参与排序
					]
				});
				//获取当前人员信息
				getUserInfo();
			});

			var evaluateData = new Vue({
				el: "#evaluateData",
				data: {
					flag: 0,
					subFlag: 0, //0刷新，1加载更多
					subIndex: 1, //获取第几页数据
					userInfo: {}, //当前人员信息
					evaluateArray: [],
					evaluateFlag: 0 //0添加，1编辑

				},
				methods: {
					modifyEvaluate: function(model, index) {
						evaluateData.evaluateFlag = 1;
						addEvaluateLayer.showEdit(model);
					},
					addEvaluate: function() {
						evaluateData.evaluateFlag = 0;
						addEvaluateLayer.showAdd();
					},
					removeEvaluate: function(model, index) {
						layer.confirm('确认要删除吗？', function(index) {
							layer.close(index);
							var tempData = {
								templId: model.TemplId
							}
							delEvalTemplatePro(tempData, function(data) {
								if(data.RspCode == 0) {
									if(data.RspData.Result == 1) {
										layer.alert('删除成功');
										//3.获取点评模板
										getEvalTemplate();
									} else {
										layer.alert('删除失败');
									}
								} else {
									alert(data.RspTxt);
								}
							});
						});
					}
				}
			});
			//添加的弹出框
			addEvaluateLayer = new Vue({
				el: "#addEvaluateLayer",
				data: {
					selectArray: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
					TemplContent: "", //点评模板内容
					TemplType: 1, //点评模板分类，1 表扬，2 待改进
					OrderId: 0, //排序
					evaluateModel: {
						OrderId: 0
					}, //要修改的的类型model
					localPath: ""
				},
				mounted: function() {
					console.log("mounted")
					this.uploadFile();
				},
				methods: {
					selectFile: function(e) {
						console.log("e.target.value:" + e.target.value);
						console.log(e.target.files);
						if(e.target.files.length > 0) {
							var theFile = e.target.files[0];
							if(this.isInType(theFile.type)) { //上传文件

							} else {
								this.emitUndefinedFile(); //清空上传文件
								e.target.value = "";
								layer.alert('所选文件类型错误，请重新选择') //提示错误
							}
						} else {
							this.emitUndefinedFile(); //清空上传文件
						}
					},
					emitUndefinedFile: function() { //清空上传文件
						this.$emit("uploadedFile", null);
					},
					uploadFile: function() { //上传文件方法
						console.log("*******uploadFile*******")
						var com = this;
						var thumbOption = {
							type: 0
						};
						cloudutil.uploadQnSingleImg("select-pic", thumbOption, function(response) {
							console.log("获取的上传七牛图片信息：" + JSON.stringify(response));
							com.localPath = response.saveurl + "?imageView2/5/w/200";
						})
					},
					isInType: function(type) {
						switch(type) {
							case "image/png":
							case "image/jpeg":
								return true;
							default:
								return false;
						}
					},
					/**
					 * 显示添加图片
					 */
					showAdd: function() {
						$('#select' + this.evaluateModel.OrderId).val(0);
						this.TemplContent = "";
						this.OrderId = 0;
						this.TemplType = 1;
						this.localPath = '';
						this.evaluateModel = {
							OrderId: 0
						}
						$("#TemplTypeSelect").val(1);
						this.show("添加点评模板");
					},
					/**
					 * 显示编辑图片
					 */
					showEdit: function(value) {
						this.TemplContent = value.TemplContent;
						this.OrderId = value.OrderId;
						$("#TemplTypeSelect").val(value.TemplType);
						this.show("编辑点评模板");
						this.evaluateModel = value;
					},
					/**
					 * 显示页面
					 */
					show: function(title) {
						layer.open({
							type: 1,
							title: title,
							area: '550px',
							content: $('#addEvaluateLayer') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
						});
					},
					btnAdd: function() {
						if(addEvaluateLayer.TemplContent.length == 0) {
							layer.alert('请输入点评模板内容');
							return false;
						}
						if(addEvaluateLayer.localPath.length == 0) {
							layer.alert('请选择模板图片');
							return false;
						}
						if(evaluateData.evaluateFlag == 0) { //添加
							//添加类型时，判断是否输入了值，有没有重复
							if(checkInput(addEvaluateLayer.TemplContent, 0)) {
								//发送添加协议
								var tempData = {
									corpId: evaluateData.userInfo.corpid, //单位ID
									templContent: addEvaluateLayer.TemplContent, //考勤类型说明
									templType: addEvaluateLayer.TemplType, //1 表扬，2 待改进
									templPic: addEvaluateLayer.localPath, //模板图片
									templPicThumb: addEvaluateLayer.localPath, //图片缩略图
									orderId: addEvaluateLayer.OrderId //排序id
								}
								console.log('tempData:' + JSON.stringify(tempData));
								addEvalTemplatePro(tempData, function(data) {
									layer.closeAll();
									if(data.RspCode == 0) {
										if(data.RspData.Result == 0) {
											layer.alert('添加失败');
										} else {
											layer.alert('添加成功');
											//3.获取点评模板
											getEvalTemplate();
										}
									} else {
										layer.alert(data.RspTxt);
									}
								});
							}

						} else {
							//重新编辑类型时，判断是否输入了值，有没有重复
							//							if(checkInput(addEvaluateLayer.TemplContent, 1)) {
							//								var tempData = {
							//									templId: this.evaluateModel.templId, //考勤类型ID
							//									TemplContent: addEvaluateLayer.TemplContent, //考勤类型说明
							//									TemplType: addEvaluateLayer.TemplType, //1 表扬，2 待改进
							//									OrderId: addEvaluateLayer.OrderId //排序id
							//								}
							//								console.log('tempData:' + JSON.stringify(tempData));
							//								setAttendTypePro(tempData, function(data) {
							//									layer.closeAll();
							//									if(data.RspCode == 0) {
							//										if(data.RspData.Result == 1) {
							//											layer.alert('修改成功');
							//											//3.获取点评模板
							//											getEvalTemplate();
							//										} else {
							//											layer.alert('修改失败');
							//										}
							//									} else {
							//										layer.alert(data.RspTxt);
							//									}
							//								});
							//							}
						}
					},
					/**
					 * 修改排序ID
					 */
					TemplTypeChange: function() {
						var obj = document.getElementById('TemplTypeSelect');
						var index = obj.selectedIndex; //序号，取当前选中选项的序号
						var val = obj.options[index].value;
						addEvaluateLayer.TemplType = val;
					}
				}
			});

			//修改排序id
			var selectOrder = function(model) {
				var obj = document.getElementById('select' + model.OrderId);
				var index = obj.selectedIndex; //序号，取当前选中选项的序号
				var val = obj.options[index].value;
				model.OrderId = val;
				//				alert('model.OrderId:'+model.OrderId);
				addEvaluateLayer.OrderId = model.OrderId;
			}
			//13.获取当前人员信息
			var getUserInfo = function() {
				var tempData = {
					cmd: 'userinfoadmin',
					type: 'findpage', //获取某个详细信息
					colv: '' //留空为取当前人员信息,不为空则为具体人员信息
				}
				console.log('tempData:' + JSON.stringify(tempData));
				unitWebsitePro(tempData, function(data) {
					if(data.RspCode == 0) {
						evaluateData.userInfo = JSON.parse(data.RspData);
						//3.获取点评模板
						getEvalTemplate();
					} else {
						layer.alert('请重新登录获取个人信息');
					}
				});
			};
			//12.获取考勤类型
			var getEvalTemplate = function() {
				var tempData = {
					corpId: evaluateData.userInfo.corpid, //单位ID
					templType: 0, //模板分类,0 全部,1 表扬,2 待改进
					pageIndex: 1, //当前页数
					pageSize: 0 //每页记录数，0 为全部
				}
				console.log('tempData:' + JSON.stringify(tempData));
				getEvalTemplatePro(tempData, function(data) {
					if(data.RspCode == 0) {
						evaluateData.evaluateArray = [].concat(data.RspData.Data);
						evaluateData.flag = 1;
					} else {
						layer.alert(data.RspTxt);
					}
				});
			};

			//添加课程时，判断是否输入了值，有没有重复,flag=0添加，flag=1修改
			var checkInput = function(text, flag) {
				if(text.trim().length == 0) {
					alert('模板内容不能为空');
					return false;
				}
				if(isNull(text)) {
					alert('模板内容不能为空');
					return false;
				}
				var tempFlag = 0;
				for(var i = 0; i < evaluateData.evaluateArray.length; i++) {
					var tempModel = evaluateData.evaluateArray[i];
					if(tempModel.TemplContent == text) {
						tempFlag++;
					}
				}
				if(tempFlag == 0) {
					return true;
				} else if(tempFlag == 1 && flag == 1) {
					return true;
				} else {
					alert('存在同内容的模板');
					return false;
				}
			}

			//判断输入字符串是否为空或者全部都是空格
			function isNull(str) {
				if(str == "") return true;
				var regu = "^[ ]+$";
				var re = new RegExp(regu);
				return re.test(str);
			}
		</script>
	</body>

</html>