<!DOCTYPE html>
<html> 
	<head>
		<meta charset="UTF-8">
		<title>新闻审核</title> 
		<link rel="stylesheet" type="text/css" href="../../js/H-ui.admin/static/h-ui/css/H-ui.min.css" /> 
		<link rel="stylesheet" type="text/css" href="../../js/H-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css" /> 
		<link rel="stylesheet" type="text/css" href="../../css/weui.min.css" />
		<style>
 	</style>
	</head> 
	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 新闻 <span class="c-gray en">&gt;</span> 新闻审核
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>
		<div class="page-container">
			<div id="chnid">
				<select class="select" id="Prixlk" name="one" style="height: 45px;font-size: 17px;color: #929292;">
					<option id="selectDropdown" :value='item.chnid' v-for="item in items">{{item.cname}}</option>
				</select>
			</div>
			<div id="newsData"> 
				<table style=" table-layout:fixed;" class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
					<thead>
						<tr class="text-c"> 
							<th width="90"  >新闻标题</th>
							<th width="90" >新闻副标题</th>
							<th width="120" >新闻内容</th> 
							<th  width="100" >操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-c" v-for="(newsModel,index) in item.newsArray" :data-index="index"> 
							<td  style="  overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" > {{newsModel.topic}}</td>
							<td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" >{{newsModel.subtopic}}</td>
							<td  style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" >{{newsModel.content}}</td>
							<td   style="text-align: center;">
								<button id="{{newsModel.newsid}}" class="btn btn-primary radius" @click="clickDel(newsModel,1,index)">{{newsModel.Prizt}}</button>&nbsp;&nbsp;&nbsp;
								<a class="text-primary operate-cursor" @click="click(newsModel,index,item.cname )" title="编辑"><i class="Hui-iconfont"></i></a>
						    	<a style="text-decoration:none" class="ml-5" @click="clickDel(newsModel,0,index)" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div> 
		<script type="text/javascript" src="../../js/H-ui.admin/lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/lib/layer/2.4/layer.js"></script>  
		<script src="../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>  
		<script type="text/javascript" src="../../js/H-ui.admin/lib/laypage/1.2/laypage.js"></script>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../js/importJS.js?" + Math.random() + "'></s" + "cript>");
		</script>  
		<script type="text/javascript">
	       	function click(newsModel, index, cname) { 
				var url = "../pcWeb-HUI/addnews.html";
				var newslist = new Object();
				newslist.cname = cname;
				newslist.type = "edit";
				newslist.newsid = newsModel.newsid;  
				var ids = url.split("/");
				var index = layer.open({
					type: 2,
					title: "编辑文章",
					content: url + "?v=" + Math.random() + "&data=" + encodeURIComponent(JSON.stringify(newslist)),
					end: function() {
						console.log("刷新")
						location.reload();
					}
				});
				layer.full(index);  
			}
			var newsFlag = 0; //0刷新，1加载更多
			var newsPage = 1; //加载当当前新闻的页码
			//所属栏目下拉框
			var vue_input = new Vue({
				el: '#chnid',
				data: {
					items: [ 
					]
				},
				methods: {}
			});
			//新闻数据列表
			var newsData = new Vue({
				el: '#newsData',
				data: {
					item: {
						newsArray: [ 
//						{
//						newsid:102, 
//						chnid:5,
//						topic:"学校和市审计局启动战略合作",
//						subtopic:"来源：成都大学新闻网", 
//						content:"12" 
//						}
						]
					}
				},
				updated: function() {
					var tempVVV = document.getElementById("newsData");
					console.log('tempVVV:' + tempVVV.innerHTML);
				},
				methods: {
					clickDel: function(model, Pribs, index) {
						var colid = model.newsid; //新闻id
						//确认框confirm	  
						if(Pribs == 0) {
							layer.confirm("确定要删除吗？", function(index) { 
								layer.close(index); 
								//确定删除
								var tempData = {
									cmd: 'news', //文章管理
									type: 'del', //分页查找文章列表
									colid: colid
								}
								unitWebsitePro(tempData, function(data) {
									console.log(JSON.stringify(data));
									if(data.RspCode == 0000) {
										if(newsData.item.newsArray[index].newsid == colid) {
											newsData.item.newsArray.splice(index, 1);
											layer.msg('已删除!', {
										    icon: 1,
										    time: 1000
									});
										}
									}
								});
							}, function() {});
						} else if(Pribs == 1) {
							SetStat(model, colid);
						}
					}
				}
			});
						//修改审核状态
			function SetStat(model, colid) {	
				var stat = "";
				if(model.stat == 0)
					stat = 1;
				if(model.stat == 1)
					stat = 0;
				var tempData = {
					cmd: 'news', //文章管理
					type: 'edit',
					callcol: 'chk',
					colid: colid,
					colv: stat //状态
				} 
				unitWebsitePro(tempData, function(data) {
					console.log(JSON.stringify(data));
					if(data.RspCode == 0000 && stat == 1) {
						model.Prizt = '不通过';
						model.stat = 1;
					} else if(data.RspCode == 0000 && stat == 0) {
						model.Prizt = '通过';
						model.stat = 0;
					}
				})

			}
			window.onload = function() {
				var tempData = {
					cmd: 'chn', //网站栏目
					type: 'findpage', //分页查找栏目列表 
					pagesize: 999, //每页条数 
					iswrite: '1',
					stat: '1',
					pageindex: 1 //页码  
				}
				unitWebsitePro(tempData, function(data) {
					//塞入页码、加载状态等自定义参数 
					for(var tempItem in data.RspData.dt) {
						data.RspData.dt[tempItem].newsPage = 1; //获取新闻的页码
						data.RspData.dt[tempItem].newsFlag = 0; //0刷新，1加载更多
						data.RspData.dt[tempItem].newsArray = []; //栏目对应的新闻列表
						if(tempItem == 0) {
							data.RspData.dt[tempItem].active = true;
						} else {
							data.RspData.dt[tempItem].active = false;
						}
					}
					if(data.RspCode == 0) {
						if(data.RspData.dt.length > 0) {
							newsData.item = data.RspData.dt[0];
							vue_input.items = data.RspData.dt;
							getNewsList(newsData.item);
						} else {
							alert('暂时还没有栏目');
						}
					} else {
						alert(data.RspTxt);
					}
				});

			}
		  

			$("#Prixlk").change(function() {
				var Chnid = document.getElementById("Prixlk");
				var PriChnid = Chnid.selectedIndex; // 选中索引
				console.log(PriChnid);
				newsData.item = vue_input.items[PriChnid];
				newsData.item.newsPage = 1; //获取新闻的页码
				newsData.item.newsFlag = 0; //0刷新，1加载更多
				newsData.item.newsArray = []; //栏目对应的新闻列表
				getNewsList(newsData.item);

			})
			//获取栏目对应的新闻
			function getNewsList(columnModel) {
				console.log('获取新闻列表');
				var tempData = {
					cmd: 'news', //文章管理
					type: 'findpage', //分页查找文章列表
					pagesize: '10', //每页条数
					pageindex: columnModel.newsPage, //页码
					chnid: columnModel.chnid //某个栏目下的文章，栏目id
				} 
				unitWebsitePro(tempData, function(data) {
					if(data.RspCode == 0) {
					    initLaypage(data.RspData.pg.PageCount, columnModel.newsPage);
						if(data.RspData.dt.length > 0) {
							columnModel.newsPage++;
							console.log('columnModel.newsFlag:' + columnModel.newsFlag);
							//循环审核状态
							for(var i = 0; i < data.RspData.dt.length; i++) {
								var tempModel = data.RspData.dt[i];
								if(tempModel.stat == 1) 
									tempModel.Prizt = "不通过";
								if(tempModel.stat == 0) 
									tempModel.Prizt = "通过";
							}
							//判断是刷新0，还是加载更多1
							if(columnModel.newsFlag == 0) {
								columnModel.newsArray = [].concat(data.RspData.dt);
							} else {
								newsData.item.newsArray = newsData.item.newsArray.concat(data.RspData.dt);
							}
							setTimeout(function() {
								$(".weui-loadmore").hide();
								loading = false;
								$(".weui-pull-to-refresh").pullToRefreshDone();
							 
								if(data.RspData.dt.length < 15) {
									$(".content-padded").append('<p id="noMore" style="text-align: center;color: darkgray;">--------暂无更多数据--------</p>');
								}
							}, 1000); //模拟延迟
						} else {
							setTimeout(function() {
								$(".weui-loadmore").hide();
								loading = false;
								$(".weui-pull-to-refresh").pullToRefreshDone();
							}, 1000); //模拟延迟
						 
							$(".content-padded").append('<p id="noMore" style="text-align: center;color: darkgray;">--------暂无更多数据--------</p>');
						}
						console.log('最终数据:' + JSON.stringify(newsData.item));
					} else {
						alert(data.RspTxt);
					}
				});
			}
			
						/**
			 * 初始化页码
			 * @param {Object} pages 通过后台拿到的总页数
			 * @param {Object} curr 初始化当前页
			 */
			function initLaypage(pages, curr) {
				laypage({
					cont: 'pages', //容器
					pages: pages, //通过后台拿到的总页数
					curr: curr, //初始化当前页
					jump: function(e, first) { //触发分页后的回调
						//console.log("jump: " + first + " " + JSON.stringify(e));
						if(!first) {
							getNewsList(e.curr);
						}
					}
				});
			}
		</script>
	</body>

</html>