<!--
	作者：莫尚霖
	时间：2017-07-04
	描述：网站配置
-->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>网站配置</title>
		<link rel="stylesheet" href="../../js/H-ui.admin/static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" href="../../js/H-ui.admin/static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" href="../../js/H-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" href="../../js/H-ui.admin/static/h-ui.admin/skin/default/skin.css" />
		<link rel="stylesheet" href="../../js/H-ui.admin/static/h-ui.admin/css/style.css" />
		<link rel="stylesheet" href="../../js/H-ui.admin/lib/lightbox2/2.8.1/css/lightbox.css" />
		<script type="text/javascript">
			var WebVersion = "?" + Math.random();
		</script>
		<style>
			.check-box {
				padding-left: 0;
				cursor: default;
			}

			.form-horizontal {
				width: 70%;
				margin-left: 15%;
			}

			.website-image {
				display: block;
				margin-top: 10px;
			}

			.website-image img {
				width: 25%;
			}
		</style>
	</head>

	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 网站配置 <span class="c-gray en">&gt;</span> 修改网站配置
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>
		<div class="page-container">
			<form class="form form-horizontal" novalidate="novalidate">
				<div id="input_list">
					<input-item v-for="(value,index) in inputArray" :value="value" :key="index" :index="index" v-show="isShow"></input-item>
				</div>
				<div id="skin_change">
					<skin-item :value="skinId" :key="skinId" v-show="isShow"></skin-item>
				</div>
				<div id="image_list">
					<image-item v-for="(value,index) in imageArray" :value="value" :key="index" :index="index" v-show="isShow"></image-item>
				</div>
				<div id="switch_list">
					<switch-item v-for="(value,index) in switchArray" :value="value" :key="index" :index="index" v-show="isShow"></switch-item>
				</div>
			</form>
		</div>
		<template id="temp_input_item">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">{{value.title}}：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input class="input-text" type="text" v-model="value.message" :maxlength="value.maxlength" :type="value.type" :placeholder="'请输入'+value.title" @input="oninput(index);" @blur="onblur(index);">
				</div>
			</div>
		</template>
		<template id="temp_image_item">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">{{value.title}}：</label>
				<div class="formControls skin-minimal col-xs-8 col-sm-9">
					<div class="check-box">
						<span class="btn-upload">
						    <a class="btn btn-primary radius">选取图片</a>
						    <input :id="value.id" type="file" class="input-file" accept="image/png, image/jpeg, image/jpg" title="jpg,png格式;大小不超过2M">
						</span>
						<a class="website-image" :href="value.imageurl" data-lightbox="gallery">
							<img :src="value.imageurl" />
						</a>
					</div>
				</div>
			</div>
			</div>
		</template>
		<template id="temp_switch_item">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">{{value.title}}：</label>
				<div class="formControls skin-minimal col-xs-8 col-sm-9">
					<div class="check-box">
						<input type="checkbox" v-model="value.check" @change="onchange(index);">
					</div>
				</div>
			</div>
		</template>
		<script type="text/javascript" src="../../js/H-ui.admin/lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/lib/layer/2.4/layer.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/static/h-ui/js/H-ui.min.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/static/h-ui.admin/js/H-ui.admin.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/lib/laypage/1.2/laypage.js"></script>
		<script type="text/javascript" src="../../js/H-ui.admin/lib/lightbox2/2.8.1/js/lightbox.min.js"></script>
		<script type="text/javascript" src="../../js/lib/plupload/moxie.min.js"></script>
		<script type="text/javascript" src="../../js/lib/plupload/plupload.full.min.js"></script>
		<script type="text/javascript" src="../../js/lib/qiniu/qiniu.min.js"></script>
		<script type="text/javascript" src="../../js/utils/cryption.js"></script>
		<script type="text/javascript" src="../../js/vue.min.js"></script>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../js/PublicProtocol.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/utils/utils.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/utils/storageutil.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/utils/cloudutil.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/utils/compress.js?" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/configuration/hui_website_config_utils.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/configuration/hui_website_config.js" + WebVersion + "'></s" + "cript>");
			//document.write("<s" + "cript type='text/javascript' src='../../temp/webconfig.js" + WebVersion + "'></s" + "cript>");
		</script>
	</body>

</html>