<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<script src="../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<div id="test">
		<!--<p>{{message+'hahahah'}}</p>
		<input v-model="message" />-->
		<ul>
			<li v-for="a in temps">
				<p>{{a.message}}-{{$index}}</p>
			</li>
		</ul>
	</div>

	<body>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
			var vue = new Vue({
				el: '#test',
				data: {
					temps: [{
							message: '111'
						},
						{
							message: '112'
						},
						{
							message: '113'
						}
					]
				}
			});
		</script>
	</body>

</html>