<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/weui.min.css" rel="stylesheet" />
		<link href="../../../css/jquery-weui.min.css" rel="stylesheet" />
		<title>维修状况</title>
		<style type="text/css">
			.weui-tab {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
			}
			
			.weui-tab__bd .weui-tab__bd-item {
				width: 100%;
			}
			.weui-circle{
				position: absolute;
				right: 50px;
				bottom: 50px;
				border-radius: 50%;
				width: 80px;
				height: 80px;
				z-index: 100;
				background-image: url(../../../image/add.png);
				background-position: center;
				background-size: contain;
			}
		</style>
	</head>

	<body ontouchstart>
		<div class="weui-tab" id="tabs">
			<div class="weui-navbar">
				<div v-for="tab in tabs" class="weui-navbar__item" v-bind:class="[{'weui-bar__item--on':tab.id===activeId}]" v-bind:href="'#tab'+tab.id">{{tab.title}}</div>
			</div>
			<div class="weui-tab__bd">
				<div v-for="tab in tabs" :id="'tab'+tab.id" class="weui-tab__bd-item  weui-pull-to-refresh infinite" :class="[{'weui-tab__bd-item--active':tab.id===activeId}]">
					<div class="weui-pull-to-refresh__layer">
						<div class='weui-pull-to-refresh__arrow'></div>
						<div class='weui-pull-to-refresh__preloader'></div>
						<div class="down">下拉刷新</div>
						<div class="up">释放刷新</div>
						<div class="refresh">正在刷新</div>
					</div>
					<h1 class="doc-head">页面{{tab.title}}</h1>
					<div class="content-padded">

					</div>
					<div v-show="tab.haveMore" class="weui-loadmore">
						<i class="weui-loading"></i>
						<span class="weui-loadmore__tips">正在加载</span>
					</div>
				</div>
			</div>
			<div class="weui-circle" >
				
			</div>
		</div>
		
		<script src="../../../js/jquery.min.js"></script>
		<script src="../../../js/jquery-weui.min.js"></script>
		<script src="../../../js/vue.js"></script>
		<script src="../../../js/vue-router.js"></script>
		<script>
			var list = new Vue({
				el: "#tabs",
				data: {
					activeId: 0,
					tabs: [{
						id: 0,
						title: "全部",
						haveMore:false
					}, {
						id: 1,
						title: "未解決",
						haveMore:false
					}, {
						id: 2,
						title: "已解決",
						haveMore:false
					}, {
						id: 3,
						title: "已关闭",
						haveMore:false
					}]
				},
				mounted: function() {
					$('.weui-tab__bd-item').pullToRefresh().on('pull-to-refresh', function(done) {
						var self = this
						setTimeout(function() {
							$(self).pullToRefreshDone();
						}, 2000)
					});
					$('.infinite').infinite().on("infinite", function() {
						var self = this;
						console.log(self.loading)
						if(self.loading) return;
						self.loading = true;
						console.log(self);
						setTimeout(function() {
							$(self).find(".content-padded").append("<p>我是加载的新内容。我是加载的新内容。。。我是加载的新内容。。。我是加载的新内容。。。我是加载的新内容。。。我是加载的新内容。。。我是加载的新内容。。。我是加载的新内容。。。我是加载的新内容。。。。。</p>");
							self.loading = false;
						}, 2000); //模拟延迟
					});
				}
			})
		</script>
	</body>

</html>