<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/weui.min.css" rel="stylesheet" />
		<link href="../../../css/jquery-weui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../../js/demoCssJs/demos.css" />
		<title>请假审核</title>
		<style type="text/css">
			body {
				-webkit-overflow-scrolling: touch;
			}
			
			.weui-tab__bd .weui-tab__bd-item {
				width: 100%;
			}
			
			.weui-cell {
				display: block;
			}
			
			.head-portrait {
				width: 80%;
				border-radius: 50%;
			}
			
			.head-container {
				width: 15%;
				text-align: center;
			}
			
			.item-hint,
			.apply-date {
				color: darkgrey;
			}
			
			.item-hint,
			.apply-date,
			.item-info {
				font-size: 0.8em;
			}
			
			.weui-pull-to-refresh__layer {
				padding: 0;
			}
			
			.weui-loadmore {
				margin-bottom: 71px;
			}
			
			.apply-pass {
				color: limegreen;
			}
			
			.apply-reject {
				color: red;
			}
			
			.apply-uncheck {
				color: dodgerblue;
			}
			
			.weui-navbar__item:after {
				border-right: 0;
			}
			
			.weui-navbar__item {
				padding: 5px 0;
			}
			
			.weui-navbar__item.weui-bar__item--on {
				border-bottom: 2px solid #46bdff;
				color: #46bdff;
			}
		</style>
	</head>

	<body ontouchstart>
		<div class="weui-tab" id="tabs">
			<div class="weui-navbar">
				<div v-for="tab in tabs" class="weui-navbar__item" v-bind:class="[{'weui-bar__item--on':tab.apprStat===activeIndex}]" v-bind:href="'#tab'+tab.apprStat" v-on:click="setActiveIndex(tab.apprStat)">{{tab.title}}</div>
			</div>
			<div class="weui-tab__bd">
				<div v-for="tab in tabs" :id="'tab'+tab.apprStat" class="weui-tab__bd-item  weui-pull-to-refresh infinite" :class="[{'weui-tab__bd-item--active':tab.apprStat===activeIndex}]">
					<div class="weui-pull-to-refresh__layer">
						<div class='weui-pull-to-refresh__arrow'></div>
						<div class='weui-pull-to-refresh__preloader'></div>
						<div class="down">下拉刷新</div>
						<div class="up">释放刷新</div>
						<div class="refresh">正在刷新</div>
					</div>
					<div class="weui-cells">
						<div v-for="item in tab.list" class="weui-cell" v-on:click="jumpToDetail(item)">
							<div class="weui-flex">
								<div class="head-container"><img class="head-portrait" v-bind:src="item.ApplyManPic" /></div>
								<div class="weui-flex__item">
									<p><span class="item-hint">姓名:</span><span class="item-info">{{item.ApplyManName}}</span></p>
									<p><span class="item-hint">请假类型:</span><span class="item-info">{{item.LeaveTypeName}}</span></p>
									<p><span class="item-hint">开始时间:</span><span class="item-info">{{item.ApplyBeginTime}}</span></p>
									<p><span class="item-hint">结束时间:</span><span class="item-info">{{item.ApplyEndTime}}</span></p>
									<p><span class="item-hint">状态:</span><span class="item-info" v-bind:class="[{'apply-uncheck':item.ApprStat==0},{'apply-pass':item.ApprStat==1},{'apply-reject':item.ApprStat==2}]">{{item.ApprStatNote}}</span></p>
								</div>
								<div>
									<p class="apply-date">{{item.ApplyTime|shortForDate}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="weui-loadmore">
						<i v-show="tab.haveMore" class="weui-loading"></i>
						<span class="weui-loadmore__tips">{{tab.haveMore?"正在加载":"没有更多了"}}</span>
					</div>
				</div>
			</div>
			<div class="weui-tabbar">
				<a href="https://jsypay.jiaobaowang.net/wxth/appschweb/app/index.aspx" class="weui-tabbar__item">
					<div class="weui-tabbar__icon">
						<img class="img" src="../../../image/utils/wxhome.png">
					</div>
					<p class="weui-tabbar__label">微校园</p>
				</a>
				<a href="addleaveapply.html" class="weui-tabbar__item">
					<div class="weui-tabbar__icon">
						<img class="img" src="../../../image/leave/apply.png">
					</div>
					<p class="weui-tabbar__label">请假申请</p>
				</a>
				<a href="mineleavelist.html" class="weui-tabbar__item ">
					<div class="weui-tabbar__icon">
						<img src="../../../image/leave/applyquery.png">
					</div>
					<p class="weui-tabbar__label">请假查询</p>
				</a>
				<a id="checkItem" href="leave-check.html" class="weui-tabbar__item weui-bar__item--on">
					<div class="weui-tabbar__icon">
						<img src="../../../image/leave/checkqueryactive.png">
					</div>
					<p class="weui-tabbar__label">请假审核</p>
				</a>
			</div>
		</div>
		<script src="../../../js/lib/vconsole/vconsole.min.js"></script>
		<script src="../../../js/jquery.min.js"></script>
		<script src="../../../js/jquery-weui.min.js"></script>
		<script src="../../../js/vue.js"></script>
		<script src="../../../js/vue-router.js"></script>
		<script src="../../../js/utils/consts.js"></script>
		<script src="../../../js/utils/request.js"></script>
		<script src="../../../js/utils/storageutil.js"></script>
		<script>
			var list = new Vue({
				el: "#tabs",
				data: {
					activeIndex: 0,
					tabs: [{
						apprStat: 0,
						title: "全部",
						haveMore: false,
						pageIndex: 1,
						totalPage: 0,
						list: []
					}, {
						apprStat: 1,
						title: "未审批",
						haveMore: false,
						pageIndex: 1,
						totalPage: 0,
						list: []
					}, {
						apprStat: 2,
						title: "已通过",
						haveMore: false,
						pageIndex: 1,
						totalPage: 0,
						list: []
					}, {
						apprStat: 3,
						title: "驳回",
						haveMore: false,
						pageIndex: 1,
						totalPage: 0,
						list: []
					}],
					personalInfo: {}
				},
				mounted: function() {
					console.log("*****mounted*****");
					this.initialData();
					this.initialLoad();
				},
				filters: {
					shortForDate: function(date) {
						return date.split(" ")[0];
					}
				},
				methods: {
					/**
					 * 初始化界面
					 */
					initialData: function() {
						console.log("****initialData******")
						var com = this;
						this.getPersonalInfo(function() {
							console.log("****getPersonalInfo*****");
							com.refreshList(com.setData);
						});
					},
					initialLoad: function() {
						console.log("*****initialLoad*****");
						var com = this;
						$('.weui-tab__bd-item').pullToRefresh().on('pull-to-refresh', function(done) {
							var self = this
							com.refreshList(function(data) {
								com.setData(data);
								$(self).pullToRefreshDone();
							});
						});
						$('.infinite').infinite().on("infinite", function() {
							var self = this;
							console.log(self.loading)
							if(self.loading) return;
							self.loading = true;
							console.log(self);
							com.loadMore(function(data) {
								com.setData(data);
								self.loading = false;
							})
						});
					},
					/**
					 * 获取单位Id
					 */
					getPersonalInfo: function(callback) {
						var com = this;
						request.requestPersonalInfo(function(response) {
							console.log("获取的personalInfo数据：" + JSON.stringify(response));
							if(response.RspCode == 0) {
								com.personalInfo = JSON.parse(response.RspData);
								callback();
							}
						})
					},
					/**
					 * 设置活动的id
					 * @param {Object} id
					 */
					setActiveIndex: function(id) {
						this.activeIndex = id;
						var activeTab = this.tabs[this.activeIndex];
						if(activeTab.list.length == 0) {
							this.refreshList(this.setData);
						}
					},
					/**
					 * 请求数据
					 */
					requestList: function(callback) {
						console.log("****reauestList获取审核列表****")
						var com = this;
						processRequest.postProcessData("getProcessApprove", {
							corpId: com.personalInfo.corpid,
							apprMan: com.personalInfo.userid,
							apprStat: com.activeIndex,
							pageIndex: com.tabs[com.activeIndex].pageIndex,
							pageSize: 10
						}, function(response) {
							console.log("获取的审核列表数据：" + JSON.stringify(response))
							if(response.RspCode == 0) {
								callback(response.RspData);
							} else {

							}
						})
					},
					/**
					 * 设置数据
					 * @param {Object} data
					 */
					setData: function(data) {
						console.log("****setData******");
						var activeTab = this.tabs[this.activeIndex];
						if(activeTab.pageIndex === 1) {
							activeTab.list = data.Data;
						} else {
							activeTab.list = activeTab.list.concat(data.Data);
						}
						activeTab.totalPage = data.TotalPage;
						activeTab.haveMore = activeTab.totalPage > activeTab.pageIndex;
						console.log("获取的列表数据:" + JSON.stringify(activeTab));
					},
					/**
					 * 刷新列表
					 * @param {Object} callback
					 */
					refreshList: function(callback) {
						console.log("*****refreshList******");
						this.tabs[this.activeIndex].pageIndex = 1;
						this.requestList(callback);
					},
					/**
					 * 加载更多
					 * @param {Object} callback
					 */
					loadMore: function(callback) {
						console.log("*****loadMore******");
						if(!this.tabs[this.activeIndex].haveMore) {
							return;
						}
						this.tabs[this.activeIndex].pageIndex++;
						this.requestList(callback);
					},
					/**
					 * 
					 * @param {Object} item
					 */
					jumpToDetail: function(item) {
						console.log("******jumpToDetail*******");
						var sKey = new Date().getTime();
						var sValue = {
							leave: item,
							mineUserInfo: this.personalInfo
						}
						storageutil.setSessionStorage(sKey, JSON.stringify(sValue));
						location.href = "leave-detail.html?flag=" + this.getFlag(item) + "&sKey=" + sKey;
					},
					getFlag: function(item) {
						if(item.ApprStat == 0) { //未审
							return 1 //审核
						}
						return 0
					}
				}
			})
		</script>
	</body>

</html>