<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript">
			var WebVersion = "?" + Math.random();
		</script>
		<link rel="stylesheet" href="../../../css/weui.min.css" />
		<link rel="stylesheet" href="../../../js/demoCssJs/jquery-weui.min.css" />
		<link rel="stylesheet" href="../../../js/demoCssJs/demos.css" />
		<title>请假详情</title>
		<style>
			body {
				background-color: #F8F8F8;
			}
			
			.head-portrait {
				width: 20%;
				height: 20%;
				border-radius: 50%;
			}
			
			.display-inline {
				display: inline-block;
			}
			
			.name-time-container {
				margin: auto 0;
				padding-left: 16px;
			}
			
			.apply-name {
				font-size: 1em;
				font-weight: bold;
			}
			
			.apply-info-container {
				font-size: .8em;
			}
			
			.apply-hint {
				color: darkgray;
			}
			
			.person-container.weui-cells {
				margin-top: 0;
			}
			
			.weui-cells {
				padding: 8px 16px;
			}
			
			.check-person {
				color: dodgerblue;
			}
			
			.input-container {
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;
				background: white;
				box-shadow: 0 -1px 5px darkgray;
			}
			
			.input-item {
				border: solid 1px gray;
				border-radius: 2px;
				margin-right: 5px;
			}
			
			.display-none {
				opacity: 0;
				display: none;
			}
			
			.display-block {
				opacity: 1;
				display: block;
			}
			
			.check-detail {
				margin-bottom: 50px;
			}
		</style>
	</head>

	<body>

		<div id="detail-container" class="page actionsheet js_show" style="position: relative;">
			<div v-bind:class="[{'check-detail':flag>0}]">
				<div class="weui-cells person-container weui-flex">
					<img v-bind:src="applyDetail.ApplyManPic" class="head-portrait display-inline">
					<div class="display-inline name-time-container">
						<p class="apply-name">{{applyDetail.ApplyManName}}</p>
						<p class="apply-time apply-info-container"><span class="apply-hint">申请时间:</span>{{applyDetail.ApplyTime}}</p>
					</div>
				</div>
				<div class="apply-type-container weui-cells">
					<p class="leave-type apply-info-container"><span class="apply-hint">请假类型:</span>{{applyDetail.LeaveTypeName}}</p>
					<p class="process-type apply-info-container"><span class="apply-hint">流程类型:</span>{{applyDetail.ProcTypeName}}</p>
				</div>
				<div class="apply-time-container weui-cells">
					<p class="time-length apply-info-container"><span class="apply-hint">请假时长:</span>{{applyDetail.ApplyBeginEndCnt}}</p>
					<p class="begin-time apply-info-container"><span class="apply-hint">开始时间:</span>{{applyDetail.ApplyBeginTime}}</p>
					<p class="end-time apply-info-container"><span class="apply-hint">结束时间:</span>{{applyDetail.ApplyEndTime}}</p>
				</div>
				<div class="detail-info weui-cells">
					<p class="apply-reason apply-info-container"><span class="apply-hint">请假缘由:</span>{{applyDetail.ApplyReason}}</p>
					<div class="apply-imgs apply-info-container weui-uploader">
						<div class="weui-uploader__hd">
							<p><span class="apply-hint">图片附件:</span></p>
						</div>
						<div class="weui-uploader__bd">
							<ul class="weui-uploader__files">
								<li class="weui-uploader__file" v-for="(img,index) in (applyDetail.ApplyReasonThumb|changeToPics)" v-on:click="showGallery(index)" v-bind:style="{backgroundImage:'url(' +img+ ')'}">

								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--<template>-->
				<div class="weui-cells__title">
					审批详情
				</div>
				<div class="weui-cells">
					<div v-for="check in checkList" class="weui-cell apply-info-container">
						<p>{{check.ApprTime}}</p>
						<p><span class="check-person check-button">{{check.ApprManName}}:</span>{{check.ApprNote}}</p>
					</div>
				</div>

				<!--</template>-->
			</div>
			<div v-if="flag" class="weui-cell weui-cell_vcode input-container">
				<div class="weui-cell__bd">
					<input type="text" class="weui-input" v-model.trim="approveNote" placeholder="请输入内容" />
				</div>
				<div class="weui-cell__ft">
					<button class="weui-vcode-btn" id="showIOSActionSheet" v-on:click="showOptions=true">审核</button>
				</div>
			</div>
			<div>
				<div class="weui-mask" id="iosMask" v-on:click="showOptions=false" v-bind:class="[{'display-block':showOptions},{'display-none':!showOptions}]"></div>
				<div class="weui-actionsheet" v-bind:class="[{'weui-actionsheet_toggle':showOptions}]" id="iosActionsheet">
					<div class="weui-actionsheet__title">
						<p class="weui-actionsheet__title-text">选择审核状态</p>
					</div>
					<div class="weui-actionsheet__menu">
						<div class="weui-actionsheet__cell" v-on:click="setProcessApprove(1)">同意</div>
						<div class="weui-actionsheet__cell" v-on:click="setProcessApprove(2)">驳回</div>
					</div>
					<div class="weui-actionsheet__action" v-on:click="showOptions=false">
						<div class="weui-actionsheet__cell" id="iosActionsheetCancel">取消</div>
					</div>
				</div>
			</div>
			<div class="weui-gallery" id="gallery" v-on:click="showGallery=false" v-bind:class="[{'display-block':showGallery},{'display-none':!showGallery}]">
				<span class="weui-gallery__img" id="galleryImg" v-bind:style="{backgroundImage:'url('+previewImg+')'}"></span>
			</div>
			<div id="loadingToast" v-bind:class="[{'display-none':!showToast},{'display-block':showToast}]">
				<div class="weui-mask_transparent"></div>
				<div class="weui-toast">
					<i class="weui-loading weui-icon_toast"></i>
					<p class="weui-toast__content">数据加载中</p>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../../js/demoCssJs/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="../../../js/demoCssJs/jquery-weui.min.js"></script>
		<script src="../../../js/lib/vconsole/vconsole.min.js"></script>
		<script src="../../../js/vue.js"></script>
		<script src="../../../js/vue-router.js"></script>
		<script src="../../../js/utils/consts.js"></script>
		<script src="../../../js/utils/request.js"></script>
		<script src="../../../js/utils/events.js"></script>
		<script src="../../../js/utils/storageutil.js"></script>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../../js/PublicProtocol.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../../js/utils/utils.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../../js/utils/storageutil.js" + WebVersion + "'></s" + "cript>");
		</script>
		<script type="text/javascript">
			var detail = new Vue({
				el: "#detail-container",
				data: {
					applyDetail: {},
					personalInfo: {},
					checkList: [],
					showGallery: false,
					showOptions: false,
					showToast: false,
					approveNote: "",
					pageIndex: 1,
					pageSize: 0,
					flag: 0, //0查看 1审核
					previewImg: ""
				},
				mounted: function() {
					this.initialData();
				},
				methods: {
					changeToPics: function(picStr) {
						console.log("******changeToPics*****");
						return picStr.split("|");
					},
					showGallery: function(index) {
						console.log("****showGallery*****");
						this.imgIndex = index;
						this.showGallery = true;
					},
					initialData: function() {
						console.log("*****getInitialData****");
						this.requireDetail();
					},
					getPreviewImg: function() {
						console.log("******getPreviewImg******");
						this.previewImg = this.applyDetail.ApplyPic.split("|")[this.imgIndex];
					},
					requireDetail: function() {
						console.log("****requireDetail******");
						var sKey = events.getUrlParam(location.href, "sKey");
						console.log("skey" + sKey);
						var leaveInfo = storageutil.getSessionStorage(sKey);
						this.flag = events.getUrlParam(location.href, "flag");
						if(leaveInfo == null) {
							return
						}
						leaveInfo.leave.ApplyReasonThumb = this.changeToPics(leaveInfo.leave.ApplyReasonThumb);
						this.applyDetail = leaveInfo.leave;
						this.personalInfo = leaveInfo.mineUserInfo;
					},
					getApprList: function() {
						console.log("*****getApprList*****");
						var com = this;
						processRequest.postProcessData("getProcessApproveById", {
							applyId: this.applyDetail.ApprId,
							pageIndex: this.pageIndex,
							pageSize: 0
						}, function(response) {
							console.log("获取的数据：" + JSON.stringify(response));
							if(response.RspCode == 0) {
								com.checkList = data.RspData.Data;
							} else {

							}
						})
					},
					/**
					 * 修改审核流程
					 * @param {Object} type 设置的审核流程
					 */
					setProcessApprove: function(type) {
						console.log("****setProcessApprove*****");
						var com = this;
						com.showToast = true;
						processRequest.postProcessData("setProcessApprove", {
							procApproveId: com.applyDetail.ProcApproveId,
							procApproveNote: com.approveNote,
							proApproveStat: type
						}, function(response) {
							console.log("设置审核流程的结果：" + JSON.stringify(response))
							com.showToast = false;
							if(response.RspCode == 0) {
								com.showOptions = false
								com.approveNote = "";
							} else {

							}
						});
					},
					/**
					 * 返回前一页
					 */
					historyBack: function() {
						console.log("*****historyBack******");
						window.history.go(-1);
					}
				}
			});
		</script>
	</body>

</html>