<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>做作业</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript">
			document.write('<link rel="stylesheet" href="../../js/demoCssJs/weui.min.css?' + Math.random() + '" />');
			document.write('<link rel="stylesheet" href="../../js/demoCssJs/jquery-weui.css?' + Math.random() + '" />');
			document.write('<link rel="stylesheet" href="../../js/demoCssJs/demos.css?' + Math.random() + '" />');
			document.write('<link rel="stylesheet" href="../../css/utils/iconfont.css?' + Math.random() + '" />');
			//			document.write('<link rel="stylesheet" href="../../css/classCircle/class_circle_home.css?' + Math.random() + '" />');
		</script>
	</head>

	<body>
		<div id="homework" v-if="stat<2">
			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">科目</label></div>
				<div class="weui-cell__bd">
					<input onclick="selectSubject(this)" class="weui-input" placeholder="请选择科目" :value="subject.currSubject.name" v-model="subject.currSubject.name">
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">班级</label></div>
				<div class="weui-cell__bd">
					<input onclick="selectClass(this)" class="weui-input" placeholder="请选择班级" :value="classes.currClass.name" v-model="classes.currClass.name">
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">内容</label></div>

			</div>
			<textarea name="MSG" cols=0 rows=4 placeholder="根据老师的要求来完成作业吧" v-model="workTitle">{{workTitle}}</textarea>
			<div class="online-container">
				<p class="submit-label" style="width: 200px;font-size: 16px;margin-left: 10px;">需学生在线提交</p>
				<div id="onlineSwitch" class="mui-switch mui-active mui-switch-green online-switch  mui-pull-right" style="margin-top: -40px;">
					<div class="mui-switch-handle"></div>
				</div>
			</div>
			<div class="weui-cells weui-cells_form">
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<div class="weui-uploader">
							<div class="weui-uploader__hd">
								<p class="weui-uploader__title">上传照片</p>
							</div>
							<div class="weui-uploader__bd">
								<ul class="weui-uploader__files" id="uploaderFiles">
									<li v-for="(file,index) of uploadedFiles" @click="clickImg(index)" v-bind:class="['weui-uploader__file']" v-bind:style="{'background-image':'url('+file.ImgUrl+')'}"></li>
								</ul>
								<div class="weui-uploader__input-box" :style="displayAddBtn">
									<input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" v-on:change="selectFile($event)">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a href="javascript:;" class="weui-btn weui-btn_primary" @click="clickSubmitBtn()">{{submitBtnTitle}}</a>
			<input id="qnInput" style="display: none;" />
			<!--<div class="weui-gallery" style="display: block">-->
			<div class="weui-gallery" :style="displayGallery">
				<span class="weui-gallery__img" @click="clickGigImg" :style="{backgroundImage:'url('+selectImgPath+')'}"></span>
				<div class="weui-gallery__opr">
					<a href="javascript:" class="weui-gallery__del">
						<i class="weui-icon-delete weui-icon_gallery-delete" @click="deleteImg"></i>
					</a>
				</div>
			</div>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/weui.min.js" type="text/javascript" charset="utf-8"></script>

		<script src="../../js/demoCssJs/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/appweb/choose-file.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/demoCssJs/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/demoCssJs/jquery-weui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/consts.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/lib/vconsole/vconsole.min.js"></script>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../js/importJS.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/lib/plupload/moxie.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/lib/plupload/plupload.full.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/lib/qiniu/qiniu.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/utils/cryption.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/utils/cloudutil.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/utils/compress.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/utils/pluploadutil.js?" + Math.random() + "'></s" + "cript>");
		</script>
		<script type="text/javascript">
			mui.init();
			var uptokenData;
			var qnFileUploader; //七牛上传控件对象
			window.onload = function() {
				console.log('onload');
				$.showLoading('加载中...');
				initQNUploader();
				findWork();
			}
			var homework = new Vue({
				el: '#homework',
				data: {
					subject: {
						currSubject: {
							name: '',
							id: ''
						},
						subjects: []
					},
					classes: {
						currClass: {
							name: '',
							id: '',
							persons: []
						},
						classes: []
					},
					workTitle: '',
					stat: 0,
					submitBtnTitle: '提交',
					displayGallery: {
						display: 'none'
					},
					displayAddBtn: {
						display: 'block'
					},

					selectIndex: 0,
					selectImgPath: '',
					uploadedFiles: []
				},
				methods: {
					selectFile: function(event) { //从手机中选择图片后到界面的回调
						var com = this;
						console.log('111111');
						if(event.target.value) {
							qnFileUploader.addFile(event.target.files[0], event.target.files[0].name);
						}
					},

					clickImg: function(index) { //点击列表中的附件，给别的地方赋值
						homework.selectIndex = index;
						homework.selectImgPath = homework.uploadedFiles[index].ImgUrl;
						homework.displayGallery = {
							display: 'block'
						};
					},
					clickGigImg: function() { //点击放大后的图片，隐藏显示
						homework.displayGallery = {
							display: 'none'
						};
					},
					deleteImg: function() { //删除图片
						$.confirm({
							title: '提示',
							text: '确认删除？',
							onOK: function() {
								homework.displayGallery = {
									display: 'none'
								};
								homework.uploadedFiles.splice(homework.selectIndex, 1);
								displayAddBtnFun();
							}
						});

					},
					clickSubmitBtn: function() { //提交按钮
						if(homework.workTitle.length == 0 && homework.uploadedFiles.length == 0) {
							alert('请作答后再提交');
							return;
						}
						//附件数组
						var tempEncs = [];
						for(var i = 0; i < homework.uploadedFiles.length; i++) {
							var tempValue = homework.uploadedFiles[i];
							var tempModel = {
								oldname: tempValue.OldName,
								newname: tempValue.NewName,
								saveurl: tempValue.SaveUrl,
								filesize: tempValue.FileSize,
								imgurl: tempValue.ImgUrl
							}
							tempEncs.push(tempModel);
						}
						$.showLoading('加载中...');
						var idArr = [];
						var nameArr = [];
						for(var i = 0; i < homework.classes.currClass.persons.length; i++) {
							var model = homework.classes.currClass.persons[i];
							idArr.push(model.userid);
							nameArr.push(model.name);

						}

						var tempData = {
							cmd: 'work',
							type: 'add',
							touser: idArr.join('|'),
							toparty: homework.classes.currClass.id,
							//								totag: '',
							msgtype: 'textcard',
							safe: 0,
							content: homework.workTitle,
							tousername: nameArr.join('|'),
							topartyname: homework.classes.currClass.name,
							//								totagname: 1,
							subid: homework.subject.currSubject.id,
							subname: homework.subject.currSubject.name,
							subimg: '',
							encs: tempEncs,
							issend: 0
						}
						console.log(JSON.stringify(tempData))
						unitWebsitePro(tempData, function(data) {
							$.hideLoading();
							if(data.RspCode == 0) {
								console.log('成功');
								mui.toast('成功');
							}

						})
					}
				}
			});

			//获取回答的作业
			function findWork() {
				//学生分页查找作业
				var tempData = {
					cmd: 'work', //14.作业管理
					type: 'stufind', //学生分页查找作业
					workdoid: '53', //做作业ID,workdoid,见获取作业列表中的workdoid
					pagesize: '1', //作答内容
					pageindex: '1' //作答附件
				}
				unitWebsitePro(tempData, function(data) {
					$.hideLoading();
					if(data.RspCode == 0) {
						console.log('成功获取作业:' + JSON.stringify(data));
						if(data.RspData.dt.length > 0) {
							var tempWork = data.RspData.dt[0];
							homework.workTitle = tempWork.DoContent;
							homework.stat = tempWork.stat;
							homework.uploadedFiles = data.RspData.dt2;
							if(tempWork.stat == 0) {
								homework.submitBtnTitle = '提交';
							} else {
								homework.submitBtnTitle = '修改';
							}
						}
					} else {
						alert(data.RspTxt);
					}
				});
			}

			/**
			 * 初始化上传
			 */
			function initQNUploader() {
				qnFileUploader = Qiniu.uploader({
					disable_statistics_report: false, // 禁止自动发送上传统计信息到七牛，默认允许发送
					runtimes: 'html5,flash,html4', // 上传模式,依次退化
					browse_button: 'qnInput', // 上传选择的点选按钮，**必需**
					uptoken_func: function(file) { // 在需要获取 uptoken 时，该方法会被调用
						uptokenData = null;
						uptokenData = getQNUpToken(file);
						//console.log("获取uptoken回调:" + JSON.stringify(uptokenData));
						if(uptokenData && uptokenData.code) { //成功
							return uptokenData.data.Data[0].Token;
						} else {
							qnFileUploader.stop();
						}
					},
					unique_names: false, // 默认 false，key 为文件名。若开启该选项，JS-SDK 会为每个文件自动生成key（文件名）
					save_key: false, // 默认 false。若在服务端生成 uptoken 的上传策略中指定了 `save_key`，则开启，SDK在前端将不对key进行任何处理
					get_new_uptoken: true, // 设置上传文件的时候是否每次都重新获取新的 uptoken
					domain: storageutil.QNPBDOMAIN, // bucket 域名，下载资源时用到，如：'http://xxx.bkt.clouddn.com/' **必需**
					max_file_size: '4mb', // 最大文件体积限制
					flash_swf_url: '../../js/lib/plupload/Moxie.swf', //引入 flash,相对路径
					max_retries: 0, // 上传失败最大重试次数
					dragdrop: false, // 开启可拖曳上传
					chunk_size: '4mb', // 分块上传时，每块的体积
					auto_start: true, // 选择文件后自动上传，若关闭需要自己绑定事件触发上传,
					init: {
						'FilesAdded': function(up, files) {
							plupload.each(files, function(file) {
								$.showLoading('加载中...');
								// 文件添加进队列后,处理相关的事情
								console.log("FilesAdded:", file);
							});
						},
						'BeforeUpload': function(up, file) {
							// 每个文件上传前,处理相关的事情
							console.log("BeforeUpload:");
						},
						'UploadProgress': function(up, file) {
							// 每个文件上传时,处理相关的事情
							console.log("UploadProgress:" + file.percent);
						},
						'FileUploaded': function(up, file, info) {
							// 每个文件上传成功后,处理相关的事情
							console.log("FileUploaded:");
							$.hideLoading();
							if(info.status == 200) {
								var tempModel = {
									ImgUrl: storageutil.QNPBDOMAIN + JSON.parse(info["response"]).key,
									SaveUrl: storageutil.QNPBDOMAIN + JSON.parse(info["response"]).key,
									OldName: file.name,
									NewName: file.name,
									FileSize: file.size
								}
								homework.uploadedFiles.push(tempModel);
								displayAddBtnFun();
								console.log("success:" + storageutil.QNPBDOMAIN + JSON.parse(info["response"]).key);
								console.log("success:" + storageutil.QNPBDOMAIN + ',' + JSON.stringify(info));
								console.log("success:" + JSON.stringify(file));
							}
						},
						'Error': function(up, err, errTip) {
							//上传出错时,处理相关的事情
							console.log("Error:", err, errTip);
							$.hideLoading();
						},
						'UploadComplete': function() {
							//队列文件处理完毕后,处理相关的事情
							console.log("UploadComplete:");
						},
						'Key': function(up, file) {
							// 若想在前端对每个文件的key进行个性化处理，可以配置该函数
							// 该配置必须要在 unique_names: false , save_key: false 时才生效
							if(uptokenData && uptokenData.code) { //成功
								console.log('得到token:' + JSON.stringify(uptokenData));
								return uptokenData.data.Data[0].Key;
							}
						}
					}
				});
			}
			/**
			 * 获取七牛上传token
			 */
			function getQNUpToken(file) {
				var myDate = new Date();
				var fileName = myDate.getTime() + "" + parseInt(Math.random() * 1000);
				var types = file.name.split(".");
				fileName = fileName + "." + types[types.length - 1];
				var getTokenData = {
					appId: storageutil.QNQYWXKID,
					mainSpace: storageutil.QNPUBSPACE,
					saveSpace: storageutil.QNSSPACEWEBCON,
					fileArray: [{
						qnFileName: fileName,
					}]
				}
				var upToken;
				cloudutil.getFileUpTokens(getTokenData, function(data) {
					upToken = data;
				});
				return upToken;
			}
			//判断照片添加按钮是否显示，大于9张时隐藏
			function displayAddBtnFun() {
				if(homework.uploadedFiles.length >= 9) {
					homework.displayAddBtn = {
						display: 'none'
					};
				} else {
					homework.displayAddBtn = {
						display: 'block'
					};
				}
			}

			function getSub() {
				var tempData = {
					cmd: 'sub',
					type: 'findpage',
					pagesize: 10,
					pageindex: 1,
					stat: '1'
				}
				unitWebsitePro(tempData, function(data) {
					console.log('科目:' + JSON.stringify(data));
					if(data.RspCode == 0) {
						homework.sub_array = data.RspData.dt;
						for(var i = 0; i < homework.sub_array.length; i++) {
							var model = homework.sub_array[i];
							model.value = model.subid;
							model.label = model.cname;
						}
					} else {
						mui.toast(data.RspTxt)
					}
				})
			}

			function getDepart() {

				var tempData = {
					cmd: 'persondeparts',
					type: 'findpage',
				}
				unitWebsitePro(tempData, function(data) {
					console.log('部门:' + JSON.stringify(data));
					if(data.RspCode == 0) {
						homework.depart_array = data.RspData.dt;
						for(var i = 0; i < homework.depart_array.length; i++) {
							getPerson(model.value, i)
							var model = homework.depart_array[i];
							model.value = model.value;
							model.label = model.title;
						}
					} else {
						mui.toast(data.RspTxt)
					}
				})

			}

			function getPerson(colid, index) {

				var tempData = {
					cmd: 'departpersons',
					type: 'findpage',
					colid: colid,
					colv: 1,
					callcol: 'base',
				}
				unitWebsitePro(tempData, function(data) {
					console.log('部门:' + JSON.stringify(data));
					if(data.RspCode == 0) {
						homework.depart_array[index].persons = data.RspData.dt;
					} else {
						mui.toast(data.RspTxt)
					}
				})

			}

			function selectClass(input_item) {
				document.activeElement.blur();
				var self = input_item;
				weui.picker(homework.depart_array, {
					onChange: function(result) {
						//						console.log(result);
					},
					onConfirm: function(result) {
						homework.classes.currClass.name = result[0].label;
						homework.classes.currClass.id = result[0].value;
						for(var i = 0; i < homework.depart_array.length; i++) {
							var model = homework.depart_array[i];
							if(model.value == result[0].value) {
								homework.classes.currClass.persons = model.persons;

							}
						}
						//						console.log(result);
					}
				});
			}

			function selectSubject(input_item) {
				document.activeElement.blur();
				var self = input_item;
				weui.picker(homework.sub_array, {
					onChange: function(result) {
						//						console.log(result);
					},
					onConfirm: function(result) {
						homework.subject.currSubject.name = result[0].label;
						homework.subject.currSubject.id = result[0].value;
						//						console.log(result);
					}
				});
			}
		</script>
	</body>

</html>