<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1 user-scalable=no">
		<title></title>
		<link href="../../../css/jquery-weui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../js/H-ui.admin/static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../js/H-ui.admin/static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="../../../js/H-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../../js/H-ui.admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" type="text/css" href="../../../js/H-ui.admin/static/h-ui.admin/css/style.css" />
		<style>
			.float-right {
				float: right;
			}
			
			.inline-block {
				display: inline-block;
			}
			
			body {
				background-color: #F8F8F8;
			}
			
			.title-persons {
				width: 80%;
			}
			
			.add-perdson,
			.del-classify {
				color: dodgerblue;
			}
			
			.del-classify {
				padding-right: 15px;
			}
			
			.choose-footer {
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;
			}
			
			.selected-style {
				background-color: darkgrey;
				color: white;
			}
			
			.display-inline {
				/*display: inline-block;*/
			}
			
			.choose-depart {
				position: fixed;
				left: 0;
				top: 0;
				width: 20%;
			}
			
			.choose-person {
				position: fixed;
				top: 0;
				right: 0;
				width: 70%;
			}
			
			.check-container {
				width: 20%;
			}
			
			.name-contianer,
			.position-contianer {
				width: 40%;
			}
		</style>
	</head>

	<body>
		<div id="classify-container">
			<router-view></router-view>
		</div>
		<template id="classify-tem">
			<classify-list></classify-list>
		</template>
		<template id="multi-choose">
			<div>
				<choose-depart v-on:active-depart="getActiveDepart" class="display-inline choose-depart"></choose-depart>
				<choose-person v-bind:chose-depart="activeDepart" class="display-inline choose-person"></choose-person>
			</div>
		</template>
		<!--人员选择-->
		<template id="person-list">
			<table v-if="personList.length>0" class="table table-border table-bordered table-bg">
				<thead class="text-c">
					<tr>
						<th class="check-container"><input type="checkbox" v-model:checked="isAllCheck" name="choose-person" value="-1" v-on:change="getTotalCheck($event)" /></th>
						<th class="name-contianer">姓名</th>
						<th class="position-contianer">职务</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-c" v-for="(person,index) in personList">
						<td><input v-bind:checked="person.isCheck" type="checkbox" name="choose-person" value="person.userid" v-on:change="getPersonCheck($event,person)" /></td>
						<td>{{person.name}}</td>
						<td>
							{{person.position}}
						</td>
					</tr>
				</tbody>
			</table>
		</template>
		<!--部门选择-->
		<template id="choose-depart">
			<div>
				<ul v-for="depart in rootDeparts">
					<depart-tree-node v-bind:depart-info="depart" v-bind:active-depart="activeDepart" v-on:active-depart="getActiveDepart"></depart-tree-node>
				</ul>
				<div class="choose-footer">
					<button>确定</button>
				</div>
			</div>
		</template>
		<!--维修列表-->
		<template id="classify-list">
			<div>
				<div>
					<p class="inline-block">维修组列表</p>
					<span class="float-right">
					<a id="addressAdd" class="btn btn-primary radius"><i class="Hui-iconfont"></i> 添加维修组</a>
				</span>
				</div>
				<ul id="list" class="Huifold">
					<li v-for="classify in classifies" class="item">
						<h4>{{classify.title}}<span class="add-perdson float-right" v-on:click.stop="addPerson(classify)">添加人员</span><span class="Hui-iconfont Hui-iconfont-del3 del-classify float-right" v-on:click.stop="delClassify()"></span><b class="Hui-iconfont Hui-iconfont-arrow2-top"></b></h4>
						<div class="info">
							<table class="table table-border table-bordered table-bg">
								<thead class="text-c">
									<tr>
										<th class="title-persons">维修人员</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr class="text-c" v-for="(item,index) in classify.personList">
										<td>{{item.name}}</td>
										<td>
											<a class="operate-edit ml-5" title="删除"><i class="Hui-iconfont"></i></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</li>
				</ul>
			</div>
		</template>
		<script src="../../../js/vue.js"></script>
		<script src="../../../js/vue-router.js"></script>
		<script src="../../../js/H-ui.admin/lib/jquery/1.9.1/jquery.min.js"></script>
		<script src="../../../js/H-ui.admin/static/h-ui/js/H-ui.js"></script>
		<script src="../../../js/H-ui.admin/static/h-ui/js/jQuery.Huifold.js"></script>
		<script src="../../../js/utils/events.js"></script>
		<script src="../../../js/utils/consts.js"></script>
		<script src="../../../js/utils/request.js"></script>
		<script src="../../../js/equipment-service/classify-list.js"></script>
		<script src="../../../js/equipment-service/treeNode.js"></script>
		<script src="../../../js/equipment-service/choose-depart.js"></script>
		<script src="../../../js/equipment-service/choose-person.js"></script>
		<script>
			const classifyList = {
				template: '#classify-tem'
			}
			const multiChoose = {
				template: '#multi-choose',
				data: function() {
					return {
						activeDepart: {}
					}
				},
				methods: {
					getActiveDepart: function(activeDepart) {
						this.activeDepart = activeDepart;
						console.log("获取的响应的depart:"+JSON.stringify(activeDepart))
					}
				}
			}
			const router = new VueRouter({
				//				mode: 'history',
				routes: [{
					path: '/classify-list',
					name: 'classify-list',
					component: classifyList
				}, {
					path: '/chooseDepart',
					name: 'chooseDepart',
					component: multiChoose
				}]
			})
			var vue = new Vue({
				el: "#classify-container",
				router: router,
				data: {
					chosedPerson: {

					},
					type: 0
				}
			})
			router.replace({
				name: 'classify-list'
			})
		</script>
	</body>

</html>