<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title id="title">学生点评
		</title>
		<script type="text/javascript">
			var WebVersion = "?" + Math.random();
		</script>
		<link rel="stylesheet" href="../../../css/weui.min.css" />
		<link rel="stylesheet" href="../../../css/classCircle/class_circle_home.css" />
		<link rel="stylesheet" href="../../../js/demoCssJs/jquery-weui.min.css" />
		<link rel="stylesheet" href="../../../js/demoCssJs/demos.css" />
		<style>
			.weui-panel {
				background-color: #FFFFFF;
				margin-top: 0px;
				position: relative;
				overflow: hidden;
			}
			
			.weui-grids {
				position: relative;
				overflow: hidden;
			}
			
			.weui-grids:before {
				content: " ";
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				height: 1px;
				border-top: 1px solid #FFFFFF;
				color: #FFFFFF;
				-webkit-transform-origin: 0 0;
				transform-origin: 0 0;
				-webkit-transform: scaleY(0.5);
				transform: scaleY(0.5);
			}
			
			.weui-grids:after {
				content: " ";
				position: absolute;
				left: 0;
				top: 0;
				width: 1px;
				bottom: 0;
				border-left: 1px solid #FFFFFF;
				color: #FFFFFF;
				-webkit-transform-origin: 0 0;
				transform-origin: 0 0;
				-webkit-transform: scaleX(0.5);
				transform: scaleX(0.5);
			}
			
			.weui-grid {
				position: relative;
				float: left;
				padding: 5px 5px;
				width: 33.33333333%;
				box-sizing: border-box;
			}
			
			.weui-grid:before {
				content: " ";
				position: absolute;
				right: 0;
				top: 0;
				width: 1px;
				bottom: 0;
				border-right: 1px solid #FFFFFF;
				color: #FFFFFF;
				-webkit-transform-origin: 100% 0;
				transform-origin: 100% 0;
				-webkit-transform: scaleX(0.5);
				transform: scaleX(0.5);
			}
			
			.weui-grid:after {
				content: " ";
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				height: 1px;
				border-bottom: 1px solid #FFFFFF;
				color: #FFFFFF;
				-webkit-transform-origin: 0 100%;
				transform-origin: 0 100%;
				-webkit-transform: scaleY(0.5);
				transform: scaleY(0.5);
			}
			
			.weui-grid__icon {
				width: 100%;
				height: 100%;
				margin: 0 auto;
			}
			
			.weui-grid:active {
				background-color: #FFFFFF;
			}
			
			.weui-photo-browser-modal {
				/*查看图片时的背景*/
				z-index: 999;
			}
			/*.weui-tab {
            margin-top:-30px;
        }*/
		</style>
	</head>

	<body id="content">

		<div id="list" class="weui-tab">
			<div class="weui-tab__bd">
				<div class="weui-tab__bd-item weui-tab__bd-item--active" id="tab0">

					<div class="weui-cell" v-if="isTeacher==0">
						<div class="weui-cell__hd"><label class="weui-label">班级</label></div>
						<div class="weui-cell__bd">
							<input id="depart" data_id="" onclick="selectDepart(this)" class="weui-input" placeholder="请选择部门">
						</div>
					</div>
					<div id="show" style="display: none;padding-left: 15px;padding-bottom: 10px;padding-top: 10px;border-top:1px solid lightgray">学生表现：
						<div style="display: inline-block;width: 100px;padding-left: 10px;"><img style="vertical-align: middle;width: 20px;height: 20px;" src="../../../image/comment/praise.png" />{{"+"+EvaluationPro.PraiseCnt+"分"}}</div>
						<div style="display: inline-block;width: 80px;"><img style="vertical-align: middle;width: 20px;height: 20px" src="../../../image/comment/improved.png" />{{"-"+EvaluationPro.ImproveCnt+"分"}}</div>
					</div>

					<div class="weui-panel weui-panel_access" v-for="(item,index) in datasource">
						<div class="weui-panel__bd">
							<template v-if="item.EvalType==3">
								<a @click="del(index)" href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
									<div class="weui-media-box__hd">
										<img class="weui-media-box__thumb" :src="item.EvalManAvatar" style="border-radius: 40px;width: 40px;height: 40px;" alt="">
									</div>
									<div class="weui-media-box__bd">
										<h4 class="weui-media-box__title">{{item.EvalManName}}</h4>
										<p class="weui-media-box__desc">{{item.EvalTime+" "+item.DeptName}}</p>
									</div>
								</a>
								<p style="margin-left: 10px;">{{item.EvalContent}}</p>
								<div class="weui-grids" id="thumbs" v-if="item.ThumbArr.length!=0">
									<a href="javascript:;" class="weui-grid" v-for="(Thumb,index) in item.ThumbArr">
										<div class="weui-grid__icon">
											<img :src="Thumb" alt="" class="thumb" @click="ThumbClick(item.EvalEncArr,index)">
										</div>
									</a>
								</div>
								<br />
							</template>
							<template v-else>
								<a @click="del(index)" href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
									<div class="weui-media-box__hd">
										<img class="weui-media-box__thumb" :src="item.EvalEncThumb" alt="" style="border-radius: 50px;">
									</div>
									<div class="weui-media-box__bd">
										<h4 class="weui-media-box__title">{{item.EvalType==1?"+1分":"-1分"}}<span style="color:black;">{{" "+item.EvalContent}}</span></h4>
										<p class="weui-media-box__desc">{{item.EvalTime+" 由"+item.EvalManName+"点评"+" "+item.DeptName}}</p>
									</div>
								</a>

							</template>

						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="weui_tab footer-menu">
			<div class="weui-tabbar">
				<a href="https://jsypay.jiaobaowang.net/wxth/appschweb/app/index.aspx" class="weui-tabbar__item">
					<div class="weui-tabbar__icon">
						<img class="img" src="../../../image/utils/wxhome.png">
					</div>
					<p class="weui-tabbar__label">微校园</p>
				</a>
				<a href="classlist.html" class="weui-tabbar__item weui-bar__item--on">
					<div class="weui-tabbar__icon">
						<img class="img" src="../../../image/comment/startactive.png">
					</div>
					<p class="weui-tabbar__label">学生点评</p>
				</a>

			</div>
		</div>

		<script src="../../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../../js/lib/vconsole/vconsole.min.js"></script>
		<script type="text/javascript" src="../../../js/demoCssJs/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="../../../js/weui.min.js"></script>
		<script type="text/javascript" src="../../../js/demoCssJs/jquery-weui.min.js"></script>
		<script type="text/javascript" src="../../../js/demoCssJs/swiper.min.js"></script>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../../js/PublicProtocol.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../../js/utils/utils.js" + WebVersion + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../../js/utils/storageutil.js" + WebVersion + "'></s" + "cript>");
			//document.write("<s" + "cript type='text/javascript' src='../../../temp/mineinfo.js" + WebVersion + "'></s" + "cript>");
		</script>
		<script>
			var allheight = document.getElementsByClassName('weui-tab')[0].scrollHeight
			var barheight = document.getElementsByClassName('weui-tabbar')[0].scrollHeight;
			$('.weui-tab').css({
				'height': (allheight - barheight) + 'px'
			});
			$('.weui-tab__bd').css({
				'height': (allheight - barheight) + 'px'
			});
			$('.weui-tab__bd-item').css({
				'height': (allheight - barheight) + 'px'
			});
			var tabar_width = document.getElementsByClassName('weui-tabbar__item')[0].scrollWidth
			$('.wrap').css({
				'left': (tabar_width - 30) * 50 / tabar_width + '%'
			});
			var loading = false; //下拉状态标记
			var mineUserInfo; //个人信息
			var vm = new Vue({
				el: '#list',
				data: {
					EvaluationPro: {
						PraiseCnt: 0,
						ImproveCnt: 0
					},
					isTeacher: 0,
					displayGallery: {
						display: 'none'
					},
					selectImgPath: '',
					mineUserInfo: {},
					datasource: [],
					depart_array: []

				},
				methods: {
					ThumbClick: function(images, index) {
						var pb = $.photoBrowser({
							initIndex: index,
							items: images,
							onOpen: function() {},
							onClose: function() {

							}
						});
						pb.open();

					},
					del: function(index) {
						if(vm.isTeacher == 0) {
							return;
						}
						console.log("当前老师：" + teacherInfo.userid + "---点评人：" + vm.datasource[index].EvalMan)
						if(teacherInfo.userid != vm.datasource[index].EvalMan) {
							return;
						}
						$.modal({
							title: "提示",
							text: "确定删除?",
							buttons: [{
								text: "取消",
								className: "default",
							}, {
								text: "确定",
								className: "color-danger",
								onClick: function() {
									delEvaluatio(index);
								}
							}]
						});

					}
				}

			})
			var deptId;
			var deptName;
			var mineUserInfo;
			var teacherInfo = {};
			window.onload = function() {
//				var sValue = getDefaultUserInfo(0);
				var sValue = utils.getSessionStorageByUrlsKey();
				mineUserInfo = sValue.mineUserInfo;
				vm.mineUserInfo = mineUserInfo;
				vm.isTeacher = sValue.isTeacher;
				if(vm.isTeacher == 1) {
					teacherInfo = sValue.teacherInfo;
					document.getElementById("title").innerHTML = vm.mineUserInfo.name + "的点评";
					deptId = sValue.deptId;
					getEvaluation();
					getEvalStatByUsersPr()
				} else {
					getDepts();
				}

			}

			function getDepts() {
				var tempData = {
					corpId: mineUserInfo.corpid,
					userId: mineUserInfo.userid,
				}
				getDeptsByUserPro(tempData, function(data) {
					console.log('部门:' + JSON.stringify(data));
					var rspData = data.RspData.Data;

					if(data.RspCode == 0) {
						mineUserInfo.depart_array = [];
						mineUserInfo.departIds = [];
						for(var i = 0; i < rspData.length; i++) {
							var model = rspData[i];
							model.label = model.DeptName;
							model.value = model.DeptId
							mineUserInfo.depart_array.push(model);
							mineUserInfo.departIds.push(model.DeptId);
						}
						var allDept = {
							value: 0,
							label: "全部"
						}
						mineUserInfo.depart_array.unshift(allDept);
						var deptObj = mineUserInfo.depart_array[0];
						document.getElementById("depart").value = deptObj.label;
						document.getElementById("depart").data_id = deptObj.value;
						deptId = deptObj.value;
						getEvaluation();
						getEvalStatByDeptIds(mineUserInfo.departIds);
					} else {
						alert(data.RspTxt)
					}
				})

			}

			function getEvaluation() {
				var tempData = {
					corpId: mineUserInfo.corpid,
					deptId: deptId,
					userId: mineUserInfo.userid,
					pageIndex: 1,
					pageSize: 100,
				}
				console.log("点评列表参数：" + JSON.stringify(tempData));
				getEvaluationPro(tempData, function(data) {
					console.log("点评列表数据：" + JSON.stringify(data));
					if(data.RspCode == 0) {
						if(data.RspData.Data.length == 0) {
							$.alert("暂无点评", "提示");
						}
						for(var i = 0; i < data.RspData.Data.length; i++) {
							var model = data.RspData.Data[i];
							//							model.EvalTime = dateUtils.format(model.EvalTime)
							if(model.EvalEncThumb == "") {

								model.ThumbArr = [];
								model.EvalEncArr = [];
							} else {
								var ThumbArr = model.EvalEncThumb.split("|");
								var EvalEncArr = model.EvalEnc.split("|");

								model.ThumbArr = ThumbArr;
								model.EvalEncArr = EvalEncArr;
							}

							if(i == 0) {
								console.log("文字点评图片个数" + model.ThumbArr.length)
							}
						}

						vm.datasource = data.RspData.Data;
					} else {
						$.alert(data.RspTxt, "提示");
					}

				});
			}
			//8.获取多人点评统计
			function getEvalStatByUsersPr() {
				var tempArr = [];
				tempArr.push(mineUserInfo.userid);
				var tempData = {
					corpId: mineUserInfo.corpid,
					deptId: deptId,
					userIds: tempArr,
				}
				console.log("多人点评统计参数：" + JSON.stringify(tempData));
				getEvalStatByUsersPro(tempData, function(data) {
					console.log("多人点评统计数据：" + JSON.stringify(data));
					if(data.RspCode == 0) {
						if(data.RspData.Data.length == 0) {
							vm.EvaluationPro.ImproveCnt = 0;
							vm.EvaluationPro.PraiseCnt = 0;
							//							$.alert("暂无统计", "提示");
						} else {
							vm.EvaluationPro = data.RspData.Data[0];

						}
						document.getElementById("show").style.display = "block"
					} else {
						$.alert(data.RspTxt, "提示");
					}

				});
			}
			//10.获取多部门点评统计
			function getEvalStatByDeptIds(deptIds) {
				var tempArr = [];
				var tempData = {
					corpId: mineUserInfo.corpid,
					deptIds: deptIds,
					userId: mineUserInfo.userid,
				}
				console.log("多人点评统计参数：" + JSON.stringify(tempData));
				getEvalStatByDepts(tempData, function(data) {
					console.log("多人点评统计数据：" + JSON.stringify(data));
					if(data.RspCode == 0) {
						if(data.RspData.Data.length == 0) {
							vm.EvaluationPro.ImproveCnt = 0;
							vm.EvaluationPro.PraiseCnt = 0;
							//							$.alert("暂无统计", "提示");
						} else {
							vm.EvaluationPro = data.RspData.Data[0];

						}
						document.getElementById("show").style.display = "block"
					} else {
						$.alert(data.RspTxt, "提示");
					}

				});
			}

			function delEvaluatio(index) {
				var model = vm.datasource[index];
				console.log(model.EvalId)
				var tempData = {
					evalId: model.EvalId
				}
				console.log("删除点评参数：" + JSON.stringify(tempData));
				delEvaluation(tempData, function(data) {
					console.log("删除点评数据：" + JSON.stringify(data));
					if(data.RspCode == 0) {
						vm.datasource.splice(index, 1);
						$.alert("删除成功")
					} else {
						$.alert(data.RspTxt, "提示");
					}

				});
			}

			function selectDepart(input_item) {
				document.activeElement.blur();
				var self = input_item;
				weui.picker(mineUserInfo.depart_array, {
					onChange: function(result) {},
					onConfirm: function(result) {
						document.getElementById("depart").value = result[0].label;
						document.getElementById("depart").data_id = result[0].value;
						deptId = result[0].value;
						getEvaluation();
						var dept_array = [deptId]
						getEvalStatByDeptIds(dept_array);
					}
				});
			}

			function getDefaultUserInfo(isTeacher) {
				var data = {}
				userInfo = {
					"corpid": "wx6c4528c675d4a9c9",
					"userid": "songyanming",
					"name": "宋艳明",
					"department": [11],
					"order": [0],
					"position": "",
					"mobile": null,
					"english_name": "",
					"gender": 1,
					"isleader": 1,
					"telephone": null,
					"email": null,
					"weixinid": null,
					"avatar": "http://shp.qpic.cn/bizmp/LlAHpaR9WIbXvzjGTAPgEfe6lmhQqEkJOvvoMW928nibnU4bRQ5wWJA/",
					"status": 1,
					"extattr": null,
					"errcode": 0,
					"errmsg": "ok",
					"P2PData": null
				}
				data.mineUserInfo = userInfo;
				if(isTeacher == 0) {
					data.isTeacher = 0;

				} else {
					data.isTeacher = 1;
					data.teacherInfo = {
						userid: "songyanming"
					}
					data.deptId = "11"
					data.deptName = "开发部"
				}

				return data

			}
		</script>
	</body>

</html>