<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1 user-scalable=no">
		<title>流程设置</title>
		<link href="../../../css/jquery-weui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../js/H-ui.admin/static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../js/H-ui.admin/static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="../../../js/H-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../../js/H-ui.admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" type="text/css" href="../../../js/H-ui.admin/static/h-ui.admin/css/style.css" />
		<style>
			.float-right {
				float: right;
				margin-left: 10px;
			}
			
			.inline-block {
				display: inline-block;
			}
			
			body {
				background-color: #F8F8F8;
			}
			
			.title-persons {
				width: 80%;
			}
			
			.show-process,
			.del-process,
			.edit-process,
			.edit-groupName {
				color: dodgerblue;
			}
			
			.close-process {
				color: darkgray
			}
			
			.del-process {
				padding-right: 15px;
			}
			
			.choose-footer {
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;
			}
			
			.selected-style {
				background-color: darkgrey;
				color: white;
			}
			
			.multi-choose-container {
				position: relative;
			}
			
			.choose-person-container {
				position: absolute;
				left: 5%;
				top: 10%;
				right: 5%;
				width: 90%;
				height: 600px;
			}
			
			.choose-person {
				min-height: 300px;
				max-height: 500px;
				overflow: auto;
			}
			
			.check-container {
				width: 20%;
			}
			
			.name-contianer,
			.position-contianer {
				width: 40%;
			}
			
			.person-foot {
				padding-top: 10px;
			}
			
			.person-container {
				display: inline-block;
				padding: 5px 10px;
				text-align: center;
				border: solid 1px #D3D4D3;
				width: 50px;
				margin: 5px;
			}
			
			.person-container.is-checked {
				border-color: dodgerblue;
			}
			
			.btn-primary:disabled {
				background-color: darkgray;
				border: none;
			}
			
			.group-title {
				background: #eee;
			}
			
			.manage-item {
				padding: 5px 5px;
			}
			
			#edit-pocessInfo .row {
				margin-left: 0;
				margin-right: 0;
			}
			
			.select-page {
				color: dodgerblue;
			}
		</style>
	</head>

	<body>
		<div id="process-container">
			<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 流程配置 <span class="c-gray en">&gt;</span> 流程配置
			</nav>
			<div class="page-container">
				<router-view v-on:process-info="getCurProcess" v-bind:process="activeProcess"></router-view>
			</div>
		</div>
		<!--人员选择-->
		<template id="multi-choose">
			<div class="multi-choose-container">
				<div class="choose-person-container">
					<p>人员选择</p>
					<div class="choose-person">
						<choose-person v-bind:check-persons="checkPowerPersons" v-bind:choose-person="selectPerson" v-on:select-person="getSelectPerson"></choose-person>
					</div>
					<div class="person-foot">
						<div v-if="selectPerson.length>0">
							<p>流程链人员</p>
							<div v-for="(person,index) in selectPerson" class="inline-block">
								<span class="person-container is-checked" v-on:click="delChoosePerson(person)">{{person.ApprManName}}</span><span v-if="index<selectPerson.length-1" class="Hui-iconfont Hui-iconfont-arrow2-right"></span>
							</div>

						</div>
						<a v-if="Object.keys(selectPerson).length>0" class="btn btn-primary radius float-right" v-on:click="choosePerson()">更改人员</a>
						<a class="btn btn-default radius float-right" v-on:click="cancelChoose()">取消</a>
					</div>
				</div>
			</div>
		</template>
		<!--人员选择-->
		<template id="person-list">
			<div>
				<div v-for="(person,index) in personList" class="person-container" v-bind:class="[{'is-checked':person.isCheck}]" v-on:click="toggleChoosePerson(person,index)">
					{{person.ApprManName}}
				</div>
			</div>
		</template>
		<!--流程列表-->
		<template id="process-list">
			<div>
				<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a class="btn btn-primary radius" v-on:click="addProcess()" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加流程类型</a></span> </div>
				<table v-if="processList.length>0" class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th width="200">流程</th>
							<th>流程链</th>
							<th width="200">备注</th>
							<th width="100">状态</th>
							<th width="150">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-c" v-for="(process,index) in processList">
							<td>{{process.ProcTypeName}}</td>
							<!--流程链-->
							<td>
								<span v-for="(apprMan,index) in process.ApprManList">{{apprMan.ApprManName}}<span v-if="index<process.ApprManList.length-2" class="Hui-iconfont Hui-iconfont-slider-right"></span></span>
							</td>
							<td class="text-c">{{process.ProTypeNote}}</td>
							<td class="td-status"><span class="label  radius" v-bind:class="[{'label-defaunt':!process.Stat},{'label-success':process.Stat}]">{{process.Stat?"有效":"屏蔽"}}</span></td>
							<td class="td-manage">
								<span class="Hui-iconfont Hui-iconfont-edit edit-groupName manage-item" title="编辑流程信息" v-on:click.stop="changeProcessInfo(process)"></span>
								<span class="Hui-iconfont Hui-iconfont-user-group edit-process manage-item" title="更改流程链" v-on:click.stop="changeProcessList(process)"></span>
								<span class="Hui-iconfont manage-item" title="显示/屏蔽" v-bind:class="[{'Hui-iconfont-yanjing':process.Stat}, {'Hui-iconfont-niming':!process.Stat},{'close-process':!process.Stat},{'show-process':process.Stat}]" v-on:click.stop="changeState(process,index)"></span>
								<span class="Hui-iconfont Hui-iconfont-del2 del-process manage-item" title="删除流程" v-on:click.stop="delProcess(process)"></span>
							</td>
						</tr>
					</tbody>
				</table>
				<form id="edit-pocessInfo" style="display: none;" action="" class="form form-horizontal" id="form-member-add">
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>流程类型：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text" class="input-text" value="" v-model="name" placeholder="" id="username" name="username">
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-3">备注：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<textarea name="beizhu" cols="" rows="" class="textarea" placeholder="请输入备注" v-model="note"></textarea>
							<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
						</div>
					</div>
					<div class="row cl">
						<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
							<input class="btn btn-primary radius" type="submit" v-on:click="submitProcess()" value="提交">
						</div>
					</div>
				</form>
			</div>
		</template>
		<script src="../../../js/vue.js"></script>
		<script src="../../../js/vue-router.js"></script>
		<script src="../../../js/H-ui.admin/lib/jquery/1.9.1/jquery.min.js"></script>
		<script src="../../../js/H-ui.admin/static/h-ui/js/H-ui.js"></script>
		<script type="text/javascript" src="../../../js/H-ui.admin/lib/layer/2.4/layer.js"></script>
		<script src="../../../js/H-ui.admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
		<script src="../../../js/utils/events.js"></script>
		<script src="../../../js/utils/consts.js"></script>
		<script src="../../../js/utils/request.js"></script>
		<script src="../../../js/pcWeb-HUI/process/select-person.js"></script>
		<script src="../../../js/pcWeb-HUI/process/process-setting.js"></script>
		<script type="text/javascript">
			const processSetting = {
				template: '<process-setting v-on:process-info="getProcessInfo"></process-setting>',
				methods: {
					getProcessInfo: function(process) {
						console.log("获取的process:" + JSON.stringify(process));
						this.$emit("process-info", process);
					}
				}
			}
			const multiChoose = {
				template: '#multi-choose',
				props: ['process'],
				data: function() {
					return {
						checkPowerPersons: [],
						selectPerson: [].concat(this.process.ApprManList), //已选人员
						corpId: 0
					}
				},
				mounted: function() {
					this.getCorpId(this.getAllCheckPerson)
				},
				watch: {
					/**
					 * 
					 * @param {Object} newVal
					 * @param {Object} oldVal
					 */
					selectPerson: function(newVal, oldVal) {
						console.log("selectPerson.newVal:" + JSON.stringify(newVal));
						console.log("SelectPerson.oldVal:" + JSON.stringify(oldVal));
						console.log(Object.keys(newVal).length);
					},
					/**
					 * 
					 * @param {Object} newVal 
					 * @param {Object} oldVal
					 */
					process: function(newVal, oldVal) {
						console.log("wacth:监听process:" + JSON.stringify(newVal))
						this.selectPerson = [].concat(newVal.ApprManList);
					}
				},
				methods: {
					getCorpId: function(callback) {
						console.log("*****getCorpId*****");
						var com = this;
						request.requestPersonalInfo(function(response) {
							console.log("获取的corpId数据：" + JSON.stringify(response));
							if(response.RspCode == 0) {
								com.corpId = JSON.parse(response.RspData).corpid;
								callback();
							}
						})
					},
					/**
					 * 获取所有审核人员
					 */
					getAllCheckPerson: function() {
						console.log("****getAllCheckPerson*****");
						var com = this;
						processRequest.postProcessData("getApprMan", {
							corpId: this.corpId,
							pageIndex: 1,
							pageSize: 0
						}, function(response) {
							if(response.RspCode == 0) {
								console.log("获取的审核人员列表：" + JSON.stringify(response))
								com.checkPowerPersons = response.RspData.Data;
							} else {
								alert(response.RspTxt);
							}
						})
					},
					/**
					 * 
					 * @param {Object} person
					 */
					getSelectPerson: function(person) {
						console.log("*******getSelectPerson*******")
						this.selectPerson = person;
						console.log("getSelectPerson:" + JSON.stringify(this.selectPerson))
					},
					/**
					 * 删除人员
					 * @param {Object} key
					 */
					delChoosePerson: function(person) {
						console.log("*******delChoosePerson*******")
						this.delItemInArray(person);
					},
					/**
					 * 删除
					 * @param {Object} person
					 */
					delItemInArray: function(person) {
						console.log("******delItemInArray*******");
						var index = this.getIndexInArray(person)
						if(index >= 0) {
							this.selectPerson.splice(index, 1);
						}
						console.log("删除人员后的数组：" + JSON.stringify(this.selectPerson));
					},
					/**
					 * 获取顺序
					 * @param {Object} person
					 */
					getIndexInArray: function(person) {
						console.log("*****getIndexInArray******");
						for(var i in this.selectPerson) {
							if(this.selectPerson[i].ApprMan == person.ApprMan) {
								return parseInt(i);
							}
						}
						return -1;
					},
					/**
					 * 选择人员
					 */
					choosePerson: function() {
						console.log("*******choosePerson*******")
						var url = "";
						console.log("this.process:" + JSON.stringify(this.process));
						var isAdd = this.process.ApprManList.length == 0;
						console.log("isAdd:" + isAdd);
						if(isAdd) {
							url = "addProcessList";
						} else {
							url = "setProcessList";
						}
						processRequest.postProcessData(url, {
							corpId: this.corpId,
							procTypeId: this.process.ProcessTypeId,
							apprManList: this.personToArray(),
							procNote: ""
						}, function(response) {
							console.log("添加或修改流程链结果：" + JSON.stringify(response))
							if(response.RspCode == 0) {
								router.go(-1);
							}
						})

					},
					/**
					 * 
					 * @param {Object} person
					 */
					personToArray: function() {
						console.log("*******personToString*******")
						return this.selectPerson.map(function(person, index) {
							return [person.ApprMan, person.ApprManName]
						})
					},
					/**
					 * 
					 */
					cancelChoose: function() {
						router.go(-1);
					}

				}
			}
			const router = new VueRouter({
				routes: [{
					path: '/process-setting',
					name: 'process-setting',
					component: processSetting
				}, {
					path: '/multi-choose',
					name: 'multi-choose',
					component: multiChoose
				}]
			})
			var vue = new Vue({
				el: "#process-container",
				router: router,
				data: {
					activeProcess: {}
				},
				mounted: function() {

				},
				methods: {
					getCurProcess: function(process) {
						this.activeProcess = process;
					}
				}
			})
			router.replace({
				name: 'process-setting'
			})
		</script>
	</body>

</html>