<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>班级圈</title>
		<script type="text/javascript">
			document.write('<link rel="stylesheet" href="../../js/demoCssJs/weui.min.css?' + Math.random() + '" />');
			document.write('<link rel="stylesheet" href="../../js/demoCssJs/jquery-weui.css?' + Math.random() + '" />');
			document.write('<link rel="stylesheet" href="../../js/demoCssJs/demos.css?' + Math.random() + '" />');
			document.write('<link rel="stylesheet" href="../../css/utils/iconfont.css?' + Math.random() + '" />');
			document.write('<link rel="stylesheet" href="../../css/classCircle/class_circle_home.css?' + Math.random() + '" />');
		</script>
		<script>
			//动态设置样式
			(function() {
				var wsWidth = window.screen.width;
				var wsHeight = window.screen.height;
				var relate_praise_name = wsWidth - 30 - 40 - 15 - 5 - 5 - 48; //与我相关的人的名称的宽度(赞了我)
				var relate_comment_name = wsWidth - 30 - 40 - 15 - 5 - 5 - 64 - 10 - 32; //与我相关的人的名称的宽度(评论了我)
				var style = document.createElement("style");
				style.type = "text/css";
				var sstr_0 = ".relate-reply-type-praise .relate-name{max-width: " + relate_praise_name + "px;}";
				var sstr_1 = ".relate-reply-type-comment .relate-name{max-width: " + relate_comment_name + "px;}";
				var sstr_2 = ".class-circle-user-space.weui-tab{height: " + (wsHeight + 30) + "px;}"
				style.innerHTML = sstr_0 + sstr_1 + sstr_2;
				document.getElementsByTagName('head').item(0).appendChild(style);
			})();
		</script>
	</head>

	<body>
		<!--班级圈路由-->
		<div id="router_class_circle_app">
			<keep-alive>
				<router-view v-if="$route.meta.keepAlive"></router-view>
			</keep-alive>
			<router-view v-if="!$route.meta.keepAlive"></router-view>
		</div>
		<!--路由--班级圈主页-->
		<template id="router_class_circle_home">
			<div>
				<div id="class_circle_home" class="weui-tab">
					<div class="weui-navbar">
						<home-navbar-item v-for="(value,index) in data" :key="index" :value="value" :index="index" :is_on="is_on" @click-item="clickItem"></home-navbar-item>
					</div>
					<div class="weui-tab__bd">
						<home-bd-item v-for="(value,index) in data" :key="index" :value="value" :index="index" :is_on="is_on" @click-person="showPersonTrends" @click-content="showTrendsDetails" @click-function="clickFunction" @click-comment="clickComment"></home-bd-item>
					</div>
				</div>
				<div @click="clickAddTrends" class="class-circle-report">+ 发表动态</div>
			</div>
		</template>
		<!--路由--发布动态或者评论-->
		<template id="router_add_trends">
			<add-trends :content="content" :show-media="showMedia" :maxlength="maxlength" @add-media="addMedia" @submit-data="submitData" @content-change="contentChange"></add-trends>
		</template>
		<!--路由--动态详情-->
		<template id="router_trends_details">
			<div>
				<trends-item v-for="(item_value,item_index) in data" :index="item_index" :key="item_index" :value="item_value" :detail="true" @click-person="clickPerson" @click-function="clickFunction" @click-comment="clickComment"></trends-item>
			</div>
		</template>
		<!--路由-用户个人空间-->
		<template id="router_user_space">
			<div class="weui-tab class-circle-user-space">
				<div class="weui-tab__bd">
					<div :id="'user_space_'+$route.params.id" class="weui-tab__bd-item weui-tab__bd-item--active">
						<div class="weui-pull-to-refresh__layer">
							<div class="weui-pull-to-refresh__arrow"></div>
							<div class="weui-pull-to-refresh__preloader"></div>
							<div class="down">下拉刷新</div>
							<div class="up">释放刷新</div>
							<div class="refresh">正在刷新</div>
						</div>
						<div class="weui-panel weui-panel_access">
							<div class="weui-panel__bd">
								<div class="class-circle-user-space-bg">
									<div class="class-circle-user-space-headimage">
										<img :src="userId|userImage" @load="headLoad($event)" @error.once="headError($event)" />
									</div>
									<div>{{userId|userName}}</div>
								</div>
								<trends-item v-for="(item_value,item_index) in data" :index="item_index" :key="item_index" :value="item_value" :detail="false" @click-person="clickPerson" @click-function="clickFunction" @click-comment="clickComment"></trends-item>
							</div>
						</div>
						<div class="weui-loadmore" v-show="show_loadmore">
							<i class="weui-loading" v-show="show_loadmore_loading"></i>
							<span class="weui-loadmore__tips">{{show_loadmore_content}}</span>
						</div>
					</div>
				</div>
			</div>
		</template>
		<!--班级圈主页--顶部导航-->
		<template id="temp_trends_navbar_item">
			<div class="weui-navbar__item" :class="isOnClass" @click="click(index)">
				<div>{{value.title}}</div>
			</div>
		</template>
		<!--班级圈主页--中间内容-->
		<template id="temp_trends_tab_bd_item">
			<div :id="value.id" class="weui-tab__bd-item weui-pull-to-refresh" :class="isOnClass">
				<div class="weui-pull-to-refresh__layer">
					<div class="weui-pull-to-refresh__arrow"></div>
					<div class="weui-pull-to-refresh__preloader"></div>
					<div class="down">下拉刷新</div>
					<div class="up">释放刷新</div>
					<div class="refresh">正在刷新</div>
				</div>
				<div class="weui-panel weui-panel_access">
					<div class="weui-panel__bd">
						<template v-if="value.id=='relate_to_me_2'">
							<!--与我相关-->
							<relate-item v-for="(item_value,item_index) in value.data" :key="item_index" :value="item_value"></relate-item>
						</template>
						<template v-else>
							<trends-item v-for="(item_value,item_index) in value.data" :index="item_index" :key="item_index" :value="item_value" :detail="false" @click-person="clickPerson" @click-content="clickContent" @click-function="clickFunction" @click-comment="clickComment"></trends-item>
						</template>
					</div>
				</div>
				<div :id="'loadmore_' + value.id" class="weui-loadmore" v-show="value.show_loadmore">
					<i class="weui-loading" v-show="value.show_loadmore_loading"></i>
					<span class="weui-loadmore__tips">{{value.show_loadmore_content}}</span>
				</div>
			</div>
		</template>
		<!--动态模版-->
		<template id="template_trends">
			<div class="weui-media-box">
				<div class="weui-media-box_appmsg">
					<div class="weui-media-box__hd class-circle-headimage-hd">
						<img class="weui-media-box__thumb class-circle-headimage" @load="headLoad($event)" @error.once="headError($event)" @click="clickPerson" :src="value.PublisherId|userThumbImage" />
					</div>
					<div class="weui-media-box__bd">
						<div class="class-circle-title">
							<div class="weui-media-box__title" @click="clickPerson">{{value.PublisherId|userName}}</div>
							<!--<div class="class-circle-mark"></div>-->
						</div>
						<div class="weui-media-box__desc">{{value.PublishDate}}</div>
					</div>
				</div>
				<div class="class-circle-content-limit" @click="clickContent" :class="{'class-circle-content-limit-break':detail}">{{value.MsgContentTxt}}</div>
				<template v-if="value.EncType == 1">
					<image-item :images="value.EncAddr|imagesArray" :images-thumb="value.EncImgAddr|imagesArray"></image-item>
				</template>
				<div class="class-circle-function">
					<div class="class-circle-views">浏览数 {{value.ReadCnt}}</div>
					<div class="iconfont icon-trash" @click="clickFunction(2)" v-if="showTrash"></div>
					<div class="iconfont icon-newmessage" @click="clickFunction(1)"></div>
					<div class="iconfont icon-dianzan" @click="clickFunction(0)" :class="{'trends-praise': value.IsLike}"></div>
				</div>
				<div class="class-circle-praise-comment" v-if="showPraiseComment">
					<div class="class-circle-triangle"></div>
					<template v-if="detail">
						<div class="class-circle-praise-bg">
							<div class="class-circle-praiser" v-for="(praiser_value,praiser_index) in value.LikeUsers" @click="clickName(praiser_value.userId)">
								{{praiser_value.userId|userName}}
							</div>
						</div>
						<div class="class-circle-praise-comment-line" v-if="showLine"></div>
						<comments-item :value="value.Comments" :show="false" @click-comment="clickComment" @click-show-all="clickShowAll" @click-name="clickName"></comments-item>
					</template>
					<template v-else>
						<praiser-item :likers="value.LikeUsers|praiserArray" @click-name="clickName"></praiser-item>
						<div class="class-circle-praise-comment-line" v-if="showLine"></div>
						<comments-item :value="value.Comments|commentArray" :show="value.Comments|showAllButton" @click-comment="clickComment" @click-show-all="clickShowAll" @click-name="clickName"></comments-item>
					</template>
				</div>
			</div>
		</template>
		<!--与我相关模板-->
		<template id="temp_relate_to_me">
			<div class="weui-media-box relate-reply-type-praise">
				<div class="weui-media-box_appmsg">
					<div class="weui-media-box__hd class-circle-headimage-hd">
						<img class="weui-media-box__thumb class-circle-headimage" src="../../image/config/func_actssm.jpg" />
					</div>
					<div class="weui-media-box__bd">
						<div class="class-circle-title">
							<div class="weui-media-box__title relate-name">
								标题一标题一标题一标
							</div>
							<div class="relate-reply-type">赞了我</div>
						</div>
						<div class="weui-media-box__desc">2017-8-14 09:14:42</div>
					</div>
				</div>
				<div class="relate-reply-content">
					<div class="relate-reply-content-img">
						<img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2760619582,1034521198&fm=11&gp=0.jpg" />
					</div>
					<div class="relate-reply-content-text">
						<div class="relate-reply-content-limit">
							<div class="relate-reply-content-name">
								张一二三四五六七八九十云张一二三四五六七八九十云
							</div>
							：一二三四五六七八九十一二三四五六七八九十
						</div>
					</div>
				</div>
			</div>
		</template>
		<!--与我相关模板-->
		<template id="temp_relate_to_me_comment">
			<div class="weui-media-box relate-reply-type-comment">
				<div class="weui-media-box_appmsg">
					<div class="weui-media-box__hd class-circle-headimage-hd">
						<img class="weui-media-box__thumb class-circle-headimage" src="../../image/config/func_actssm.jpg" />
					</div>
					<div class="weui-media-box__bd">
						<div class="class-circle-title">
							<div class="weui-media-box__title relate-name">
								标题一标题一标一标
							</div>
							<div class="relate-reply-type">评论了我</div>
							<div class="relate-reply">回复</div>
						</div>
						<div class="weui-media-box__desc">2017-8-14 09:14:42</div>
					</div>
				</div>
				<div>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</div>
				<div class="relate-reply-content">
					<div class="relate-reply-content-img">
						<img src="http://www.w3school.com.cn/i/bg_flower_small.gif" />
					</div>
					<div class="relate-reply-content-text">
						<div class="relate-reply-content-limit">
							<div class="relate-reply-content-name">
								张一
							</div>
							：一二三四五六七八九十一二三四五六七八九十
						</div>
					</div>
				</div>
				<div class="class-circle-comment-bg">
					<div class="class-circle-comment-item">
						<div class="class-circle-comment-name">壹</div>
						<div class="class-circle-comment-content">：一二三四 </div>
					</div>
					<div class="class-circle-comment-item">
						<div class="class-circle-comment-name">贰</div>
						<div class="class-circle-comment-content">回复</div>
						<div class="class-circle-comment-name">壹</div>
						<div class="class-circle-comment-content">：一二三四五六七八九十</div>
					</div>
				</div>
			</div>
		</template>
		<!--评论组件-->
		<template id="temp_comments">
			<div class="class-circle-comment-bg">
				<div v-for="(comment_value,comment_index) in value">
					<div class="weui-cell weui-cell_access class-circle-comment-item" @click="clickComment(comment_index)">
						<div class="class-circle-comment-name" @click.stop="clickName(comment_value.UserId)">{{comment_value.UserId|userName}}</div>
						<div class="class-circle-comment-content">：{{comment_value.CommentContent}}</div>
					</div>
					<div class="weui-cell weui-cell_access class-circle-comment-item" v-for="(replys_value,replys_index) in comment_value.Replys" @click="clickComment(comment_index,replys_index)">
						<div class="class-circle-comment-name" @click.stop="clickName(replys_value.ReplyId)">{{replys_value.ReplyId|userName}}</div>
						<div class="class-circle-comment-content">回复</div>
						<div class="class-circle-comment-name" @click.stop="clickName(replys_value.UserId)">{{replys_value.UserId|userName}}</div>
						<div class="class-circle-comment-content">：{{replys_value.CommentContent}}</div>
					</div>
				</div>
				<div class="class-circle-show-all" v-if="show" @click="clickShowAll">查看全部</div>
			</div>
		</template>
		<!--发布动态组件-->
		<template id="temp_add_trends_com">
			<div class="class-circle-add">
				<textarea class="weui-textarea" v-model="com_content" placeholder="不能为空" rows="6" :maxlength="maxlength"></textarea>
				<div class="class-circle-add-media" v-if="showMedia">
					<div class="iconfont icon-tuku" @click="addMedia(0)"></div>
					<div class="iconfont icon-xiangji2" @click="addMedia(1)"></div>
				</div>
				<div class="class-circle-add-line"></div>
				<button class="weui-btn weui-btn_primary" @click="submitData">提交</button>
			</div>
		</template>
		<!--显示图片的组件-->
		<template id="temp_show_image">
			<div>
				<template v-if="imagesThumb.length == 1">
					<img class="class-circle-content-img" :src="imagesThumb[0]" @click="showImage(0)" />
				</template>
				<div v-else-if="imagesThumb.length > 1" class="class-circle-grids">
					<div class="class-circle-grids-item" v-for="(img_value,img_index) in imagesThumb" @click="showImage(img_index)">
						<img :src="img_value" />
					</div>
				</div>
			</div>
		</template>
		<template id="temp_praiser_list">
			<div class="class-circle-praise-bg">
				<div class="class-circle-praiser" v-for="(value,index) in likers.showArray" @click="clickName(value.userId)">
					{{value.userId|userName}}
				</div>
				<div class="class-circle-praiser" v-if="likers.num > 20">等{{likers.num}}人觉得很赞</div>
			</div>
		</template>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../js/mui.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/importJS.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/demoCssJs/jquery-2.1.4.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/demoCssJs/jquery-weui.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/demoCssJs/swiper.js?" + Math.random() + "'></s" + "cript>");
			//document.write("<s" + "cript type='text/javascript' src='../../js/weui.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/vue.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/vue-router.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/lib/vconsole/vconsole.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/utils/utils.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/classCircle/class_circle_vue.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/classCircle/class_circle_protocol.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/classCircle/class_circle_home.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../js/classCircle/class_circle_temp_data.js?" + Math.random() + "'></s" + "cript>");
		</script>
	</body>

</html>