<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>金视野教育</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/utils/pullToRefresh.css" />
		<style type="text/css">
			.mui-media {
				font-size: 14px;
			}
			
			.mui-table-view .mui-media-object {
				max-width: initial;
				width: 90px;
				height: 70px;
			}
			
			.meta-info {
				position: absolute;
				left: 115px;
				right: 15px;
				bottom: 8px;
				color: #8f8f94;
			}
			
			.meta-info .author,
			.meta-info .time {
				display: inline-block;
			}
			
			.meta-info .time {
				float: right;
			}
			
			.mui-table-view:before,
			.mui-table-view:after {
				height: 0;
			}
			
			.mui-content>.mui-table-view:first-child {
				margin-top: 1px;
			}
		</style>
	</head>

	<body>
		<div class="mui-content mui-scroll-wrapper" style="z-index: 1;" id="contacts">
			<div class="mui-scroll">
				<!--列表信息流 开始-->
				<ul id="list" class="mui-table-view">
					<li class="mui-table-view-cell mui-media" >
							<img class="mui-media-object mui-pull-left" src="../../image/utils/default_personalimage.png"  style="width: 50px;height: 50px;">
							<div class="mui-media-body" style="margin-top: 10px;">
								新建联系人
							</div>
					</li>
					<li class="mui-table-view-divider">企业通讯录</li>
					<li class="mui-table-view-cell mui-media  mui-checkbox mui-right" v-for="item in items" :data-deptId='item.deptId?"item.deptId":"item.contactId"'>
							<img class="mui-media-object mui-pull-left" :src="item.imgurl"  style="width: 50px;height: 50px;">
							<div class="mui-media-body" style="margin-top: 10px;">
								{{item.name}}
							</div>
							<input name="checkbox" type="checkbox" style="margin-top: 10px;" v-if="item.contactId">
					</li>
				</ul>
				<!--列表信息流 结束-->
			</div>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../js/utils/mui.pullToRefresh.js"></script>
		<script type="text/javascript" src="../../js/utils/mui.pullToRefresh.material.js"></script>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../js/importJS.js?" + Math.random() + "'></s" + "cript>");
		</script>
		<script type="text/javascript">
			mui.init();
			var vm_contacts = new Vue({
				el: '#contacts',
				data: {
					items: [] //列表信息流数据
				}
			});
			window.onload = function() {
				var detail = utils.getDataFromUrl(window.location.href);
				if(detail.deptId){
					vm_contacts.items=[{
						contactId:1,
						name:'宋艳明',
						imgurl:'../../image/utils/default_personalimage.png'
					},{
						contactId:2,
						name:'赵启旺',
						imgurl:'../../image/utils/default_personalimage.png'
					},{
						contactId:3,
						name:'安琪',
						imgurl:'../../image/utils/default_personalimage.png'
					},{
						contactId:4,
						name:'莫尚林',
						imgurl:'../../image/utils/default_personalimage.png'
					}]
				}else{
					vm_contacts.items = [{
						deptId:1,
						name:'开发部',
						imgurl:'../../image/newsIndex.png'
					},{
						deptId:2,
						name:'财务部',
						imgurl:'../../image/newsIndex.png'
					},{
						deptId:3,
						name:'行政部',
						imgurl:'../../image/newsIndex.png'
					},{
						deptId:4,
						name:'支撑中心',
						imgurl:'../../image/newsIndex.png'
					}]
				}
			}
			//点击列表，打开详情
			//TODO 后续应该封装一个v-tap指令，实现tap监听
			mui('.mui-content').on('tap', '[data-deptId]', function() {
				var data = {
					deptId: this.getAttribute('data-deptId'),
				}
				if(vm_contacts.items[0].contactId){
					return;
				}
				utils.wOpenWithData("contacts.html", data);

			});

		</script>
	</body>

</html>