<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>做作业</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript">
			document.write('<link rel="stylesheet" href="../../js/demoCssJs/weui.min.css?' + Math.random() + '" />');
			document.write('<link rel="stylesheet" href="../../js/demoCssJs/jquery-weui.css?' + Math.random() + '" />');
			document.write('<link rel="stylesheet" href="../../js/demoCssJs/demos.css?' + Math.random() + '" />');
			document.write('<link rel="stylesheet" href="../../css/utils/iconfont.css?' + Math.random() + '" />');
			//			document.write('<link rel="stylesheet" href="../../css/classCircle/class_circle_home.css?' + Math.random() + '" />');
		</script>
	</head>

	<body>
		<div class="mui-content" id="homework" style="background-color: white;">
			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">科目</label></div>
				<div class="weui-cell__bd">
					<input onclick="selectSubject(this)" class="weui-input" placeholder="请选择科目" :value="subject.currSubject.name" v-model="subject.currSubject.name">
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">班级</label></div>
				<div class="weui-cell__bd">
					<input onclick="selectClass(this)" class="weui-input" placeholder="请选择班级" :value="classes.currClass.name" v-model="classes.currClass.name">
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">内容</label></div>

			</div>
			<textarea name="MSG" cols=0 rows=8 placeholder="请输入作业内容"></textarea>
			<div class="online-container">
				<p class="submit-label" style="width: 200px;font-size: 16px;margin-left: 10px;">需学生在线提交</p>
				<div id="onlineSwitch" class="mui-switch mui-active mui-switch-green online-switch  mui-pull-right" style="margin-top: -40px;">
					<div class="mui-switch-handle"></div>
				</div>
			</div>
			<div class="weui-cells weui-cells_form" id="homework">
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<div class="weui-uploader">
							<div class="weui-uploader__hd">
								<p class="weui-uploader__title">上传照片</p>
								<div class="weui-uploader__info">0/1</div>
							</div>
							<div class="weui-uploader__bd">
								<ul class="weui-uploader__files" id="uploaderFiles">
									<!--<li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(./images/pic_160.png)">
									<div class="weui-uploader__file-content">50%</div>
								</li>-->
								</ul>
								<div class="weui-uploader__input-box">
									<input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" v-on:change="selectFile($event)">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script src="../../js/mui.min.js"></script>
			<script src="../../js/demoCssJs/vue.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../js/appweb/choose-file.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../js/utils/compress.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../js/demoCssJs/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../js/demoCssJs/jquery-weui.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../js/PublicProtocol.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../js/utils/consts.js"></script>
			<script src="../../js/utils/events.js"></script>
			<script type="text/javascript">
				mui.init();
				getDepart();
				var vm = new Vue({
					el: '#homework',
					data: {
						subject: {
							currSubject: {
								name: '',
								id: ''
							},
							subjects: []
						},
						classes: {
							currClass: {
								name: '',
								id: ''
							},
							classes: []
						}
					},
					methods: {
						selectFile: function(event) {
							var com = this;
							console.log('111111');

							//						var file = event.target.files[0];
							//						if(window.FileReader) {
							//							var reader = new FileReader();
							//							reader.readAsDataURL(file);
							//							//监听文件读取结束后事件    
							//							reader.onloadend = function(e) {
							//								$(".img").attr("src", e.target.result); //e.target.result就是最后的路径地址
							//								console.log('path:'+e.target.result);
							//								console.log('path,value:'+e.target.value);
							//								compress.uploadImg(e.target.result, 2, function(response) {
							//														console.log("已上傳的文件！" + JSON.stringify(response))
							//														alert('12112:' + response.RspCode);
							//														if(response.RspCode == 0) {
							//															com.uploadedFiles = [response.RspData];
							//						
							//															com.$emit('uploadFile', response.RspData);
							//														} else {
							//															console.log("发生错误！" + JSON.stringify(response));
							//														}
							//													});
							//							};
							//						}

							if(event.target.value) {
								console.log("选中的文件路径：" + event.target.value);
								alert('wenjian:' + event.target.value);
								console.log(JSON.stringify(event.target.files));
								var file = event.target.files[0];
								compress.uploadImg(file, 2, function(response) {
									console.log("已上傳的文件！" + JSON.stringify(response))
									alert('12112:' + response.RspCode);
									if(response.RspCode == 0) {
										com.uploadedFiles = [response.RspData];

										com.$emit('uploadFile', response.RspData);
									} else {
										console.log("发生错误！" + JSON.stringify(response));
									}
								});
							}
						}
					}
				})

				function getSub() {
					var tempData = {
						cmd: 'sub',
						type: 'findpage',
						pagesize: 10,
						pageindex: 1,
						stat: '1'
					}
					unitWebsitePro(tempData, function(data) {
						console.log('科目:' + JSON.stringify(data));
						if(data.RspCode == 0) {} else {
							mui.toast(data.RspTxt)
						}
					})
				}

				function getDepart() {

					var tempData = {
						cmd: 'persondeparts',
						type: 'findpage',
					}
					unitWebsitePro(tempData, function(data) {
						console.log('部门:' + JSON.stringify(data));
						if(data.RspCode == 0) {} else {
							mui.toast(data.RspTxt)
						}
					})

				}
				//			function getSub() {
				//				var tempData = {
				//					cmd: 'work',
				//					type: 'add',
				//					touser: '',
				//					toparty: '',
				//					totag: '',
				//					msgtype: 'text',
				//					safe: 0,
				//					content: '1',
				//					tousername: '1'
				//					topartyname: 10,
				//					totagname: 1,
				//					subid: '1',
				//					subname: '1',
				//					subimg: 10,
				//					encs: 1,
				//					issend: '1'
				//				}
				//				unitWebsitePro(tempData, function(data) {
				//					console.log('科目:' + JSON.stringify(data));
				//					if(data.RspCode == 0) {} else {
				//						mui.toast(data.RspTxt)
				//					}
				//				})
				//			}

				function selectClass(input_item) {
					document.activeElement.blur();
					var self = input_item;
					weui.picker([{
						label: '一年级一班',
						value: 0
					}, {
						label: '一年级二班',
						value: 1
					}, {
						label: '一年级三班',
						value: 2
					}], {
						onChange: function(result) {
							//						console.log(result);
						},
						onConfirm: function(result) {
							vm.classes.currClass.name = result[0].label;
							//						console.log(result);
						}
					});
				}

				function selectSubject(input_item) {
					document.activeElement.blur();
					var self = input_item;
					weui.picker([{
						label: '语文',
						value: 0
					}, {
						label: '数学',
						value: 1
					}, {
						label: '英语',
						value: 2
					}, {
						label: '物理',
						disabled: true,
						value: 3
					}, {
						label: '其他',
						value: 4
					}], {
						onChange: function(result) {
							//						console.log(result);
						},
						onConfirm: function(result) {
							vm.subject.currSubject.name = result[0].label;
							//						console.log(result);
						}
					});
				}
			</script>
	</body>

</html>