<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/new-detail.css" />
		<style type="text/css">
		</style>
	</head>

	<body>
		<!--<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">新闻</h1>
		</header>-->
		<div class="mui-content">
			<h3 style="text-align: center;padding: 5px;">{{newDetail.topic}}</h1>
			<!--顶部banner图 开始-->
			<div id="kr-article-banner" class="kr-article-banner">
				<div id="kr-article-cover" class="kr-article-cover">
					<img :src="newDetail.imgurl">
				</div>
				<!--<h2 id="kr-article-title" class="kr-article-title">{{newDetail.topic}}</h2>-->
			</div>
			<!--顶部banner图 结束-->

			<div class="kr-article-content">
				<!-- 文章作者、发布时间等信息 -->
				<div class="kr-article-meta">
					<div id="kr-article-author" class="kr-article-author">{{newDetail.rectname}}</div>
					<div class="kr-article-text">发表于</div>
					<div id="kr-article-time" class="kr-article-time">{{newDetail.rectime}}</div>
				</div>
				<!--文章详细内容-->
				<div id="kr-article-article" class="kr-article-article" v-html="newDetail.content">{{newDetail.content}}}</div>
			</div>
			<!--列表信息流 开始-->
			<!--<div id="section_comment_title" class="section-comment-title">
				评论({{comments.length}})
			</div>
			<ul class="mui-table-view section-comment" style="display: block;">
				<li class="mui-table-view-cell" v-for="item in comments">
					<img src="../../image/utils/default_personalimage.png" class="section-comment-personal-headimage">
					<div class="mui-ellipsis section-comment-personal-name">{{item.UserId}}</div>
					<div class="section-comment-content">{{item.CommentContent}}</div>
					<div class="section-comment-info">回复{{item.Replys.length}}</div>
					<div class="mui-pull-right section-comment-info">{{item.CommentDate}}</div>
					<div class="section-comment-reply">
						<div v-for="Reply in item.Replys">
							<span class="section-comment-reply-name">{{Reply.UserId}}</span>
							<span class="section-comment-reply-info">@</span>
							<span class="section-comment-reply-name">{{Reply.ReplyId}}</span>
							<span class="section-comment-reply-info">:</span>
							<span class="section-comment-reply-content"> {{Reply.CommentContent}}</span>
						</div>
					</div>
				</li>
			</ul>-->

			<script src="../../js/mui.min.js"></script>
			<script src="../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../js/utils/utils.js" type="text/javascript" charset="utf-8"></script>
			<script type="text/javascript">
				mui.init();
				window.onload = function() {
					var detail = utils.getDataFromUrl(window.location.href);
					detail.imgurl ='https://pic.36krcnd.com/avatar/201707/04070536/rf5n3pp8fwka9iai.jpg!feature';
					vm.newDetail = detail;
				}
				var vm = new Vue({
					el: '.mui-content',
					data: {
						newDetail:{}
					},
					methods: {

					}
				});
//				vm.comments = [{
//					"CommentDate": "2017-07-05 10:17:55",
//					"TabId": 2,
//					"Replys": [{
//						"CommentDate": "2017-07-05 10:18:22",
//						"TabId": 3,
//						"status": 1,
//						"secID": 19,
//						"ReplyId": 42,
//						"CommentContent": " 你钱",
//						"CommentType": 2,
//						"UserId": 42,
//						"UpperId": 2
//					},{
//						"CommentDate": "2017-07-05 10:18:22",
//						"TabId": 3,
//						"status": 1,
//						"secID": 19,
//						"ReplyId": 42,
//						"CommentContent": " 你钱",
//						"CommentType": 2,
//						"UserId": 42,
//						"UpperId": 2
//					},{
//						"CommentDate": "2017-07-05 10:18:22",
//						"TabId": 3,
//						"status": 1,
//						"secID": 19,
//						"ReplyId": 42,
//						"CommentContent": " 你钱",
//						"CommentType": 2,
//						"UserId": 42,
//						"UpperId": 2
//					},],
//					"ReplyId": 0,
//					"CommentContent": "123",
//					"UserId": 42,
//					"LikeNum": 0,
//					"IsLiked": 0,
//					"UpperId": 0
//				},{"CommentDate": "2017-07-05 10:17:55",
//					"TabId": 2,
//					"Replys": [{
//						"CommentDate": "2017-07-05 10:18:22",
//						"TabId": 3,
//						"status": 1,
//						"secID": 19,
//						"ReplyId": 42,
//						"CommentContent": " 你钱",
//						"CommentType": 2,
//						"UserId": 42,
//						"UpperId": 2
//					}],
//					"ReplyId": 0,
//					"CommentContent": "123",
//					"UserId": 42,
//					"LikeNum": 0,
//					"IsLiked": 0,
//					"UpperId": 0
//				},{"CommentDate": "2017-07-05 10:17:55",
//					"TabId": 2,
//					"Replys": [{
//						"CommentDate": "2017-07-05 10:18:22",
//						"TabId": 3,
//						"status": 1,
//						"secID": 19,
//						"ReplyId": 42,
//						"CommentContent": " 你钱",
//						"CommentType": 2,
//						"UserId": 42,
//						"UpperId": 2
//					}],
//					"ReplyId": 0,
//					"CommentContent": "123",
//					"UserId": 42,
//					"LikeNum": 0,
//					"IsLiked": 0,
//					"UpperId": 0
//				}]
			</script>
	</body>

</html>