<!DOCTYPE html>
<html>

	<head>
		<title>新闻</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
		<link rel="stylesheet" href="../../js/demoCssJs/weui.min.css">
		<link rel="stylesheet" href="../../js/demoCssJs/jquery-weui.css">
		<link rel="stylesheet" href="../../js/demoCssJs/demos.css">
		<style>
			.has-max {
				max-width: 640px;
			}
			
			.category_nav {
				white-space: nowrap;
				display: inline-block;
			}
			
			.category_nav a {
				display: inline-block;
				position: relative;
			}
			
			.category_nav li a {
				display: inline-block;
				padding: 0 .5rem;
			}
			
			.wrap {
				width: 30px;
				position: relative;
			}
			
			.img {
				width: 27px;
				height: 27px;
			}
			
			.notice {
				width: 15px;
				height: 15px;
				line-height: 15px;
				font-size: 10px;
				color: #fff;
				text-align: center;
				background-color: #f00;
				border-radius: 50%;
				position: absolute;
				right: -7px;
				top: -7px;
			}
			
			.scrollgo {
				overflow: auto;
				-webkit-overflow-scrolling: touch;
				width: 100%;
				height: 100%;
			}
		</style>
	</head>

	<body ontouchstart>
		<div class="weui-tab scrollgo" id="wrapper">
			<div class="weui-navbar category_nav">
				<a class="weui-navbar__item" :class="{'weui-bar__item--on':item.active}" v-for="item in items" :href="'#'+item.chnid" @click="clickColumn(item)">{{item.cname}}</a>
			</div>
			<div class="weui-tab__bd">
				<div :id="item.chnid" class="weui-tab__bd-item infinite weui-pull-to-refresh" :class="{'weui-tab__bd-item--active':item.active}" v-for="item in items" style="width: 100%;">
					<div class="weui-pull-to-refresh__layer">
						<div class='weui-pull-to-refresh__arrow'></div>
						<div class='weui-pull-to-refresh__preloader'></div>
						<div class="down">下拉刷新</div>
						<div class="up">释放刷新</div>
						<div class="refresh">正在刷新</div>
					</div>

					<div class="content-padded">
						<a class="weui-cell weui-cell_access" href="javascript:;" v-for="newsModel in item.newsArray" @click="clickNews(newsModel)">
							<div class="weui-cell__hd"><img :src=newsModel.islink alt="" style="width:40px;margin-right:5px;display:block"></div>
							<div class="weui-cell__bd">
								<p>{{newsModel.topic}}</p>
								<p>{{newsModel.subtopic}}</p>
							</div>
							<div class="weui-cell__ft"></div>
						</a>
					</div>
					<div class="weui-loadmore">
						<i class="weui-loading"></i>
						<span class="weui-loadmore__tips">正在加载</span>
					</div>
				</div>
			</div>
			<div class="weui-tabbar">
				<a href="newsIndex.html" class="weui-tabbar__item weui-bar__item--on">
					<div class="wrap">
						<img class="img" src="../../image/newsIndex.png" alt="">
						<!--<div class="notice">8</div>-->
					</div>
					<p class="weui-tabbar__label">新闻</p>
				</a>
				<a href="mineIndex.html" class="weui-tabbar__item">
					<div class="wrap">
						<img class="img" src="../../image/mineIndex.png" alt="">
						<!--<div class="notice">12</div>-->
					</div>
					<p class="weui-tabbar__label">我的</p>
				</a>
			</div>
		</div>
		<script src="../../js/demoCssJs/jquery-2.1.4.js"></script>
		<script src="../../js/demoCssJs/iscroll.js"></script>
		<script src="../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/demoCssJs/jquery-weui.js"></script>
		<script src="../../js/demoCssJs/fastclick.js"></script>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../js/importJS.js?" + Math.random() + "'></s" + "cript>");
		</script>
		<script>
			var columnData = new Vue({
				el: '#wrapper',
				data: {
					items: [{}] //列表信息流数据
				},
				updated: function() {
					$(".weui-loadmore").hide();
					$(".infinite").infinite(0).on("infinite", function() {
						var self = this;
						if(loading) return;
						$(self).find(".weui-loadmore").show();
						console.log(self);
						loading = true;
						console.log(self);
						console.log('我是加载的新内容');
						selectColumnSendPro(1);
					});

					$(".weui-pull-to-refresh").pullToRefresh().on("pull-to-refresh", function() {
						var self = this;
						if(loading) return;
						console.log(self);
						loading = true;
						console.log(self);
						setTimeout(function() {
							console.log('4444444');
							selectColumnSendPro(0);
							loading = false;
							$(".weui-pull-to-refresh").pullToRefreshDone();
						}, 1000); //模拟延迟
					});
				},
				methods: {
					clickNews: function(model) {
						console.log('点击的model:' + JSON.stringify(model));
						utils.wOpenWithData("new-detail.html", model);
					},
					clickColumn: function(model) {
						console.log('点击栏目的model:' + JSON.stringify(model));
						newsColumn = model;
						if(newsColumn.newsArray.length == 0) {
							$(".weui-loadmore").hide();
							loading = false;
							$(".weui-pull-to-refresh").pullToRefreshDone();
							selectColumnSendPro(0);
						}
					}
				}
			});
			var newsColumn = {}; //获取当前的栏目model
			$(function() {
				FastClick.attach(document.body);
			});
			//var myScroll = new IScroll('#wrapper');
			//每个选项栏的高度重新调整
			var allheight = document.getElementsByClassName('weui-tab')[0].scrollHeight;
			var barheight = document.getElementsByClassName('weui-tabbar')[0].scrollHeight;
			$('.weui-tab__bd').css({
				'height': (allheight - barheight) * 100 / allheight + '%'
			});
			$('.weui-tab__bd-item').css({
				'height': (allheight - barheight) * 100 / allheight + '%'
			});
			//有红点提示的宽度调整
			var tabar_width = document.getElementsByClassName('weui-tabbar__item')[0].scrollWidth;
			$('.wrap').css({
				'left': (tabar_width - 30) * 50 / tabar_width + '%'
			});
			window.addEventListener("resize", function() {
				var allheight = document.getElementsByClassName('weui-tab')[0].scrollHeight;
				var barheight = document.getElementsByClassName('weui-tabbar')[0].scrollHeight;
				$('.weui-tab__bd').css({
					'height': (allheight - barheight) * 100 / allheight + '%'
				});
				$('.weui-tab__bd-item').css({
					'height': (allheight - barheight) * 100 / allheight + '%'
				});

				var tabar_width = document.getElementsByClassName('weui-tabbar__item')[0].scrollWidth;
				$('.wrap').css({
					'left': (tabar_width - 30) * 50 / tabar_width + '%'
				});
			}, false);
			var loading = false;
			$(".weui-loadmore").hide();
			$(".infinite").infinite(0).on("infinite", function() {
				var self = this;
				if(loading) return;
				$(self).find(".weui-loadmore").show();
				console.log(self);
				loading = true;
				console.log(self);
				console.log('我是加载的新内容');
				selectColumnSendPro(1);
			});

			$(".weui-pull-to-refresh").pullToRefresh().on("pull-to-refresh", function() {
				var self = this;
				if(loading) return;
				console.log(self);
				loading = true;
				console.log(self);
				setTimeout(function() {
					console.log('4444444');
					selectColumnSendPro(0);
					loading = false;
					$(".weui-pull-to-refresh").pullToRefreshDone();
				}, 1000); //模拟延迟
			});
			//通过id，获取到当前的column，然后发送协议
			//flag=0刷新，=1加载更多
			function selectColumnSendPro(flag) {
				console.log('selectColumnSendPro');
				for(var i = 0; i < columnData.items.length; i++) {
					var tempModel = columnData.items[i];
					console.log('开始匹配id:' + tempModel.chnid + ',' + newsColumn.chnid + ',' + tempModel.cname);
					if(tempModel.chnid == newsColumn.chnid) {
						if(flag == 0) {
							tempModel.newsPage = 1;
						}
						console.log('id匹配完成');
						tempModel.newsFlag = flag;
						getNewsList(tempModel);
						break;
					}
				}
			}
			window.onload = function() {
				//获取所有的栏目
				getSumColumn();
				setTimeout(function() {
					var all_width = document.getElementsByClassName('category_nav')[0].scrollWidth;
					$('.category_nav').css({
						'width': all_width + 'px'
					})
					var myscroll = new iScroll("wrapper", {
						scrollX: true,
						scrollY: false,
						hScrollbar: false,
						vScrollbar: true,
						vScroll: false
					});
				}, 1000); //模拟延迟
			};
			//获取所有的栏目
			function getSumColumn() {
				var tempData = {
					cmd: 'chn', //网站栏目
					type: 'findpage', //分页查找栏目列表
					pagesize: 999, //每页条数
					pageindex: 1 //页码
				}
				unitWebsitePro(tempData, function(data) {
					if(data.RspCode == 0) {

						if(data.RspData.dt.length > 0) {
							//塞入页码、加载状态等自定义参数
							for(var tempItem in data.RspData.dt) {
								data.RspData.dt[tempItem].newsPage = 1; //获取新闻的页码
								data.RspData.dt[tempItem].newsFlag = 0; //0刷新，1加载更多
								data.RspData.dt[tempItem].newsArray = []; //栏目对应的新闻列表
								if(tempItem == 0) {
									data.RspData.dt[tempItem].active = true;
								} else {
									data.RspData.dt[tempItem].active = false;
								}
							}
							columnData.items = data.RspData.dt;
							newsColumn = columnData.items[0];
							//获取索引为0的栏目新闻列表
							getNewsList(columnData.items[0]);
						} else {
							alert('暂时还没有栏目');
						}
					} else {
						alert(data.RspTxt);
					}
				});
			};
			//获取栏目对应的新闻
			function getNewsList(columnModel) {
				console.log('获取新闻列表');
				var tempData = {
					cmd: 'news', //文章管理
					type: 'findpage', //分页查找文章列表
					pagesize: '15', //每页条数
					pageindex: columnModel.newsPage, //页码
					chnid: columnModel.chnid //某个栏目下的文章，栏目id
				}
				unitWebsitePro(tempData, function(data) {
					if(data.RspCode == 0) {
						if(data.RspData.dt.length > 0) {
							columnModel.newsPage++;
							console.log('columnModel.newsFlag:' + columnModel.newsFlag);
							//判断是刷新0，还是加载更多1
							if(columnModel.newsFlag == 0) {
								columnModel.newsArray = [].concat(data.RspData.dt);
								setTimeout(function() {
									$(".weui-loadmore").hide();
									loading = false;
									$(".weui-pull-to-refresh").pullToRefreshDone();
								}, 1000); //模拟延迟
							} else {
								setTimeout(function() {
									columnModel.newsArray = columnModel.newsArray.concat(data.RspData.dt);
									$(".weui-loadmore").hide();
									loading = false;
									$(".weui-pull-to-refresh").pullToRefreshDone();
								}, 1000); //模拟延迟
							}
						} else {
							//判断是刷新0，还是加载更多1
							if(columnModel.newsFlag == 0) {
								setTimeout(function() {
									$(".weui-loadmore").hide();
									loading = false;
									$(".weui-pull-to-refresh").pullToRefreshDone();
								}, 1000); //模拟延迟
							} else {
								$.toast('没有更多数据了');
								setTimeout(function() {
									$(".weui-loadmore").hide();
									loading = false;
									$(".weui-pull-to-refresh").pullToRefreshDone();
								}, 2000); //模拟延迟
							}
						}
						//每个选项栏的高度重新调整
						var allheight = document.getElementsByClassName('weui-tab')[0].scrollHeight;
						var barheight = document.getElementsByClassName('weui-tabbar')[0].scrollHeight;
						$('.weui-tab__bd').css({
							'height': (allheight - barheight) * 100 / allheight + '%'
						});
						$('.weui-tab__bd-item').css({
							'height': (allheight - barheight) * 100 / allheight + '%'
						});
					} else {
						alert(data.RspTxt);
					}
				});
			}
		</script>
	</body>

</html>