<!--
	作者：444811716@qq.com
	时间：2017-07-04
	描述：网站配置
-->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>添加成绩单</title>
		<script type="text/javascript">
			var WebVersion = "?" + Math.random();
			document.write('<link rel="stylesheet" href="../../../js/H-ui.admin/static/h-ui/css/H-ui.min.css' + WebVersion + '" />');
			document.write('<link rel="stylesheet" href="../../../js/H-ui.admin/static/h-ui.admin/css/H-ui.admin.css' + WebVersion + '" />');
			document.write('<link rel="stylesheet" href="../../../js/H-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css' + WebVersion + '" />');
			document.write('<link rel="stylesheet" href="../../../js/H-ui.admin/static/h-ui.admin/skin/default/skin.css' + WebVersion + '" id="skin" />');
			document.write('<link rel="stylesheet" href="../../../js/H-ui.admin/static/h-ui.admin/css/style.css' + WebVersion + '" />');
		</script>
		<link rel="stylesheet" href="../../../js/demoCssJs/weui.min.css">
		<link rel="stylesheet" href="../../../js/demoCssJs/jquery-weui.css">
		<link rel="stylesheet" href="../../../js/demoCssJs/demos.css">
		<link rel="stylesheet" href="../../../css/demos.css" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<style>
			.weui-cells {
				margin-top: 0px;
			}
			
			.weui-cells__title {
				color: black;
			}
		</style>
	</head>

	<body>

		<div id="content">
			<p style="color: black;margin-top: 10px;margin-left: 10px;">{{info.cname+" "}}<a id="exportExcel" type="button" class="btn btn-success radius" onclick="clickExport()">导出</a></p>
			
			<p style="font-size: 12px;color: darkgray;margin-left: 10px;">{{info.dptname+" "+info.recname+" "+info.rectime.replace("T"," ")}}</p>
			
			<div id="column_table" class="page-container">

				<table class="table table-border table-bordered table-bg">
					<thead class="text-c">
						<tr>
							<th>姓名</th>
							<th v-for="(item,index) in subs">{{item.subname}}</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-c" v-for="(item,index) in stu_data">
							<td>{{item.stuname}}</td>
							<td v-for="(item1,index1) in subs">{{item['score'+item1.subid]}}</td>

						</tr>
					</tbody>
				</table>
			</div>

		</div>

		</div>

		<script src="../../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/demoCssJs/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/demoCssJs/iscroll.js"></script>
		<script src="../../../js/demoCssJs/jquery-weui.js"></script>
		<script src="../../../js/weui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/PublicProtocol.js"></script>
		<script src="../../../js/utils/utils.js"></script>
		<script src="../../../js/utils/storageutil.js"></script>
		<script src='../../../js/lib/vconsole/vconsole.min.js'></script>
		<script src="https://jsypay.jiaobaowang.net/wxthadmin/js/weui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src='https://jsypay.jiaobaowang.net/wxthadmin/js/demoCssJs/vue.min.js'></script>
		<script src='https://jsypay.jiaobaowang.net/wxthadmin/js/PublicProtocol.js'></script>
		<script src='https://jsypay.jiaobaowang.net/wxthadmin/js/utils/utils.js'></script>
		<script src='https://jsypay.jiaobaowang.net/wxthadmin/js/utils/storageutil.js'></script>

		<script src="../../../js/appweb/choose-file.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/utils/consts.js"></script>
		<script src="../../../js/utils/events.js"></script>
		<script type="text/javascript">
			document.write("<s" + "cript type='text/javascript' src='../../../js/lib/exif/exif.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../../js/lib/plupload/moxie.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../../js/lib/plupload/plupload.full.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../../js/lib/qiniu/qiniu.min.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../../js/utils/cryption.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../../js/utils/cloudutil.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../../js/utils/compress.js?" + Math.random() + "'></s" + "cript>");
			document.write("<s" + "cript type='text/javascript' src='../../../js/utils/pluploadutil.js?" + Math.random() + "'></s" + "cript>");
		</script>
		<script>
			var content = new Vue({
				el: '#content',
				data: {
					info: {},
					subs: [],
					stu_data: [],

				},
				methods: {}

			})
			var dptid;
			var examid;
			window.onload = function() {
				var detail = utils.getDataFromUrl(window.location.href);
				console.log('detail=' + JSON.stringify(detail));
				dptid = detail.dptid;
				examid = detail.examid;

				getexam()
			}

			function getexam() {
				var tempData = {
					cmd: 'examadmin',
					type: 'findpage',
					dptid: dptid,
					examid: examid,
					pagesize: 10,
					pageindex: 1
				}
				console.log("查询参数：" + JSON.stringify(tempData));
				unitWebsitePro(tempData, function(data) {
					console.log("成绩单" + JSON.stringify(data));
					if(data.RspCode == 0) {
						var subid_arr = [];
						var stuname_arr = [];
						var dt2 = data.RspData.dt2;
						content.info = data.RspData.dt[0];
						for(var i = 0; i < dt2.length; i++) {
							var model = dt2[i];
							var tempObj = {
								subid: model.subid,
								subname: model.subname,
							}
							if(subid_arr.indexOf(model.subid) == -1) {
								subid_arr.push(model.subid);
								content.subs.push(tempObj);
							}
							if(stuname_arr.indexOf(model.stuname) == -1) {
								stuname_arr.push(model.stuname);
							}

						}
						for(var i = 0; i < stuname_arr.length; i++) {
							var stuname = stuname_arr[i];
							var score_obj = {};
							for(var k = 1; k < subid_arr.length; k++) {
								var subid = subid_arr[k]
								score_obj['score' + subid] = "";
							}
							for(var j = 0; j < dt2.length; j++) {
								var model = dt2[j]
								if(model.stuname == stuname) {
									score_obj['score' + model.subid] = model.subscore;
								}
							}
							score_obj.stuname = stuname;
							content.stu_data.push(score_obj);
						}
					} else {
						content.info = {
							cname: "开发部成绩单",
							dptname: "开发部",
							recname: "宋艳明",
							rectime: "2017/12/6T14:00"
						}
						content.stu_data = [{
							stuname: '宋艳明',
							score1: 100,
							score2: 100,
							score3: "",
							score4: 100,
						}, {
							stuname: '顾元生',
							score1: 90,
							score2: 90,
							score3: 90,
							score4: 90,
						}]
					}
				});
			}
						//导出统计表
			var clickExport = function() {
				// 使用outerHTML属性获取整个table元素的HTML代码（包括<table>标签），然后包装成一个完整的HTML文档，设置charset为urf-8以防止中文乱码
				var html = "<html><head><meta charset='utf-8' /></head><body>" + document.getElementsByTagName("table")[0].outerHTML + "</body></html>";
				html = html.replace('<table', '<table border="1"');
				// 实例化一个Blob对象，其构造函数的第一个参数是包含文件内容的数组，第二个参数是包含文件类型属性的对象
				var blob = new Blob([html], {
					type: "application/vnd.ms-excel"
				});
				var a = document.getElementById("exportExcel");
				// 利用URL.createObjectURL()方法为a元素生成blob URL
				a.href = URL.createObjectURL(blob);
				// 设置文件名，目前只有Chrome和FireFox支持此属性
				a.download = content.info.cname+".xls";
			}
		</script>
	</body>

</html>